doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="format-detection" content="telephone=no")
    meta(name="title" content="")
    meta(name="description" content="")
    link(href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="../css/main.css")
    link(rel="stylesheet" type="text/css" href="../css/bx-slider.css")
    script(type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.min.js")
    script(type="text/javascript" src="../js/jquery.bxslider.min.js")
    script(type="text/javascript" src="../js/bx-slider.js")
    script(type="text/javascript" src="../js/main.js")
    script(type="text/javascript" src="../js/fixed.js")
    script(type="text/javascript" src="../js/scrollto.js")
    title Tour Voyage
  body
    include header.pug
    .top-about
      .wrapper-inner
        .tour__name.tour__name2 Египет
        .top-about__nav
          nav.nav-block
              ul.nav-block__ul.clearfix
                li.nav-block__li 
                  a.nav-block__a(href="index.html") Главная
                li.nav-block__li
                  span.nav-block__a /
                li.nav-block__li 
                  a.nav-block__a(href="tour.html") Туры
                li.nav-block__li
                  span.nav-block__a /
                li.nav-block__li 
                  a.nav-block__a(href="tour.html") Египет
                li.nav-block__li
                  span.nav-block__a /
                li.nav-block__li 
                  span.nav-block__span Dream Vacation Resort 5*
        .top-about__galery
          .steps-galery#steps
            .main-galery
              .bx-wrapper-galery
                .galery__description Dreams Vacation Resort 5*
                .bx-viewport
                  .items-galery
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
              .link-galery.animation-block.galery-preview.clearfix
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/b1.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                .galery__show.clearfix показать все
              .anchor__none
    #menu.fixed-menu.default
      .wrapper-inner
        .fixed-menu__content.clearfix
          .fixed-menu__block.clearfix
            .fixed-menu__picture
              img(src="../img/pl1.svg")
            .fixed-menu__description
              a.fixed-menu__link(href="#") ШАРМ-ЭЛЬ-ШЕЛЬХ,
              span  
              a.fixed-menu__link(href="#") Египет
              .fixed-menu__label 21 июня - 25 июля
          .fixed-menu__block.clearfix
            .fixed-menu__picture
              img(src="../img/pl2.svg")
            .fixed-menu__description
              a.fixed-menu__link(href="#") Dreams Vacation Resort 5*
              .fixed-menu__label питание
          .fixed-menu__block.clearfix
            .fixed-menu__picture
              img(src="../img/pl3.svg")
            .fixed-menu__description
              .fixed-menu__label2 Вылет из:
              a.fixed-menu__link.fixed-menu__link2(href="#") Киев
          .fixed-menu__block
            .fixed-menu__price 47 500 
              span.fixed-menu__price--span uan
          .fixed-menu__block
            .forma__submit.fixed-menu__submit.fixed-menu__submit-push Забронировать тур
            

    .about
      .wrapper-inner
        .about__content.clearfix
          .about__left
            .about__name.about__name-margin Описание тура
            .about__block-table
              table.about__table
                tr.about__tr
                  td.about__td1 ID тура:
                  td.about__td2
                  td.about__td3 458963
                tr.about__tr
                  td.about__td1 Тип тура:
                  td.about__td2
                  td.about__td3
                    a.about__link(href="#") Египет
                tr.about__tr
                  td.about__td1 Страна:
                  td.about__td2
                  td.about__td3
                    a.about__link(href="#") Египет
                tr.about__tr
                  td.about__td1 Курорт:
                  td.about__td2
                  td.about__td3
                    a.about__link(href="#") Шарм-эль-шельх
                tr.about__tr
                  td.about__td1 Отель:
                  td.about__td2
                  td.about__td3
                    a.about__link(href="#") Dreams vacation resort 5*
                tr.about__tr
                  td.about__td1 Отправка из:
                  td.about__td2
                  td.about__td3.about__td3-upper Киев
                tr.about__tr
                  td.about__td1 Продолжительность (д/н):
                  td.about__td2
                  td.about__td3 7/7
            .about__desc Описание отеля:
            .about__text-all
              p Шарм-эль-Шейх, а если быть точным Шарм-эш-Шейх - курортный город Египта на побережье Красного моря, на самой оконечности Синая. Не первый десяток лет считающися местом всеобщего расслабления, царство шведских столов, валяния на пляже, необузданного шоппинга и многого другого, так милого сердцу неискушенного туриста.
              p Город, ставший для нас одним из первых в зарубежных набегах на рынки, после падения железного занавеса. А так ли мы много о нем знаем? Таким ли он является на самом деле? Убеждены, что даже тот, кто ездит в Египет чаще, чем к себе на дачу, до конца не знает его. Шарм-эль-Шейх, а если быть точным Шарм-эш-Шейх - курортный город Египта на побережье 
                span.about__text-span1 Красного моря, на самой оконечности Синая. Не первый
                span.about__text-span2 десяток лет считающися местом всеобщего расслабления, царство шведских столов, 
                span.about__text-span3 валяния на пляже, необузданного шоппинга и многого другого, 
                span.about__text-span4 так милого сердцу неискушенного туриста.
            .about__text-all.about__text-hide
              p Шарм-эль-Шейх, а если быть точным Шарм-эш-Шейх - курортный город Египта на побережье Красного моря, на самой оконечности Синая. Не первый десяток лет считающися местом всеобщего расслабления, царство шведских столов, валяния на пляже, необузданного шоппинга и многого другого, так милого сердцу неискушенного туриста.
              p Город, ставший для нас одним из первых в зарубежных набегах на рынки, после падения железного занавеса. А так ли мы много о нем знаем? Таким ли он является на самом деле? Убеждены, что даже тот, кто ездит в Египет чаще, чем к себе на дачу, до конца не знает его. Шарм-эль-Шейх, а если быть точным Шарм-эш-Шейх - курортный город Египта на побережье
              p Шарм-эль-Шейх, а если быть точным Шарм-эш-Шейх - курортный город Египта на побережье Красного моря, на самой оконечности Синая. Не первый десяток лет считающися местом всеобщего расслабления, царство шведских столов, валяния на пляже, необузданного шоппинга и многого другого, так милого сердцу неискушенного туриста.
              p Город, ставший для нас одним из первых в зарубежных набегах на рынки, после падения железного занавеса. А так ли мы много о нем знаем? Таким ли он является на самом деле? Убеждены, что даже тот, кто ездит в Египет чаще, чем к себе на дачу, до конца не знает его. Шарм-эль-Шейх, а если быть точным Шарм-эш-Шейх - курортный город Египта на побережье
            .about__more Подбробнее
          .about__right
            .about__forma
              form(name="date" id="choice-of-dates")
                .about__forma-top.clearfix
                  .about__date 
                    .about__desc Дата тура:
                  .about__change
                    select.about__change-select(size="1" name="about-date" required)
                      option(value="about-date1") 21 июня - 25 июля
                      option(value="about-date1") 18 июня - 5 июля
                      option(value="about-date1") 16 июня - 2 июля
                      option(value="about-date1") 2 июня - 30 июля
                      option(value="about-date1") 9 июня - 9 июля
                .about__bottom.clearfix
                  .about__text
                    .about__desc Стоимость тура:
                    .about__people на одного человека
                    .about__kol 45 500 
                      span.about__kol--span UAH
                  .about__push
                    .fixed-menu__submit-push.forma__submit Забронировать тур
                .about__part-list.clearfix
                  .about__part-block
                    .about__desc В стоимость входит:
                    ul.about__plus-ul
                      li.about__plus-li Перелет
                        .about__plus-icon
                        .about__hint
                          p - Экскурсии в Шарм Ель Шейхе
                          p - Экскурсии в Табе
                          p - Экскурсии в Дахабе
                          p - Экскурсии в Нувейбе
                      li.about__plus-li Питание
                        .about__plus-icon
                        .about__hint
                          p - Экскурсии в Шарм Ель Шейхе
                          p - Экскурсии в Табе
                          p - Экскурсии в Дахабе
                          p - Экскурсии в Нувейбе
                      li.about__plus-li Виза
                        .about__plus-icon
                        .about__hint
                          p - Экскурсии в Шарм Ель Шейхе
                          p - Экскурсии в Табе
                          p - Экскурсии в Дахабе
                          p - Экскурсии в Нувейбе
                      li.about__plus-li Страховка
                  .about__part-block
                    .about__desc В стоимость не входит:
                    ul.about__plus-ul
                      li.about__plus-li.about__min-li Экскурсии
                        .about__plus-icon
                        .about__hint
                          p - Экскурсии в Шарм Ель Шейхе
                          p - Экскурсии в Табе
                          p - Экскурсии в Дахабе
                          p - Экскурсии в Нувейбе
                      li.about__plus-li.about__min-li Трансфер
            .about__consult.clearfix
              .about__consult-picture
                img.about__consult-size(src="../img/girls.png")
                .about__consult-icon 
                  img(src="../img/yell.svg")
              .about__consult-desc
                .about__consult-text Не подошла дата или возникли трудности с подбором и/или заказом? Тогда просто позвоните нашим менеджерам по телефонам, указанным ниже, и мы Вам поможем!
                .about__tel
                  p +38 (044) 2235 838
                  p +38 (067) 6594 950
                  p +38 (066) 0808 478
                .about__consult-text.about__consult-position или
                .about__button-form заполните форму для подбора тура
    .supply
      .wrapper-inner
        .rest__name Похожие предложения
        .hot__content
          .hot__part.clearfix
            .hot__block
              a.hot__block-link(href="#")
                .hot__icon-one
                  img.hot__icon-one--size(src="../img/icon-1.png")
                .hot__icon-two 999 999 
                  span.hot__icon-two--span UAH
                .hot__picture 
                  img.hot__picture--size(src="../img/hot-1.png")
                .hot__description
                  .hot__desc-top
                    .hot__desc-title Dreams Vacation Resort 5*  
                  .hot__desc-more
                    p Отель: Dreams Vacation Resort 5*
                    p Страна: Китай
                    .hot__desc-button Узнать больше
            .hot__block
              a.hot__block-link(href="#")
                .hot__icon-one
                  img.hot__icon-one--size(src="../img/icon-1.png")
                .hot__icon-two 999 999 
                  span.hot__icon-two--span UAH
                .hot__picture 
                  img.hot__picture--size(src="../img/hot-2.png")
                .hot__description
                  .hot__desc-top
                    .hot__desc-title Dreams Vacation Resort 5*  
                  .hot__desc-more
                    p Отель: Dreams Vacation Resort 5*
                    p Страна: Китай
                    .hot__desc-button Узнать больше
            .hot__block
              a.hot__block-link(href="#")
                .hot__icon-one
                  img.hot__icon-one--size(src="../img/icon-1.png")
                .hot__icon-two 999 999 
                  span.hot__icon-two--span UAH
                .hot__picture 
                  img.hot__picture--size(src="../img/hot-3.png")
                .hot__description
                  .hot__desc-top
                    .hot__desc-title Dreams Vacation Resort 5*  
                  .hot__desc-more
                    p Отель: Dreams Vacation Resort 5*
                    p Страна: Китай
                    .hot__desc-button Узнать больше
          a.hot__button(href="#") Показать еще
    include footer.pug
    include popup-call.pug
    include popup-selection.pug
    include popup-tour.pug
    include popup-assortment.pug








