extends layout.pug
block title
  title Авиабилеты
block search-tour
  .search-tour.avia
    .wrapper-inner
      .tour__name Авиабилеты
      .search-tour__content
        .search-tour__part.clearfix
          .search-tour__block
            .search-tour__modul
          .search-tour__banner
            a.search-tour__link(href="#")
              .search-tour__button Подробнее
