.blog__top-form
  .blog__top-form-mobile
    .blog__heading
      .depiction__name Рубрики
      .blog__forums.clearfix
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric1" id="divide1")
          label.blog__label(for="divide1") Все
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric2" id="divide2")
          label.blog__label(for="divide2") Акции
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric3" id="divide3")
          label.blog__label(for="divide3") Экзотика
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric4" id="divide4")
          label.blog__label(for="divide4") Новости компании
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric5" id="divide5")
          label.blog__label(for="divide5") Турция
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric6" id="divide6")
          label.blog__label(for="divide6") В помощь туристу
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric7" id="divide7")
          label.blog__label(for="divide7") Турция
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric8" id="divide8")
          label.blog__label(for="divide8") Обзоры стран
        .blog__change
          input.blog__checbox(type="checkbox" name="rubric9" id="divide9")
          label.blog__label(for="divide9") Документы
      a.blog__button(href="#") Выбрать
  .sub-two
