.blog__wrap
  a.blog__wrap-link(href="#")
    .blog__picture
      img.blog__picture--size(src="../img/blog1.png")
      .blog__hover
        .blog__hover-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae repellat animi corporis maiores quos suscipit sint ipsa hic aperiam omnis, eaque accusantium esse! Mollitia explicabo dolor blanditiis tempore, quo nesciunt, dolorem minima quis, reiciendis quidem sequi magni consequatur hic
        .blog__hover-rating
          span.blog__hover-span Рейтинг:
          img.blog__hover-img(src="../img/stars3.svg")
          img.blog__hover-img(src="../img/stars3.svg")
          img.blog__hover-img(src="../img/stars3.svg")
          img.blog__hover-img(src="../img/stars3.svg")
          img.blog__hover-img(src="../img/stars3.svg")
        .blog__hover-rating
          span.blog__hover-span Просмотров:
          span.blog__hover-span2 214
        a.blog__hover-button(href="#") Узнать больше        
    .blog__text
      .blog__date 6 мая 2016 / Акции
      .blog__news Lorem ipsum dolor sit amet, consectetur adipisicing elit
