.blog__popular-block
  a.blog__popular-link(href="#")
    .blog__popular-picture
      img.blog__popular-picture--size(src="../img/blog1.png")
    .blog__popular-text
      .blog__popular-date 6 мая 2016 / Акции
      .blog__popular-news Lorem ipsum dolor sit amet, consectetur adipisicing elit
