.city__part
  .city__block.clearfix
    .city__picture
      img.city__picture--size(src="../img/c1.png")
    .city__version
      .city__version-name Dreams Vacation Resort 5*
      .city__version-description
        p Дата:  12.06.15-17.06.15
        p Дней / ночей:  7 / 7
        p Отель:  Назвиние отеля 5*
      .city__version-bottom
        .city__price
          span.city__span2 47 500 
          span.depiction__span3 uan 
          a.city__version-link(href="#") Побробнее
  .city__block.clearfix
    .city__picture
      img.city__picture--size(src="../img/c2.png")
    .city__version
      .city__version-name Dreams Vacation Resort 5*
      .city__version-description
        p Дата:  12.06.15-17.06.15
        p Дней / ночей:  7 / 7
        p Отель:  Назвиние отеля 5*
      .city__version-bottom
        .city__price
          span.city__span2 47 500 
          span.depiction__span3 uan 
          a.city__version-link(href="#") Побробнее
  .city__block.clearfix
    .city__picture
      img.city__picture--size(src="../img/c3.png")
    .city__version
      .city__version-name Dreams Vacation Resort 5*
      .city__version-description
        p Дата:  12.06.15-17.06.15
        p Дней / ночей:  7 / 7
        p Отель:  Назвиние отеля 5*
      .city__version-bottom
        .city__price
          span.city__span2 47 500 
          span.depiction__span3 uan 
          a.city__version-link(href="#") Побробнее
  .city__block.clearfix
    .city__picture
      img.city__picture--size(src="../img/c4.png")
    .city__version
      .city__version-name Dreams Vacation Resort 5*
      .city__version-description
        p Дата:  12.06.15-17.06.15
        p Дней / ночей:  7 / 7
        p Отель:  Назвиние отеля 5*
      .city__version-bottom
        .city__price
          span.city__span2 47 500 
          span.depiction__span3 uan 
          a.city__version-link(href="#") Побробнее
  .city__block-more
    .city__icon-one
      a(href="#")
        img.city__icon-one--size(src="../img/left2.svg")
    .city__icon-two
      a(href="#")
        img.city__icon-one--size(src="../img/right2.svg")
