extends layout.pug
block title
  title О компании
append css
  link(rel="stylesheet" type="text/css" href="../css/magnific-popup.css")
append js
  script(type="text/javascript" src="../js/jquery-1.7.2.min.js")
  script(type="text/javascript" src="../js/jquery.magnific-popup.min.js")
  script(type="text/javascript" src="../js/common.js")
  script(type="text/javascript" src="../js/owl.carosel.min.js")
  script(type="text/javascript" src="../js/owl-slider.js")
block company
  .company
    .wrapper-inner
      +AddName('О компании')
      .company__content
        .company__picture
          img.company__picture--size(src="../img/company2.png")
  .comapany-description
    .wrapper-inner
      .comapany-description__content
        .comapany-description__title QUEEN TOUR VOYAGE 
          span.comapany-description__title--span - это:
        .comapany-description__part.clearfix
          .comapany-description__block.clearfix
            .comapany-description__picture
              img.comapany-description__picture--size(src="../img/comp3.png")
            .comapany-description__dep
              +AddCompanyName('Широкий выбор туров')
              .hotels-one__more Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите лучшие предложения, согласно Вашим потребностям и желаниям.
          .comapany-description__block.clearfix
            .comapany-description__picture
              img.comapany-description__picture--size(src="../img/comp3.png")
            .comapany-description__dep
              +AddCompanyName('Высокий профессионализм')
              .hotels-one__more Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите лучшие предложения, согласно Вашим потребностям и желаниям. Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите лучшие предложения, согласно Вашим потребностям и желаниям.
          .comapany-description__block.clearfix
            .comapany-description__picture
              img.comapany-description__picture--size(src="../img/comp3.png")
            .comapany-description__dep
              +AddCompanyName('Широкий выбор')
              .hotels-one__more Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите лучшие предложения, согласно Вашим потребностям и желаниям.
          .comapany-description__block.clearfix
            .comapany-description__picture
              img.comapany-description__picture--size(src="../img/comp3.png")
            .comapany-description__dep
              +AddCompanyName('Высокий профессионализм сотрудников')
              .hotels-one__more Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите лучшие предложения, согласно Вашим потребностям и желаниям. Мы сотрудничаем с ведущими туроператорами, а значит
        .comapany-description__text
          include depiction__name.pug
          .hotels-one__more
            p «QUEEN TOUR VOYAGE» - это туристическая компания для тех, кто любит изысканный королевский отдых.
            p Путешествуйте на яхтах стоимостью в миллионы долларов, проживайте в загадочных и древних дворцах, отправляйтесь на моря и океаны, где ранее ступала нога только очень богатых и знатных вельмож, или же отдайте предпочтение экстремальному отдыху в диких условиях с коренным населением — аборигенами. Туристическая компания QUEEN TOUR VOYAGE осуществит любые Ваши желания.
            p 
              strong QUEEN TOUR VOYAGE — это нечто большее, нежели просто путешествия высокого уровня. 
              span К каждому нашему клиенту мы ищем свой особый подход, чтобы понять его истинные желания и удовлетворить их в полном объеме. Наша задача — организовать для Вас сплошной праздник, длинною в отпуск, а не любой ценой продать Вам путевку.
            p Наша особенность — это тщательное планирование Вашего путешествия. Мы говорим твердое «НЕТ» стереотипам и подготовим для Вас тур по удивительным местам. Пока другие туристы будут ходить тропами, где ежедневно проходят сотни таких же путешественников со всего мира, Вы сможете посетить самые изысканные места: разгадаете тайны древних восточных цивилизаций, ощутите дух Средневековой Европы, отдохнёте на мягких песчаных пляжах или почувствуете дух авантюризма и подниметесь на крутую гору или вершину. Мы сделаем все, чтобы Вы почувствовали себя VIP-персоной.
        .comapany-description__text
          +AddCompanyName('Мы сделали это для вас:')
          ul.comapany-description__ul
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
            li.hotels-one__item подготовим для Вас незабываемое путешествие в любую страну мира;
          .hotels-one__more С  QUEEN TOUR VOYAGE Вы почувствуете себя королевской особой, а мы, в свою очередь, осуществим Ваши мечты. Путешествуйте!
  .slider-sertificate
    .wrapper-inner
      .slider-sertificate__content
        include depiction__name.pug
        .owl-carousel#owl-demo-two
          .item
            .item-sert2
              a.big(href="../img/serf-1.png")
                img.item-sert--img2(src="../img/serf-1.png")
          .item
            .item-sert2
              a.big(href="../img/serf-2.png")
                img.item-sert--img2(src="../img/serf-2.png")
          .item
            .item-sert2
              a.big(href="../img/serf-3.png")
                img.item-sert--img2(src="../img/serf-3.png")
          .item
            .item-sert2
              a.big(href="../img/serf-4.png")
                img.item-sert--img2(src="../img/serf-4.png")
          .item
            .item-sert2
              a.big(href="../img/serf-3.png")
                img.item-sert--img2(src="../img/serf-3.png")
          .item
            .item-sert2
              a.big(href="../img/serf-4.png")
                img.item-sert--img2(src="../img/serf-4.png")
