doctype html
html(lang="ru") 
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="format-detection" content="telephone=no")
    meta(name="title" content="")
    meta(name="description" content="")
    link(href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="../css/main.css")
    link(rel="stylesheet" type="text/css" href="../css/bx-slider.css")
    script(type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.min.js")
    script(type="text/javascript" src="../js/2.0.2.js")
    script(type="text/javascript" src="../js/main.js")
    script(type="text/javascript" src="../js/jquery.bxslider.min.js")
    script(type="text/javascript" src="../js/bx-slider.js")
    script(type="text/javascript" src="../js/fixed.js")
    script(type="text/javascript" src="../js/scrollto.js")
    title Tour Voyage
  body
    include header.pug
    .region
      .wrapper-inner
        .tour__name.tour__name2 Австрия
        .top-about__nav
          nav.nav-block
            ul.nav-block__ul.clearfix
              li.nav-block__li 
                a.nav-block__a(href="index.html") Главная
              li.nav-block__li
                span.nav-block__a /
              li.nav-block__li 
                a.nav-block__a(href="country.html") Страны
              li.nav-block__li
                span.nav-block__a /
              li.nav-block__li 
                span.nav-block__span Австрия
        .top-about__galery
          .steps-galery2#steps
            .main-galery
              .bx-wrapper-galery2
                .bx-viewport
                  .items-galery
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/reg-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
                    .item-galery.bx-clone
                      .item-galery__img
                        a(href="#")
                          img.item-galery__size(src="../img/big-main.png")
              .link-galery.animation-block.galery-preview.clearfix
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/reg1.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/reg2.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/reg3.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/reg4.png")
                a.animate-me.animated.galery-preview__a(href="#")
                  img.galery-icon.icon-2(src="../img/reg5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b2.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b3.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b4.png")
                a.animate-me.animated.galery-preview-open__a(href="#")
                  img.galery-icon.icon-2(src="../img/b5.png")
                .galery__show.clearfix показать все
              .anchor__none
    #menu2.anchor.default2
      .wrapper-inner
        .anchor__navigation
            ul.anchor__ul.clearfix
              li.anchor__li 
                a.anchor__a.scrollto(href="#top1") О стране
              li.anchor__li
                a.anchor__a.scrollto(href="#top2") Праздники
              li.anchor__li
                a.anchor__a.scrollto(href="#top3") Стоит посетить
              li.anchor__li
                a.anchor__a.scrollto(href="#top4") Таможенные правила
              li.anchor__li
                a.anchor__a.scrollto(href="#top5") Туры в Австрию
    .depiction
      .wrapper-inner
        #top1
        .depiction__wrap.clearfix
          .depiction__content
            .depiction__desc
              .depiction__name О стране
              .depiction__text 
                p Австрия - самая красивая страна центральной Европы. Это поистине маленькая жемчужина: горнолыжные и бальнеологические курорты, отдых на озерах, достопримечательности городов Австрии, живописные деревушки на тирольских склонах - все это привлекает в страну туристов со всего света.
              .depiction__data 
                p
                  strong Столица: 
                  span Вена
                p
                  strong Язык: 
                  span Немецкий с характерным австрийским акцентом. 
                p
                  strong Язык: 
                  span Отстает от киевского на 1 час
                p
                  strong География:
              .depiction__text.depiction__indent
                p Государство в Центральной Европе. На севере граничит с Чехией, на северо-востоке - со Словакией, на востоке - с Венгрией, на юге - со Словенией, Италией и Швейцарией, на западе - с Лихтенштейном, Швейцарией и Германией. Австрия в основном горная страна (на 70%): средний уровень составляет около 900 м, большая часть Австрии занята Восточными Альпами, которые в свою очередь подразделяются на Альпы Северного Тироля и Зальцбургские Альпы на севере; Циллертальские и Кар-никские Альпы на юге. Высшая точка - гора Гросглокнер (3797 метров), на ней находится и один из крупнейших в Европе ледников: Пастерзе.
              .depiction__data 
                p
                  strong Климат: 
              .depiction__text.depiction__indent
                p Умеренный, континентальный. Самый холодный зимний месяц – январь, температура опускается до –2 C. Самые жаркие – июль и август, температура около +20 С. Осадков от 600 до 1100 мм в год.
              .depiction__data 
                p
                  strong Валюта: 
                  span Евро
              #top2
            .depiction__desc
              .depiction__name Праздники
              .depiction__part-holidays.clearfix
                .depiction__block-holidays
                  p
                    strong 01 января:  
                    span Новый год;
                  p
                    strong 06 января:   
                    span Богоявление; 
                  p
                    strong 05 апреля:  
                    span Пасхальный Понедельник; 
                  p
                    strong 01 мая:  
                    span Государственный праздник; 
                  p
                    strong 13 мая:   
                    span Вознесение;
                  p
                    strong 24 мая:  
                    span Понедельник Пятидесятницы;  
                  p
                    strong 03 июня:    
                    span Праздник Тела Господня;
                .depiction__block-holidays
                  p
                    strong 15 августа:   
                    span Успение Богородицы; 
                  p
                    strong 26 октября:    
                    span Национальный праздник;
                  p
                    strong 01 ноября:   
                    span День Всех Святых;  
                  p
                    strong 08 декабря:   
                    span Зачатие Богородицы;  
                  p
                    strong 25 декабря:    
                    span Рождество; 
                  p
                    strong 26 декабря:   
                    span Понедельник Пятидесятницы;  
                  p
                    strong 03 июня:    
                    span День Святого Стефана.
              #top3
            .depiction__desc.depiction__desc2
              .depiction__name Стоит посетить
              .depiction__text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
              #top4
            .depiction__desc.depiction__desc2
              .depiction__name Таможенные правила
              .depiction__data 
                p
                  strong Виза:
              .depiction__text.depiction__indent
                p Австрия входит в состав стран - членов Шенгенского соглашения. Для въезда в Австрию гражданам  СНГ необходима виза.
              .depiction__data 
                p
                  strong Таможенные правила: 
              .depiction__text.depiction__indent
                p Разрешен беспошлинный ввоз до 200 сигарет или 100 сигарилл, или 50 сигар, или 250 г табака; до 1 л крепких спиртных напитков (содержание алкоголя более 22%), или до 2 л крепленых вин и ликеров (содержание алкоголя менее 22%); столового вина - до 2 л; не более 500 г кофе или 200 г кофейного экстракта; до 100 г чая или 40 г чайного экстракта; до 50 г духов и 250 мл туалетной воды; а также товаров личного использования из расчета 175 евро на одного взрослого и 90 евро на ребенка в возрасте до 15 лет. Золотые изделия и драгоценности общим весом до 500 г (для личного использования) ввозятся бесплатно, свыше этой нормы все ювелирные украшения подлежат обязательной декларации.
              #top5
          .depiction__side-bar
            .depiction__name Курорты
            ul.depiction__list
              li.depiction__item
                a.depiction__link.clearfix(href="city_1.html")
                  .depiction__city Вена
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Зальцбург
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Грац
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Линц
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Кремс
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Вена
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Линц
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Кремс
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Вена
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Вена
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Зальцбург
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Грац
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Линц
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Кремс
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Вена
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Линц
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Кремс
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Вена
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Кремс
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
              li.depiction__item
                a.depiction__link.clearfix(href="#")
                  .depiction__city Вена
                  .depiction__price
                    span.depiction__span1 от 
                    span.depiction__span2 45 000 
                    span.depiction__span3 uaн
      #top5
      .hot
        .wrapper-inner 
          .hot__content 
            .rest__name Туры в Австрию
            .depiction__serch Найдено 11 туров от 
              span.tour__cena 9 105 
              span.tour__valuta uaн
            include hot__part.pug
    include questions.pug
    include footer.pug
    include popup-call.pug
