doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="format-detection" content="telephone=no")
    meta(name="title" content="")
    meta(name="description" content="")
    link(href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="../css/main.css")
    script(type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.min.js")
    script(type="text/javascript" src="../js/main.js")
    title Tour Voyage
  body
    include header.pug
    .country
      .wrapper-inner
        .country__content
          .tour__name Страны
          .country__part.clearfix
            .country__block
              a.country__block-link(href="country_1.html")
                .country__picture
                  img.country__picture--size(src="../img/cont1.png")
                .country__eclipse
                  .country__title Австрия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont2.png")
                .country__eclipse
                  .country__title Андора
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont3.png")
                .country__eclipse
                  .country__title Англия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont4.png")
                .country__eclipse
                  .country__title Болгария
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont5.png")
                .country__eclipse
                  .country__title Австрия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont6.png")
                .country__eclipse
                  .country__title Андора
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont7.png")
                .country__eclipse
                  .country__title Англия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont8.png")
                .country__eclipse
                  .country__title Болгария
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont9.png")
                .country__eclipse
                  .country__title Австрия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont10.png")
                .country__eclipse
                  .country__title Андора
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont11.png")
                .country__eclipse
                  .country__title Англия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont12.png")
                .country__eclipse
                  .country__title Германия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont13.png")
                .country__eclipse
                  .country__title Австрия
            .country__block
              a.country__block-link(href="#")
                .country__picture
                  img.country__picture--size(src="../img/cont14.png")
                .country__eclipse
                  .country__title Андора
    include footer.pug
    include popup-call.pug
