.footer
  .wrapper-inner
    .footer__content.clearfix
      .footer__block.footer__none
        ul.footer__list
          li.footer__item 
            a.footer__link(href="tour.html") Туры
          li.footer__item 
            a.footer__link(href="country.html") Страны
          li.footer__item 
            a.footer__link(href="hotels.html") Отели
          li.footer__item 
            a.footer__link(href="search-tour.html") Найти тур
          li.footer__item 
            a.footer__link(href="avia.html") Авиабилеты
      .footer__block.footer__none
        ul.footer__list
          li.footer__item 
            a.footer__link(href="company.html") О компании
          li.footer__item 
            a.footer__link(href="sertificate.html") Подарочный сертификат
          li.footer__item 
            a.footer__link(href="documents.html") Визы и паспорта
          li.footer__item 
            a.footer__link(href="blog.html") Новостьи и статьи
          li.footer__item 
            a.footer__link(href="reviews.html") Отзывы
      .footer__block.footer__none
        .footer__about
          p +38 (044) 2235 838,
          p +38 (067) 6594 950,
          p +38 (066) 0808 478
          p г. Киев, ул.
          p Гоголевская 10, оф. 1а
      .footer__mobile-block
        p Queen Tour Voyage
        p Лучшие туры, 2016
        .footer__mobile-adr г. Киев, ул. Гоголевская 10, оф. 1а
      .footer__block
        .footer__soc-name.footer__none Мы в социальных сетях:
        .footer__soc-part.clearfix.footer__none
          a(href="#")
            .footer__soc-block.footer__inst
          a(href="#")
            .footer__soc-block.footer__fb
          a(href="#")
            .footer__soc-block.footer__vk
        .footer__slogan Проект разработан в студии интернет-маркетинга с душой и стилем 
        .footer__logo
          a(href="#")
            img(src="../img/logo-web.png")
        .footer__logo-hover
          a(href="#")
            img(src="../img/logo-web2.png")
