.top-about__galery
  .steps-galery2#steps
    .main-galery
      .bx-wrapper-galery2
        .bx-viewport
          .items-galery
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/reg-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
            .item-galery.bx-clone
              .item-galery__img
                a(href="#")
                  img.item-galery__size(src="../img/big-main.png")
      .link-galery.animation-block.galery-preview.clearfix
        a.animate-me.animated.galery-preview__a(href="#")
          img.galery-icon.icon-2(src="../img/reg1.png")
        a.animate-me.animated.galery-preview__a(href="#")
          img.galery-icon.icon-2(src="../img/reg2.png")
        a.animate-me.animated.galery-preview__a(href="#")
          img.galery-icon.icon-2(src="../img/reg3.png")
        a.animate-me.animated.galery-preview__a(href="#")
          img.galery-icon.icon-2(src="../img/reg4.png")
        a.animate-me.animated.galery-preview__a(href="#")
          img.galery-icon.icon-2(src="../img/reg5.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b2.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b3.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b4.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b5.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b2.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b3.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b4.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b5.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b2.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b3.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b4.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b5.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b2.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b3.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b4.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b5.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b4.png")
        a.animate-me.animated.galery-preview-open__a(href="#")
          img.galery-icon.icon-2(src="../img/b5.png")
        .galery__show.clearfix показать все
      .anchor__none
