.header-mobile
  .header-mobile__block
    .header-mobile__navigation
      .header-mobile__list
        ul.header-mobile__ul.clearfix
          li.header-mobile__li.header-mobile__left
            a.header-mobile__a(href="tour.html") Туры
          li.header-mobile__li.header-mobile__left
            a.header-mobile__a(href="country.html") Страны
          li.header-mobile__li.header-mobile__left
            a.header-mobile__a(href="hotels.html") Отели
          li.header-mobile__li.header-mobile__left
            a.header-mobile__a(href="search-tour.html") Найти тур
          li.header-mobile__li.header-mobile__left
            a.header-mobile__a(href="avia.html") Авиабилеты
          li.header-mobile__li.header-mobile__left
            a.header-mobile__a(href="company.html") О компании 
          li.header-mobile__li.header-mobile__left
            a.header-mobile__a(href="contact.html") Контакты
  .header-mobile__block
    .header-mobile__list
      ul.header-mobile__ul
        li.header-mobile__li
          a.header__link.header-mobile__font(href="sertificate.html") Подарочный сертификат
        li.header-mobile__li
          a.header__link.header-mobile__font(href="documents.html") Визы и паспорта
        li.header-mobile__li
          a.header__link.header-mobile__font(href="blog.html") Новости и статьи
        li.header-mobile__li
          a.header__link.header-mobile__font(href="reviews.html") Отзывы
  .header-mobile__block
    .header-mobile__contact.clearfix
      .header-mobile__telephone
        .header__number
          img.header__number--tel(src="../img/tel1.svg")
          span.header-mobile__span 044 2235 838
        .header__number
          img.header__number--tel(src="../img/tel1.svg")
          span.header-mobile__span 068 6594 950
        .header__number
          img.header__number--tel(src="../img/tel1.svg")
          span.header-mobile__span 066 0808 478
      .header-mobile__button
        .header__button.header__button-click Заказать звонок
  .header-mobile__block.header-mobile__ots
    span.header-mobile__soc Мы в социальных сетях:
    a(href="#")
      img.header-mobile__soc-img(src="../img/inst.svg")
    a(href="#")
      img.header-mobile__soc-img(src="../img/fb.svg")
    a(href="#")
      img.header-mobile__soc-img(src="../img/vk.svg")
