.hot__part.clearfix
  .hot__block
    a.hot__block-link(href="about.html")
      .hot__icon-one
        img.hot__icon-one--size(src="../img/icon-1.png")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t1.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-one
        img.hot__icon-one--size(src="../img/icon-1.png")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t2.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t3.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t4.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t5.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t6.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t7.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t8.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t9.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t10.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-one
        img.hot__icon-one--size(src="../img/icon-1.png")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t11.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
  .hot__block
    a.hot__block-link(href="#")
      .hot__icon-two 999 999 
        span.hot__icon-two--span UAH
      .hot__picture 
        img.hot__picture--size(src="../img/t12.png")
      .hot__description
        .hot__desc-top
          .hot__desc-title Dreams Vacation Resort 5*  
        .hot__desc-more
          p Отель: Dreams Vacation Resort 5*
          p Страна: Китай
          .hot__desc-button Узнать больше
