.hotels__build
  a.hotels__build-link(href="#")
    .hotels__build-picture
      img.hotels__build-picture--size(src="../img/hot1.png")
      .hotels__build-icon
        img.hot__icon-one--size(src="../img/icon-1.png")
    .hotels__build-name Akka Alinda Hotel Dolce Premier
    .hotels__build-desk Германия, Берлин
    .hotels__build-desk 
      span.hotels__build-category Категория отеля:
      img.hotels__build-stars(src="../img/stars2.png")
      img.hotels__build-stars(src="../img/stars2.png")
      img.hotels__build-stars(src="../img/stars2.png")
      img.hotels__build-stars(src="../img/stars2.png")
      img.hotels__build-stars(src="../img/stars2.png")
