extends layout.pug
block title
  title Отель
append css
  link(rel="stylesheet" type="text/css" href="../css/bx-slider.css")
append js
  script(type="text/javascript" src="../js/jquery.bxslider.min.js")
  script(type="text/javascript" src="../js/bx-slider.js")
block top-hotels-one
  .top-hotels-one
    .wrapper-inner
      +AddName2('Akka Alinda Hotel')
      .top-hotels-one__stars
        img.top-hotels-one__size(src="../img/stars.png")
        img.top-hotels-one__size(src="../img/stars.png")
        img.top-hotels-one__size(src="../img/stars.png")
        img.top-hotels-one__size(src="../img/stars.png")
      include top-about__nav.pug
      include galery.pug
block hotels-one
  .hotels-one
    .wrapper-inner
      .depiction__wrap.clearfix
        .hotels-one__content
          .hotels-one__text
            table.hotels-one__table
              tr.hotels-one__tr
                td.hotels-one__td1 Страна:
                td.hotels-one__td2
                  a.hotels-one__a(href="#") Испания
              tr.hotels-one__tr
                td.hotels-one__td1 Город:
                td.hotels-one__td2 
                  a.hotels-one__a(href="#") Ла Молина
              tr.hotels-one__tr
                td.hotels-one__td1 Тип:
                td.hotels-one__td2
                  a.hotels-one__a(href="#") горнолыжный
          .hotels-one__text
            include depiction__name.pug
            include hotels-one__description.pug
            .hotels-one__more
              p Отель находится на самом берегу моря, в курортном поселке Кириш, в 7 км от центра г. Кемер и в 65 км от аэропорта г. Анталия. Общая площадь отеля - 32 000 кв.м. Вместимость - 970 гостей. Дата открытия - 1995 год, дата последнего ремонта - 2011 год.
            include hotels-one__description.pug
              span.hotels-one__span Moscov.com.ua
          .hotels-one__text
            include depiction__name.pug
            .hotels-one__p Завтраки
          .hotels-one__text
            include depiction__name.pug
            .hotels-one__list-part.clearfix
              .hotels-one__list-block
                ul.hotels-one__list
                  include hotels-one__link2.pug
                    .hotels-one__plus-icon
                    .hotels-one__hint
                      p - Экскурсии в Шарм Ель Шейхе
                      p - Экскурсии в Табе
                      p - Экскурсии в Дахабе
                      p - Экскурсии в Нувейбе
                  include hotels-one__link.pug
                  include hotels-one__link.pug
              .hotels-one__list-block
                ul.hotels-one__list
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
          .hotels-one__text
            include depiction__name.pug
            .hotels-one__list-part.clearfix
              .hotels-one__list-block
                include hotels-one__description.pug
                ul.hotels-one__list
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
              .hotels-one__list-block
                include hotels-one__description.pug
                ul.hotels-one__list
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum dolor sit amet, consectetur)
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum dolor sit amet)
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
          .hotels-one__text
            include depiction__name.pug
            .hotels-one__list-part.clearfix
              .hotels-one__list-block
                ul.hotels-one__list
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum dolor)
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum)
              .hotels-one__list-block
                ul.hotels-one__list
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum dolor sit amet, consectetur)
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum dolor sit amet)
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum dolor sit amet)
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum)
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                  include hotels-one__link.pug
                    span.hotels-one__span2 (Lorem ipsum dolor sit amet)
        .city__side-bar
          include depiction__name.pug
          include city__part.pug
block map
  .hotels-one
    .wrapper-inner
      .hotels-one__map-content
        include depiction__name.pug
        .hotels-one__map
          .hotels-one__dis
          iframe.hotels-one__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.539996706753!2d30.494990051401956!3d50.4496683952014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce8aa9bb9209%3A0xc72981c5592768cf!2z0LLRg9C7LiDQk9C-0LPQvtC70ZbQstGB0YzQutCwLCAxMCwg0JrQuNGX0LI!5e0!3m2!1sru!2sua!4v1466690698639" style="border:0" allowfullscreen="" frameborder="0")
