extends layout.pug
block title
  title Отели
append js 
  script(type="text/javascript" src="../js/scrollto.js")
  script(type="text/javascript" src="../js/fixed.js")
block hotels
    .hotels
      .wrapper-inner
        .hotels
          .tour__name.tour__name2.tour__name-mobile Отели
          .hotels__block-buttons.clearfix
            .hotels__button-one Поиск
            .hotels__button-two Фильтр
          .hotels__wrap.clearfix
            include hotels__side-bar.pug
            .hotels__content
              .hotels__content-top.clearfix
                .hotels__content-search
                  .hotels__search-position
                    .hotels__search-fon
                      .hotels__search-form
                        .hotels__search-position
                          form(name="forma-hotels-search" id="forma-hotels-search")
                            input.hotels__inp-serch(name="hotels-search" id="hotels-search" type="search" placeholder="Поиск отеля")
                            input.hotels__inp-sub(type="submit" value="")
                  .sub-two
                .hotels__sort.clearfix
                  .hotels__sort-label Выводить по:
                  ul.hotels__sort-ul
                    li.hotels__sort-li
                      a.hotels__sort-a.hotels__sort-a-active(href="#") 15
                    li.hotels__sort-li
                      a.hotels__sort-a(href="#") 30
                    li.hotels__sort-li
                      a.hotels__sort-a(href="#") 45
              .hotels__part.clearfix
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug
                include hotels__build.pug       
              include switches.pug
block button-top
  a#menu3.button-top.default3.scrollto(href="#header")
