.popup-assortment
  .forma-selection.forma-assortment
    .forma-selection__cover-sel
      img(src="../img/select.png")
    .forma__close
      img(src="../img/close1.svg")
    .forma__wrap-selection
      .forma__name.forma__m Подбор тура
      .forma__part
        form(name="assortment" id="assortment-tour")
          .forma__block
            select.forma__input.forma__inp-assortment(size="1" name="type" required)
              option(value="assort1") Австралия
              option(value="assort2") Индия
              option(value="assort3") Австралия
              option(value="assort4") Австралия
              option(value="assort5") Австралия
              option(value="assort6") Австралия
              option(value="assort7") Индия
              option(value="assort8") Австралия
              option(value="assort9") Австралия
              option(value="assort10") Австралия
          .forma__block
            input.forma__input(name="assort-time" type="text" placeholder="Продолжительность тура" required)
            .rest__help Продолжительность тура введена неверно!
          .forma__block
            input.forma__input(name="assort-quantity" type="text" placeholder="Кол-во человек" required)
            .rest__help Кол-во человек неверно!
          .forma__block
            input.forma__input(name="assort-name" type="text" placeholder="Ваше имя" required)
            .rest__help Имя введено неверно!
          .forma__block
            input.forma__input(name="assort-telephone" type="text" placeholder="Телефон" required)
            .rest__help Телефон введен неверно!
          .forma__block
            input.forma__input(name="assort-email" type="email" placeholder="Ваш e-mail" required)
            .rest__help E-mail введен неверно!
          .forma__block
            textarea.forma__input.forma__textarea(name="assort-information" placeholder="Дополнительная информация")
          .forma__block
            input.forma__submit(name="assort-submit" type="submit" value="Заказать подбор")
  .sub
