.questions
  .wrapper-inner
    .questions__content.clearfix
      .questions__picture
        img.questions__picture--size(src="../img/girl.png")
      .questions__block
        .questions__text
          p Есть вопросы по данной стране?
          p Задайте их менеджеру по телефонам:
        .questions__text
          p +38 (044) 2235 838,   +38 (067) 6594 950,
          p +38 (066) 0808 478
        .questions__button.header__button-click
          .forma__submit.questions__sub Заказать бесплатный звонок
