.rest__part.clearfix
  .rest__block.rest__block2
    a.rest__block-link(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Экзотика
  .rest__block.rest__block2
    a.rest__block-link.rest__block-link2(href="#")
      .rest__fon-img.rest__indent
        .rest__text 
          .rest__desc Турция
    a.rest__block-link.rest__block-link2(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Эгипет
  .rest__block
    a.rest__block-link(href="#")
      .rest__fon-img
          .rest__text 
            .rest__desc Вип туры
  .rest__block.clearfix
    a.rest__block-link.rest__block-link3.rest__float(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc ОАЭ
    a.rest__block-link.rest__block-link3.rest__float(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Авиа туры
  .rest__block
    a.rest__block-link(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Пляжный отдых
  .rest__block.rest__block3.clearfix
    a.rest__block-link.rest__block-link3.rest__float(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Автобусные туры
    a.rest__block-link.rest__block-link3.rest__float(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Свадебные туры
  .rest__block.rest__block3
    a.rest__block-link.rest__block-link2(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Шоппинг туры
    a.rest__block-link.rest__block-link2(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Детский отдых
  .rest__block
    a.rest__block-link(href="#")
      .rest__fon-img
        .rest__text 
          .rest__desc Горнолыжные курорты
