extends layout.pug
block title
  title Отзывы
block reviews
  .reviews
    .wrapper-inner
      +AddBlogTitle('Отзывы наших клиентов')
      .reviews__content
        .reviews__top
          .documents__type.reviews__type.clearfix
              a.documents__button.documents__active.reviews__button(href="reviews.html") Все отзывы
              a.documents__button.reviews__button(href="#") Отзывы из социальных сетей
              a.documents__button.reviews__button(href="#") Видеоотзывы
              a.documents__button.reviews__button(href="#") Текстовые отзывы
        .reviews__part.clearfix
          .reviews__left
            .reviews__block
              include reviews__client.pug
              .reviews__text 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos incidunt, nostrum sit aperiam laborum, architecto impedit est provident? Dolores, dolore?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio harum cum officiis delectus eaque vero, a saepe blanditiis, quisquam fuga eos repellendus commodi hic at.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum, iste. Nemo aliquam sunt commodi
                p Lorem ipsum dolor
              .reviews__photos.clearfix
                include reviews__img.pug
                include reviews__img.pug
                include reviews__img.pug
                include reviews__img.pug
                include reviews__img.pug
                include reviews__img.pug
                include reviews__img.pug
                include reviews__img.pug
            .reviews__block
              include reviews__client.pug
              .reviews__soc 
                img.reviews__soc--size(src="../img/rew-soc.png")
          .reviews__left
            .reviews__block
              include reviews__client.pug
              .reviews__text 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos incidunt, nostrum sit aperiam laborum, architecto impedit est provident? Dolores, dolore?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio harum cum officiis delectus eaque vero, a saepe blanditiis, quisquam fuga eos repellendus commodi hic at.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum, iste. Nemo aliquam sunt commodi
            .reviews__block
              include reviews__client.pug
              .reviews__video
                iframe.reviews__iframe(src="https://www.youtube.com/embed/FXHLKyK0GGY?rel=0&amp;showinfo=0" allowfullscreen="" frameborder="0") 
