.reviews__client
  .reviews__client-name Дана Борисова(36 лет)
  .reviews__status преподаватель английского языка
  .reviews__date 
    span.reviews__span 10.07.2016
    a.reviews__link(href="#") Египет
    a.reviews__link(href="#") Шарм-Ель-Шельх
