extends layout.pug
block title
  title Подарочный сертификат
block sertificate 
  .sertificate
    .wrapper-inner
      +AddBlogTitle('Подарочный сертификат')
      .sertificate__wrap
        .sertificate__content
          .sertificate__logo
          .sertificate__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis animi, voluptatibus adipisci
          .sertificate__text.clearfix
            .sertificate__text-part
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod amet omnis fuga modi et, sapiente
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, amet iure quis accusamus cupiditate blanditiis unde aperiam molestiae consequatur. Repellat fugiat, mollitia minima natus laborum dolorem, et neque reiciendis accusantium, eligendi magni. Blanditiis qui, ullam laboriosam, tempore maxime dolorem laudantium quo, eveniet, amet quis reiciendis!
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati tempore eaque asperiores omnis quis mollitia eveniet quae corrupti amet id possimus quasi odio debitis sunt et ex, architecto incidunt nisi
            .sertificate__text-part
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa
              ul 
                li.sertificate__li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quis perspiciatis sint minima, odit, voluptatibus
                li.sertificate__li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quis perspiciatis sint minima
                li.sertificate__li Lorem ipsum dolor sit amet
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nemo sunt laborum recusandae minus inventore beatae sit ab! Labore placeat rerum et ut
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugiat impedit accusamus reprehenderit aliquid, exercitationem
          .sertificate__button Заказать сертификат
  include popup-sertificate.pug
  include popup-thank-you.pug
