.tour__switches
  ul.tour__list.clearfix
    li.tour__item
      a.tour__link.tour__link-active(href="#") 1
    li.tour__item
      a.tour__link(href="#") 2
    li.tour__item
      a.tour__link(href="#") 3
  a.tour__transition-next(href="#")
  a.tour__transition-prev(href="#")
