.top-about__nav
  nav.nav-block
    ul.nav-block__ul.clearfix
      li.nav-block__li 
        a.nav-block__a(href="index.html") Lorem
      li.nav-block__li
        span.nav-block__a /
      li.nav-block__li 
        a.nav-block__a(href="country.html")  Lorem ipsum
      li.nav-block__li
        span.nav-block__a /
      li.nav-block__li 
        a.nav-block__a(href="country.html")  Lorem ipsum
      li.nav-block__li
        span.nav-block__a /
      li.nav-block__li 
        span.nav-block__span Lorem ipsum dolor
