doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="format-detection" content="telephone=no")
    meta(name="title" content="")
    meta(name="description" content="")
    link(href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="../css/main.css")
    script(type="text/javascript" src="http://code.jquery.com/jquery-2.0.2.min.js")
    script(type="text/javascript" src="../js/main.js")
    script(type="text/javascript" src="../js/jquery-ui.js")
    link(rel="stylesheet" type="text/css" href="../css/jqury-ui-1.10.3.custom.css")
    script(type="text/javascript" src="../js/datepicker.min.js")
    script(type="text/javascript" src="../js/calendar.js")
    title Tour Voyage
  body
    include header.pug
    .tour
      .wrapper-inner
        .tour__content
          .tour__name Туры
          .tour__open-filter Показать фильтр
          .tour__close-filter Скрыть фильтр
          .tour__filter
            form(name="filter-one" id="round-filter" method="post")
              .tour__type
                span.tour__type-span Выберите вид тура:
                .tour__insert
                  select.tour__type-select(size="1" name="type" required)
                    option(value="type1") Свадебный тур
                    option(value="type2") Вип тур
                    option(value="type3") Авиа тур
                    option(value="type4") Шоппинг тур
                    option(value="type5") Автобусный тур
              .tour__part.clearfix
                .tour__block
                  .tour__select
                    select(size="1" name="country" required)
                      option(value="country1") Египет1
                      option(value="country2") Египет2
                      option(value="country3") Египет3
                      option(value="country") Египет4
                      option(value="country") Египет5
                  input.tour__price(type="text" name="price-from" id="price-from" placeholder="Цена от" required)
                  span.tour__span -
                  input.tour__price(type="text" name="price-to" id="price-to" placeholder="Цена до" required)
                .tour__block.clearfix
                  .tour__days
                    select.tour__days-select(size="1" name="days" required)
                      option(value="") Дней
                      option(value="days1") 1
                      option(value="days2") 2
                      option(value="days3") 3
                      option(value="days4") 4
                      option(value="days5") 5
                      option(value="days6") 6
                      option(value="days7") 7
                      option(value="days8") 8
                      option(value="days9") 9
                      option(value="days10") 10
                      option(value="days11") 11
                      option(value="days12") 12
                      option(value="days13") 13
                      option(value="days14") 14
                  span.tour__span2 -
                  .tour__days
                    select.tour__days-select(size="1" name="nights" required)
                      option(value="") Ночей
                      option(value="nights1") 1
                      option(value="nightss2") 2
                      option(value="nights3") 3
                      option(value="nights4") 4
                      option(value="nights5") 5
                      option(value="nights6") 6
                      option(value="nights7") 7
                      option(value="nights8") 8
                      option(value="nights") 9
                      option(value="nights10") 10
                      option(value="nights11") 11
                      option(value="nights12") 12
                      option(value="nights13") 13
                      option(value="nights14") 14
                  .tour__select
                    select(size="1" name="stars" required)
                      option(value="country2") Звезд
                      option(value="country2") 1
                      option(value="country3") 2
                      option(value="country") 3
                      option(value="country") 4
                .tour__block
                  .tour__days2
                    input.tour__input(type="text" name="date" placeholder="Даты" id="date_range" readonly)
                    .tour__arrow
                      img(src="../img/el.png")    
                  input.tour__submit(type="submit" value="Фильтровать")
          .tour__search Найдено 1 193 туров от 
            span.tour__cena 8 723 
            span.tour__valuta UAH
          include hot__part.pug
          include switches.pug
    include footer.pug
    include popup-call.pug




