<div class="blog__top-form">
    <div class="blog__top-form-mobile">
        <div class="blog__heading">
            <div class="depiction__name">Рубрики</div>
            <div class="blog__forums clearfix">
                <div class="blog__change"><input type="checkbox" name="rubric1" id="divide1"
                                                 class="blog__checbox"/><label for="divide1"
                                                                               class="blog__label">Все</label></div>
                <div class="blog__change"><input type="checkbox" name="rubric2" id="divide2"
                                                 class="blog__checbox"/><label for="divide2"
                                                                               class="blog__label">Акции</label></div>
                <div class="blog__change"><input type="checkbox" name="rubric3" id="divide3"
                                                 class="blog__checbox"/><label for="divide3" class="blog__label">Экзотика</label>
                </div>
                <div class="blog__change"><input type="checkbox" name="rubric4" id="divide4"
                                                 class="blog__checbox"/><label for="divide4" class="blog__label">Новости
                    компании</label></div>
                <div class="blog__change"><input type="checkbox" name="rubric5" id="divide5"
                                                 class="blog__checbox"/><label for="divide5"
                                                                               class="blog__label">Турция</label></div>
                <div class="blog__change"><input type="checkbox" name="rubric6" id="divide6"
                                                 class="blog__checbox"/><label for="divide6" class="blog__label">В
                    помощь туристу</label></div>
                <div class="blog__change"><input type="checkbox" name="rubric7" id="divide7"
                                                 class="blog__checbox"/><label for="divide7"
                                                                               class="blog__label">Турция</label></div>
                <div class="blog__change"><input type="checkbox" name="rubric8" id="divide8"
                                                 class="blog__checbox"/><label for="divide8" class="blog__label">Обзоры
                    стран</label></div>
                <div class="blog__change"><input type="checkbox" name="rubric9" id="divide9"
                                                 class="blog__checbox"/><label for="divide9" class="blog__label">Документы</label>
                </div>
            </div>
            <a href="#" class="blog__button">Выбрать</a></div>
    </div>
    <div class="sub-two"></div>
</div>