<div class="blog__top-form">
    <div class="blog__top-form-mobile">
        <div class="blog__heading">
            <form id="ajaxHeadingForm" action="{{ url('article-list') }}" method="get">
                <div class="depiction__name">Рубрики</div>
                <div class="blog__forums clearfix">
                    <div class="blog__change">
                        <input type="checkbox" name="all" id="divide0" class="blog__checbox"/>
                        <label for="divide0" class="blog__label">Все</label>
                    </div>
                    {% for heading in headings %}
                        <div class="blog__change">
                            <input type="checkbox" name="{{ heading.slug }}" id="divide{{ heading.pk }}"
                                   class="blog__checbox"/>
                            <label for="divide{{ heading.pk }}" class="blog__label">{{ heading.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="blog__button">Выбрать</button>
            </form>
        </div>
    </div>
    <div class="sub-two"></div>
</div>

{% if request.resolver_match.url_name == 'article-list' %}
<script>
    let articles_block = $('.blog__left');
    $('#ajaxHeadingForm').submit(function () {
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: function (response) {
                articles_block.html(response);
                window.history.pushState('page2', 'Title', this.url);
            }
        });
        return false;
    });
</script>
{% endif %}
