<div class="blog__wrap"><a href="#" class="blog__wrap-link">
    <div class="blog__picture"><img src="../img/blog1.png" class="blog__picture--size"/>
        <div class="blog__hover">
            <div class="blog__hover-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae
                repellat animi corporis maiores quos suscipit sint ipsa hic aperiam omnis, eaque accusantium esse!
                Mollitia explicabo dolor blanditiis tempore, quo nesciunt, dolorem minima quis, reiciendis quidem sequi
                magni consequatur hic
            </div>
            <div class="blog__hover-rating"><span class="blog__hover-span">Рейтинг:</span><img src="../img/stars3.svg"
                                                                                               class="blog__hover-img"/><img
                    src="../img/stars3.svg" class="blog__hover-img"/><img src="../img/stars3.svg"
                                                                          class="blog__hover-img"/><img
                    src="../img/stars3.svg" class="blog__hover-img"/><img src="../img/stars3.svg"
                                                                          class="blog__hover-img"/></div>
            <div class="blog__hover-rating"><span class="blog__hover-span">Просмотров:</span><span
                    class="blog__hover-span2">214</span></div>
            <a href="#" class="blog__hover-button">Узнать больше </a></div>
    </div>
    <div class="blog__text">
        <div class="blog__date">6 мая 2016 / Акции</div>
        <div class="blog__news">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>
</a></div>