<div class="blog__popular-block"><a href="#" class="blog__popular-link">
    <div class="blog__popular-picture"><img src="../img/blog1.png" class="blog__popular-picture--size"/></div>
    <div class="blog__popular-text">
        <div class="blog__popular-date">6 мая 2016 / Акции</div>
        <div class="blog__popular-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>
</a></div>