<div class="city__part">
    <div class="city__block clearfix">
        <div class="city__picture"><img src="../img/c1.png" class="city__picture--size"/></div>
        <div class="city__version">
            <div class="city__version-name">Dreams Vacation Resort 5*</div>
            <div class="city__version-description"><p>Дата: 12.06.15-17.06.15</p>
                <p>Дней / ночей: 7 / 7</p>
                <p>Отель: Назвиние отеля 5*</p></div>
            <div class="city__version-bottom">
                <div class="city__price"><span class="city__span2">47 500 </span><span
                        class="depiction__span3">uan </span><a href="#" class="city__version-link">Побробнее</a></div>
            </div>
        </div>
    </div>
    <div class="city__block clearfix">
        <div class="city__picture"><img src="../img/c2.png" class="city__picture--size"/></div>
        <div class="city__version">
            <div class="city__version-name">Dreams Vacation Resort 5*</div>
            <div class="city__version-description"><p>Дата: 12.06.15-17.06.15</p>
                <p>Дней / ночей: 7 / 7</p>
                <p>Отель: Назвиние отеля 5*</p></div>
            <div class="city__version-bottom">
                <div class="city__price"><span class="city__span2">47 500 </span><span
                        class="depiction__span3">uan </span><a href="#" class="city__version-link">Побробнее</a></div>
            </div>
        </div>
    </div>
    <div class="city__block clearfix">
        <div class="city__picture"><img src="../img/c3.png" class="city__picture--size"/></div>
        <div class="city__version">
            <div class="city__version-name">Dreams Vacation Resort 5*</div>
            <div class="city__version-description"><p>Дата: 12.06.15-17.06.15</p>
                <p>Дней / ночей: 7 / 7</p>
                <p>Отель: Назвиние отеля 5*</p></div>
            <div class="city__version-bottom">
                <div class="city__price"><span class="city__span2">47 500 </span><span
                        class="depiction__span3">uan </span><a href="#" class="city__version-link">Побробнее</a></div>
            </div>
        </div>
    </div>
    <div class="city__block clearfix">
        <div class="city__picture"><img src="../img/c4.png" class="city__picture--size"/></div>
        <div class="city__version">
            <div class="city__version-name">Dreams Vacation Resort 5*</div>
            <div class="city__version-description"><p>Дата: 12.06.15-17.06.15</p>
                <p>Дней / ночей: 7 / 7</p>
                <p>Отель: Назвиние отеля 5*</p></div>
            <div class="city__version-bottom">
                <div class="city__price"><span class="city__span2">47 500 </span><span
                        class="depiction__span3">uan </span><a href="#" class="city__version-link">Побробнее</a></div>
            </div>
        </div>
    </div>
    <div class="city__block-more">
        <div class="city__icon-one"><a href="#"><img src="{{ static('img/left2.svg') }}" class="city__icon-one--size"/></a></div>
        <div class="city__icon-two"><a href="#"><img src="{{ static('img/right2.svg') }}" class="city__icon-one--size"/></a></div>
    </div>
</div>