<div class="footer">
    <div class="wrapper-inner">
        <div class="footer__content clearfix">
            <div class="footer__block footer__none">
                <ul class="footer__list">
                    <li class="footer__item"><a href="tour.html" class="footer__link">Туры</a></li>
                    <li class="footer__item"><a href="{{ url('country-list') }}" class="footer__link">Страны</a></li>
                    <li class="footer__item"><a href="hotels.html" class="footer__link">Отели</a></li>
                    <li class="footer__item"><a href="{{ url('search-tour') }}" class="footer__link">Найти тур</a></li>
                    <li class="footer__item"><a href="{{ url('search-avia') }}" class="footer__link">Авиабилеты</a></li>
                </ul>
            </div>
            <div class="footer__block footer__none">
                <ul class="footer__list">
                    <li class="footer__item"><a href="{{ url('about') }}" class="footer__link">О компании</a></li>
                    <li class="footer__item"><a href="{{ url('sertificate') }}" class="footer__link">Подарочный сертификат</a>
                    </li>
                    <li class="footer__item"><a href="{{ url('documents') }}" class="footer__link">Визы и паспорта</a></li>
                    <li class="footer__item"><a href="{{ url('article-list') }}" class="footer__link">Новостьи и статьи</a></li>
                    <li class="footer__item"><a href="{{ url('comments') }}" class="footer__link">Отзывы</a></li>
                </ul>
            </div>
            <div class="footer__block footer__none">
                <div class="footer__about">
                    {% for i in global_settings.phone_numbers.all() %}
                    <p>+38 ({{ i.phone.split(" ")[0] }}) {{ i.phone.split(" ")[1] }} {{ i.phone.split(" ")[2] }}
                        {% if not loop.last %},{% endif %}</p>
                    {% endfor %}
                    {% for a in global_settings.address.split("  ") %}
                    <p>{{ a }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="footer__mobile-block"><p>Queen Tour Voyage</p>
                <p>Лучшие туры, 2016</p>
                <div class="footer__mobile-adr">{{ global_settings.address }}</div>
            </div>
            <div class="footer__block">
                <div class="footer__soc-name footer__none">Мы в социальных сетях:</div>
                <div class="footer__soc-part clearfix footer__none"><a href="{{ global_settings.instagram }}">
                    <div class="footer__soc-block footer__inst"></div>
                </a><a href="{{ global_settings.facebook }}">
                    <div class="footer__soc-block footer__fb"></div>
                </a><a href="{{ global_settings.vk }}">
                    <div class="footer__soc-block footer__vk"></div>
                </a></div>
                <div class="footer__slogan">Проект разработан в студии интернет-маркетинга с душой и стилем</div>
                <div class="footer__logo"><a href="#"><img src="{{ static('img/logo-web.png') }}"/></a></div>
                <div class="footer__logo-hover"><a href="#"><img src="{{ static('img/logo-web2.png') }}"/></a></div>
            </div>
        </div>
    </div>
</div>