<div class="top-about__galery">
    <div id="steps" class="steps-galery2">
        <div class="main-galery">
            <div class="bx-wrapper-galery2">
                <div class="bx-viewport">
                    <div class="items-galery">
                        {% for item in object.images.all() %}
                        <div class="item-galery bx-clone">
                            <div class="item-galery__img">
                                <a href="{{ item.image.url }}">
                                    <img src="{{ item.image.url }}" class="item-galery__size"/>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="link-galery animation-block galery-preview clearfix">
                {% for item in object.images.all() %}
                <a href="#" class="animate-me animated galery-preview__a">
                    <img src="{{ item.image.url }}" class="galery-icon icon-2"/>
                </a>
                {% endfor %}
                <div class="galery__show clearfix">показать все</div>
            </div>
            <div class="anchor__none"></div>
        </div>
    </div>
</div>