<div class="header-mobile">
    <div class="header-mobile__block">
        <div class="header-mobile__navigation">
            <div class="header-mobile__list">
                <ul class="header-mobile__ul clearfix">
                    <li class="header-mobile__li header-mobile__left"><a href="tour.html"
                                                                         class="header-mobile__a">Туры</a></li>
                    <li class="header-mobile__li header-mobile__left"><a href="country.html" class="header-mobile__a">Страны</a>
                    </li>
                    <li class="header-mobile__li header-mobile__left"><a href="hotels.html" class="header-mobile__a">Отели</a>
                    </li>
                    <li class="header-mobile__li header-mobile__left"><a href="search-tour.html"
                                                                         class="header-mobile__a">Найти тур</a></li>
                    <li class="header-mobile__li header-mobile__left"><a href="avia.html" class="header-mobile__a">Авиабилеты</a>
                    </li>
                    <li class="header-mobile__li header-mobile__left"><a href="company.html" class="header-mobile__a">О
                        компании </a></li>
                    <li class="header-mobile__li header-mobile__left"><a href="contact.html" class="header-mobile__a">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-mobile__block">
        <div class="header-mobile__list">
            <ul class="header-mobile__ul">
                <li class="header-mobile__li"><a href="sertificate.html" class="header__link header-mobile__font">Подарочный
                    сертификат</a></li>
                <li class="header-mobile__li"><a href="documents.html" class="header__link header-mobile__font">Визы и
                    паспорта</a></li>
                <li class="header-mobile__li"><a href="blog.html" class="header__link header-mobile__font">Новости и
                    статьи</a></li>
                <li class="header-mobile__li"><a href="reviews.html" class="header__link header-mobile__font">Отзывы</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-mobile__block">
        <div class="header-mobile__contact clearfix">
            <div class="header-mobile__telephone">
                <div class="header__number"><img src="../img/tel1.svg" class="header__number--tel"/><span
                        class="header-mobile__span">044 2235 838</span></div>
                <div class="header__number"><img src="../img/tel1.svg" class="header__number--tel"/><span
                        class="header-mobile__span">068 6594 950</span></div>
                <div class="header__number"><img src="../img/tel1.svg" class="header__number--tel"/><span
                        class="header-mobile__span">066 0808 478</span></div>
            </div>
            <div class="header-mobile__button">
                <div class="header__button header__button-click">Заказать звонок</div>
            </div>
        </div>
    </div>
    <div class="header-mobile__block header-mobile__ots"><span
            class="header-mobile__soc">Мы в социальных сетях:</span><a href="#"><img src="../img/inst.svg"
                                                                                     class="header-mobile__soc-img"/></a><a
            href="#"><img src="../img/fb.svg" class="header-mobile__soc-img"/></a><a href="#"><img src="../img/vk.svg"
                                                                                                   class="header-mobile__soc-img"/></a>
    </div>
</div>