<div id="header" class="header">
    <div class="wrapper-inner">
        <div class="header__content clearfix">
            <div class="header__logo"><a href="/">
                <img src="{{ static('img/logo.png') }}" alt="Логотип" class="header__logo--size">
            </a></div>
            <div class="header__menu header__none">
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item"><a href="{{ url('sertificate') }}" class="header__link">Подарочный
                            сертификат</a></li>
                        <li class="header__item"><a href="{{ url('documents') }}" class="header__link">Визы и паспорта</a></li>
                        <li class="header__item"><a href="{{ url('article-list') }}" class="header__link">Новости и статьи</a></li>
                        <li class="header__item"><a href="{{ url('comments') }}" class="header__link">Отзывы</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__call header__none">
                <div class="header__number">
                    <img src="{{ static('img/tel1.svg') }}" class="header__number--tel">
                    <img src="{{ static('img/strel1.png') }}" class="header__number--strel">
                    <span class="header__number--span">{{ global_settings.phone_numbers.first() }}</span>
                </div>
                <div class="header__button header__button-click">Заказать звонок</div>
                <div class="header__telephone">
                    {% for phone in global_settings.phone_numbers.all() %}
                        {% if not loop.first %}
                            <div class="header__tel">068 6594 950</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="header__adaptive-icon"><img src="{{ static('img/mob-menu.svg') }}"></div>
            <div class="header__adaptive-icon--hover"><img src="{{ static('img/mob-menu.svg') }}"></div>
            {% include 'includes/header-mobile.jinja' %}
        </div>
    </div>
</div>
<div class="navigation header__none">
    <div class="wrapper-inner">
        <nav class="navigation__nav">
            <ul class="navigation__ul">
                <li class="navigation__li"><a href="tour.html" class="navigation__a">Туры</a></li>
                <li class="navigation__li"><a href="{{ url('country-list') }}" class="navigation__a">Страны</a></li>
                <li class="navigation__li"><a href="hotels.html" class="navigation__a">Отели</a></li>
                <li class="navigation__li"><a href="{{ url('search-tour') }}" class="navigation__a">Найти тур</a></li>
                <li class="navigation__li"><a href="{{ url('search-avia') }}" class="navigation__a">Авиабилеты</a></li>
                <li class="navigation__li"><a href="{{ url('about') }}" class="navigation__a">О компании</a></li>
                <li class="navigation__li"><a href="{{ url('contact') }}" class="navigation__a">Контакты</a></li>
            </ul>
        </nav>
    </div>
</div>