<div class="header-mobile">
    <div class="header-mobile__block">
        <div class="header-mobile__navigation">
            <div class="header-mobile__list">
                <ul class="header-mobile__ul clearfix">
                    <li class="header-mobile__li header-mobile__left">
                        <a href="tour.html" class="header-mobile__a">Туры</a>
                    </li>
                    <li class="header-mobile__li header-mobile__left">
                        <a href="{{ url('country-list') }}" class="header-mobile__a">Страны</a>
                    </li>
                    <li class="header-mobile__li header-mobile__left">
                        <a href="hotels.html" class="header-mobile__a">Отели</a>
                    </li>
                    <li class="header-mobile__li header-mobile__left">
                        <a href="{{ url('search-tour') }}" class="header-mobile__a">Найти
                            тур</a></li>
                    <li class="header-mobile__li header-mobile__left">
                        <a href="{{ url('search-avia') }}" class="header-mobile__a">Авиабилеты</a>
                    </li>
                    <li class="header-mobile__li header-mobile__left">
                        <a href="{{ url('about') }}" class="header-mobile__a">О
                            компании </a></li>
                    <li class="header-mobile__li header-mobile__left">
                        <a href="{{ url('contact') }}" class="header-mobile__a">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-mobile__block">
        <div class="header-mobile__list">
            <ul class="header-mobile__ul">
                <li class="header-mobile__li">
                    <a href="{{ url('sertificate') }}" class="header__link header-mobile__font">
                        Подарочный сертификат
                    </a>
                </li>
                <li class="header-mobile__li">
                    <a href="{{ url('documents') }}" class="header__link header-mobile__font">
                        Визы и паспорта
                    </a>
                </li>
                <li class="header-mobile__li">
                    <a href="{{ url('article-list') }}" class="header__link header-mobile__font">
                        Новости и статьи
                    </a>
                </li>
                <li class="header-mobile__li">
                    <a href="{{ url('comments') }}" class="header__link header-mobile__font">Отзывы</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-mobile__block">
        <div class="header-mobile__contact clearfix">
            <div class="header-mobile__telephone">
                {% for phone in global_settings.phone_numbers.all() %}
                <div class="header__number">
                    <img src="{{ static('img/tel1.svg') }}" class="header__number--tel">
                    <span class="header-mobile__span">{{ phone }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="header-mobile__button">
                <div class="header__button header__button-click">Заказать звонок</div>
            </div>
        </div>
    </div>
    <div class="header-mobile__block header-mobile__ots">
        <span class="header-mobile__soc">Мы в социальных сетях:</span>
        <a href="{{ global_settings.instagram }}">
            <img src="{{ static('img/inst.svg') }}" class="header-mobile__soc-img">
        </a>
        <a href="{{ global_settings.facebook }}">
            <img src="{{ static('img/fb.svg') }}" class="header-mobile__soc-img">
        </a>
        <a href="{{ global_settings.vk }}">
            <img src="{{ static('img/vk.svg') }}" class="header-mobile__soc-img">
        </a>
    </div>
</div>