<div class="hot__part clearfix">
    {% for object in object_list %}
    <div class="hot__block">
        <a href="{{ url('tour-detail', pk=object.pk) }}" class="hot__block-link">
            {% if object.dates.filter(hot=True).exists() %}
            <div class="hot__icon-one">
                <img src="{{ static('img/icon-1.png') }}" class="hot__icon-one--size"/>
            </div>
            {% endif %}
            <div class="hot__icon-two">
                {{ object.low_cost(request.GET.get('date', None), request.GET.get('price-from'), request.GET.get('price-to')) }} <span class="hot__icon-two--span">UAH</span>
            </div>
            <div class="hot__picture">
                <img src="{{ object.hotel.preview_image.url }}" class="hot__picture--size"/>
            </div>
            <div class="hot__description">
                <div class="hot__desc-top">
                    <div class="hot__desc-title">{{ object.hotel.name }} {{ object.stars }}*</div>
                </div>
                <div class="hot__desc-more"><p>Отель: {{ object.hotel.name }} {{ object.hotel.stars }}*</p>
                    <p>Страна: {{ object.hotel.resort.country }}</p>
                    <div class="hot__desc-button">Узнать больше</div>
                </div>
            </div>
        </a>
    </div>
    {% else %}
    Подходящие туры не найдены.
    {% endfor %}
</div>