<div class="hotels__side-bar">
    <div class="hotels__side-position">
        <div class="hotels__side-hide"><img src="{{ static('img/close1.svg') }}"/></div>
        <div class="hotels__side-form">
            <form name="hotels" id="search-hotels" action="{{ url('hotel-list') }}" method="get">
                <div class="hotels__form">
                    <div class="hotels__division hotels__division-mobile">
                        <div class="hotels__title">Страна</div>
                        <div class="hotels__open"></div>
                        <div class="hotels__close"></div>
                        <div class="hotels__meaning">
                            {% for country in countries %}
                            <div class="hotels__choice">
                                <input type="checkbox" name="country" value="{{ country.slug }}" id="country{{ country.pk }}"
                                                               class="hotels__input"/>
                                <label for="country{{ country.pk }}" class="hotels__label">{{ country.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="hotels__form">
                    <div class="hotels__division">
                        <div class="hotels__title">Курорт</div>
                        <div class="hotels__open"></div>
                        <div class="hotels__close"></div>
                        <div class="hotels__meaning">
                            {% for resort in resorts %}
                            <div class="hotels__choice">
                                <input type="checkbox" name="resort" id="resort{{ resort.pk }}" value="{{ resort.slug }}" class="hotels__input"/>
                                <label for="resort{{ resort.pk }}" class="hotels__label">
                                    {{ resort.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="hotels__form">
                    <div class="hotels__division">
                        <div class="hotels__title">Количество звезд</div>
                        <div class="hotels__open"></div>
                        <div class="hotels__close"></div>
                        <div class="hotels__meaning">
                            <div class="hotels__choice">
                                <input type="checkbox" name="star" id="star1" class="hotels__input" value="1"/>
                                <label for="star1" class="hotels__label">1</label>
                            </div>
                            <div class="hotels__choice">
                                <input type="checkbox" name="star" id="star2" class="hotels__input" value="2"/>
                                <label for="star2" class="hotels__label">2</label>
                            </div>
                            <div class="hotels__choice">
                                <input type="checkbox" name="star" id="star3" class="hotels__input" value="3"/>
                                <label for="star3" class="hotels__label">3</label>
                            </div>
                            <div class="hotels__choice">
                                <input type="checkbox" name="star" id="star4" class="hotels__input" value="4"/>
                                <label for="star4" class="hotels__label">4</label>
                            </div>
                            <div class="hotels__choice">
                                <input type="checkbox" name="star" id="star5" class="hotels__input" value="5"/>
                                <label for="star5" class="hotels__label">5</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotels__form">
                    <div class="hotels__division">
                        <div class="hotels__title">Тип отеля</div>
                        <div class="hotels__open"></div>
                        <div class="hotels__close"></div>
                        <div class="hotels__meaning">
                            {% for type in hotel_types %}
                            <div class="hotels__choice">
                                <input type="checkbox" name="type" value="{{ type.slug }}" id="hotel-type{{ type.pk }}" class="hotels__input"/>
                                <label for="hotel-type{{ type.pk }}" class="hotels__label">{{ type.name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="hotels__form">
                    <div class="hotels__division hotels__division2">
                        <div class="hotels__choice">
                            <input type="checkbox" name="hot" id="vip-hotels" class="hotels__input"/>
                            <label for="vip-hotels" class="hotels__label2">ВИП отели</label>
                        </div>
                    </div>
                    <div class="hotels__block-submit">
                        <button type="submit" class="hotels__submit">Фильтровать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="sub-two"></div>
</div>