<div class="hotels__build"><a href="#" class="hotels__build-link">
    <div class="hotels__build-picture"><img src="../img/hot1.png" class="hotels__build-picture--size"/>
        <div class="hotels__build-icon"><img src="../img/icon-1.png" class="hot__icon-one--size"/></div>
    </div>
    <div class="hotels__build-name">Akka Alinda Hotel Dolce Premier</div>
    <div class="hotels__build-desk">Германия, Берлин</div>
    <div class="hotels__build-desk"><span class="hotels__build-category">Категория отеля:</span><img
            src="../img/stars2.png" class="hotels__build-stars"/><img src="../img/stars2.png"
                                                                      class="hotels__build-stars"/><img
            src="../img/stars2.png" class="hotels__build-stars"/><img src="../img/stars2.png"
                                                                      class="hotels__build-stars"/><img
            src="../img/stars2.png" class="hotels__build-stars"/></div>
</a></div>