<div class="popup-tour">
    <div class="forma-selection">
        <div class="forma-selection__cover-sel"><img src="../img/select.png"/></div>
        <div class="forma__close"><img src="../img/close1.svg"/></div>
        <div class="forma__wrap-selection">
            <div class="forma__name forma__m">Забронировать тур</div>
            <div class="forma__part">
                <form name="reservations" id="book-tour">
                    <div class="forma__block"><input name="tour-name" type="text" placeholder="ФИО" required="required"
                                                     class="forma__input"/>
                        <div class="rest__help">Имя введено неверно!</div>
                    </div>
                    <div class="forma__block"><input name="tour-number" type="text" placeholder="Введите номер телефона"
                                                     required="required" class="forma__input"/>
                        <div class="rest__help">Номер телефона введён неверно!</div>
                    </div>
                    <div class="forma__block"><input name="tour-email" type="text" placeholder="Введите Ваш e-mail"
                                                     required="required" class="forma__input"/>
                        <div class="rest__help">E-mail введён неверно!</div>
                    </div>
                    <div class="forma__block"><textarea name="tour-comment" placeholder="Комментарий к заказу"
                                                        class="forma__input forma__textarea"></textarea></div>
                    <div class="forma__block"><input name="tour-submit" type="submit" value="Заказать тур"
                                                     class="forma__submit"/></div>
                </form>
            </div>
        </div>
    </div>
    <div class="sub"></div>
</div>