<div class="popup-tour">
    <div class="forma-selection">
        <div class="forma-selection__cover-sel"><img src="{{ static('img/select.png') }}"/></div>
        <div class="forma__close"><img src="{{ static('img/close1.svg') }}"/></div>
        <div class="forma__wrap-selection">
            <div class="forma__name forma__m">Забронировать тур</div>
            <div class="forma__part">
                <form name="reservations" id="book-tour">
                    <div class="forma__block">
                        <input name="tour-name" type="text" placeholder="ФИО" required="required"
                               class="forma__input" id="fullName"/>
                        <div class="rest__help">Имя введено неверно!</div>
                    </div>
                    <div class="forma__block">
                        <input name="tour-number" type="text" placeholder="Введите номер телефона"
                               required="required" class="forma__input" id="phonenum"/>
                        <div class="rest__help">Номер телефона введён неверно!</div>
                    </div>
                    <div class="forma__block">
                        <input name="tour-email" type="text" placeholder="Введите Ваш e-mail"
                               required="required" class="forma__input" id="email"/>
                        <div class="rest__help">E-mail введён неверно!</div>
                    </div>
                    <div class="forma__block">
                        <textarea name="tour-comment" placeholder="Комментарий к заказу"
                                  class="forma__input forma__textarea" id="commentary"></textarea>
                    </div>
                    <div class="forma__block">
                        <input name="tour-submit" type="button" id="tourForm" value="Заказать тур" class="forma__submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sub"></div>
</div>

<script>
    // fields = ('tour', 'tour_date', 'full_name', 'phone', 'email', 'comment', 'from_link')
    $('#tourForm').click(function () {
        $.ajax({
            url: '{{ url("reservation-view") }}',
            type: 'post',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'from_link': '{{ request.build_absolute_uri() }}',
                'tour': '{{ object.pk }}',
                'tour_date': $('#tourDate').val(),
                'full_name': $('#fullName').val(),
                'phone': $('#phonenum').val(),
                'email': $('#email').val(),
                'comment': $('#commentary').val()
            },
            success: function (data) {
                $(".popup-tour").fadeOut(300);
                $("body").removeClass('load');
            },
            error: function (err) {
                console.log(err.responseText)
            }
        })
    })
</script>