<div class="popup-call">
    <div class="forma">
        <div class="forma__cover"><img src="../img/popup-tel.png"/></div>
        <div class="forma__close"><img src="../img/close1.png"/></div>
        <div class="forma__wrap">
            <div class="forma__name">Заказать звонок</div>
            <div class="forma__description">Оставьте свои контакты и наш менеджер свяжется с Вами ближайшее время!</div>
            <div class="forma__part">
                <form action="" method="" name="call" id="challenge">
                    <div class="forma__block"><input name="call-name" type="text" placeholder="Введите Ваше Имя"
                                                     maxlength="40" required="required" class="forma__input"/>
                        <div class="rest__help">Имя введено неверно!</div>
                    </div>
                    <div class="forma__block"><input name="soname-regist" type="text"
                                                     placeholder="Введите номер телефона" required="required"
                                                     class="forma__input"/>
                        <div class="rest__help">Номер телефона введён неверно!</div>
                    </div>
                    <div class="forma__block"><input name="call-submit" type="submit" value="Заказать звонок"
                                                     class="forma__submit"/></div>
                </form>
            </div>
        </div>
    </div>
    <div class="sub"></div>
</div>
<div class="popup-selection">
    <div class="forma-selection">
        <div class="forma__close"><img src="../img/close1.png"/></div>
        <div class="forma__wrap-selection">
            <div class="forma__name">Ничего не нашли?</div>
            <div class="forma__description">Оставьте свои контакты и наш менеджер свяжется с Вами для подбора
                индивидуального тура!
            </div>
            <div class="forma__part">
                <form action="" method="" name="call" id="challenge">
                    <div class="forma__block"><input name="call-name" type="text" placeholder="Введите Ваше Имя"
                                                     maxlength="40" required="required" class="forma__input"/>
                        <div class="rest__help">Имя введено неверно!</div>
                    </div>
                    <div class="forma__block"><input name="soname-regist" type="text"
                                                     placeholder="Введите номер телефона" required="required"
                                                     class="forma__input"/>
                        <div class="rest__help">Номер телефона введён неверно!</div>
                    </div>
                    <div class="forma__block"><input name="call-submit" type="submit" value="Подобрать тур"
                                                     class="forma__submit"/></div>
                </form>
            </div>
        </div>
    </div>
    <div class="sub-selection"></div>
</div>