<div class="popup-thank-you">
    <div class="popup-thank-you__text">
        <div class="popup-thank-you__top"><p>Спасибо за заявку, мы с вами</p>
            <p>свяжемся в ближайшее время!</p></div>
    </div>
    <div class="sub-thank"></div>
</div>