<div class="tour__switches">
    <ul class="tour__list clearfix">
        <li class="tour__item"><a href="#" class="tour__link tour__link-active">1</a></li>
        <li class="tour__item"><a href="#" class="tour__link">2</a></li>
        <li class="tour__item"><a href="#" class="tour__link">3</a></li>
    </ul>
    <a href="#" class="tour__transition-next"></a><a href="#" class="tour__transition-prev"></a></div>