<div class="top-about__nav">
    <nav class="nav-block">
        <ul class="nav-block__ul clearfix">
            <li class="nav-block__li"><a href="index.html" class="nav-block__a">Lorem</a></li>
            <li class="nav-block__li"><span class="nav-block__a">/</span></li>
            <li class="nav-block__li"><a href="country.html" class="nav-block__a"> Lorem ipsum</a></li>
            <li class="nav-block__li"><span class="nav-block__a">/</span></li>
            <li class="nav-block__li"><a href="country.html" class="nav-block__a"> Lorem ipsum</a></li>
            <li class="nav-block__li"><span class="nav-block__a">/</span></li>
            <li class="nav-block__li"><span class="nav-block__span">Lorem ipsum dolor</span></li>
        </ul>
    </nav>
</div>