.documents {
  display: block;
  min-width: 1110px;
  background: #f2f2f2 url("../img/doc.png") no-repeat;
  background-position: bottom center;
  border-top: 1px solid #d7d7d7;
}
.documents__wrap {
  width: 100%;
  padding-bottom: 80px;
}
.documents__content {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background: #fff;
}
.documents__type {
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px;
}
.documents__button {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 17px 30px 29px 30px;
  font-weight: bold;
}
.documents__button:hover {
  background: url("../img/a2.png") no-repeat;
  background-position: bottom center;
}
.documents__description {
  font-size: 15px;
  margin-top: 35px;
  margin-bottom: 25px;
}
.documents__block {
  display: block;
}
.documents__mobile {
  display: none;
}
.documents__hat {
  width: 100%;
}
.documents__hat-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.documents__hat-tr {
  width: 100%;
  background: #343434;
  color: #fff;
}
.documents__hat-td {
  font-size: 15px;
  padding: 17px 22px;
}
.documents__hat-td1 {
  width: 30%;
}
.documents__hat-td2 {
  width: 20%;
}
.documents__hat-td3 {
  width: 20%;
}
.documents__hat-td4 {
  width: 30%;
}
.documents__block {
  width: 100%;
}
.documents__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.documents__tr {
  width: 100%;
}
.documents__td {
  font-size: 15px;
  padding: 17px 22px;
  border: 1px solid #e0e0e0;
}
.documents__td1 {
  width: 30%;
}
.documents__td2 {
  width: 20%;
  text-align: center;
}
.documents__td3 {
  width: 10%;
  text-align: center;
}
.documents__td4 {
  width: 30%;
}
.documents__td-fon {
  background: #fbfbfb;
}
.documents__td1-title {
  font-size: 19px;
  color: #343434;
  font-weight: bold;
  margin-bottom: 10px;
}
.documents__td1-title-mobile {
  display: none;
}
.documents__td4-list {
  font-size: 15px;
  margin-bottom: 20px;
  height: auto;
  overflow: visible;
}
.documents__td-4-clarification p {
  margin-bottom: 20px;
}
.documents__td-4-clarification p:last-child {
  line-height: 1.5;
}
.documents__td1-top {
  border-top: none;
}
.documents__show {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
  font-weight: bold;
  margin-top: 7px;
}
.documents__show:hover {
  cursor: pointer;
  text-decoration: none;
}
.documents__hidden {
  position: relative;
  line-height: 18px;
  height: 54px;
  overflow: hidden;
}
.documents__hidden:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255,0), #fff);
}
.documents__active {
  background: url("../img/a2.png") no-repeat;
  background-position: bottom center;
}
@media screen and (max-width: 1110px) {
  .documents {
    min-width: 960px;
  }
  .documents__hat-td2,
  .documents__td2 {
    width: 14%;
  }
  .documents__hat-td3 {
    width: 26%;
  }
  .documents__td3 {
    width: 13%;
  }
}
@media screen and (max-width: 960px) {
  .documents {
    min-width: 720px;
  }
  .blog__title {
    font-size: 60px;
    margin-left: 0;
  }
  .documents__content {
    padding: 0;
    background: transparent;
  }
  .documents__type {
    height: 56px;
    padding: 20px 30px 0 0;
  }
  .documents__button {
    font-size: 18px;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .documents__description {
    padding-left: 0;
    padding-right: 30px;
    font-size: 20px;
    margin-bottom: 35px;
  }
  .documents__hat-td1 {
    width: 100%;
  }
  .documents__hat-td2,
  .documents__hat-td3,
  .documents__hat-td4 {
    display: none;
  }
  .documents__block {
    display: none;
  }
  .documents__mobile {
    display: block;
  }
  .documents__mobile-block {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
  }
  .documents__mobile-top {
    padding: 30px;
  }
  .documents__td1-title2 {
    font-size: 30px;
    color: #343434;
    font-weight: bold;
  }
  .documents__td1-desc2 {
    font-size: 24px;
    margin-top: 15px;
  }
  .documents__mobile-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .documents__mobile-td1 {
    width: 40%;
    padding-left: 30px;
  }
  .documents__mobile-td2 {
    width: 30%;
    text-align: center;
  }
  .documents__mobile-td3 {
    width: 15%;
    text-align: center;
  }
  .documents__mobile-description {
    padding: 30px;
    font-size: 18px !important;
  }
  .documents__td4-list2 {
    font-size: 18px;
  }
  .documents__open {
    display: none;
    width: 20px;
    height: 12px;
    background: url("../img/d2.svg") no-repeat;
    position: absolute;
    right: 40px;
    top: 70px;
  }
  .documents__close {
    display: block;
    width: 20px;
    height: 12px;
    background: url("../img/d1.svg") no-repeat;
    position: absolute;
    right: 40px;
    top: 70px;
  }
  .documents__mobile-wrap {
    width: 100%;
    display: none;
  }
  .documents__open:hover,
  .documents__close:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 720px) {
  .documents {
    min-width: 480px;
  }
  .blog__title {
    font-size: 40px;
    padding-left: 10px;
  }
  .documents__content {
    padding: 10px;
  }
  .documents__mobile-td1 {
    width: 35%;
    padding-left: 10px;
  }
  .documents__td1-title {
    font-size: 15px;
  }
  .documents__mobile-td2 {
    width: 25%;
  }
  .documents__mobile-td3 {
    width: 20%;
  }
  .documents__td1-title2 {
    font-size: 22px;
  }
  .documents__td1-desc2 {
    font-size: 16px;
    margin-top: 7px;
  }
  .documents__mobile-description {
    padding: 10px;
    font-size: 16px !important;
  }
  .documents__td4-list2 {
    font-size: 16px;
  }
  .documents__close,
  .documents__open {
    right: 25px;
    top: 55px;
  }
}
@media screen and (max-width: 480px) {
  .documents {
    min-width: 320px;
  }
  .documents__wrap {
    padding-bottom: 40px;
  }
  .blog__title {
    font-size: 24px;
  }
  .documents__content {
    margin-top: 15px;
  }
  .documents__button {
    font-size: 15px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 17px;
  }
  .documents__type {
    height: 53px;
  }
  .documents__description {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .documents__mobile-top {
    padding: 10px 15px;
  }
  .documents__td {
    font-size: 12px;
    padding: 7px;
  }
  .documents__td1-title {
    font-size: 13px;
  }
  .documents__td1-title2 {
    font-size: 19px;
  }
  .documents__mobile-description,
  .documents__td4-list2 {
    font-size: 13px !important;
  }
}
