/* ====================================================================================================================
 * GENERAL STYLES
 * ==================================================================================================================== */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: 'Exo 2', sans-serif;
}
body,
margin 0,
background #ffffff,
div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
a,
transparent,
a:active,
a:hover,
outline 0,
input,
background none,
border none,
padding 0,
margin 0,
select {
  background: transparent;
}
border none,
padding 0,
margin 0,
button,
background none,
img {
  border: none;
  vertical-align: middle;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.wrapper-inner {
  margin: 0 auto;
  width: 1110px;
  position: relative;
  font-size: 14px;
}
