.company
	display block 
	min-width 1110px
	background url(../img/company1.png) no-repeat
	background-position top center
	&__content 
		padding 30px 
		background #fff
		margin-top 35px
	&__picture
		width 100%
		&--size 
			max-width 1049px
			max-height 500px
			width 100%
.comapany-description
	display block 
	min-width 1110px
	&__content 
		padding 0 30px
		margin-top 12px
		margin-bottom 35px
	&__title
		text-align center
		font-size 35px
		&--span
			font-size 27px
	&__part
		width 100%
		margin-top 45px
	&__block
		width 48%
		float left
		margin-right 4%
		margin-bottom 35px
		display flex
		justify-content space-between
		align-items center
		display -webkit-flex
		-webkit-justify-content space-between
		-webkit-align-items center
	&__block:nth-child(2n)
		margin-right 0
	&__picture
		width 34%
		float left
		&--size
			max-width 170px
			max-height 170px
			width 100%
			border-radius 90px 
			overflow hidden
	&__dep
		width 62%
		float right
	&__ul
		margin-left 12px
		margin-bottom 15px
	&__text
		margin-bottom 30px
.hotels-one__more strong 
	font-size 17px
.slider-sertificate
	display block 
	min-width 1110px
	background url(../img/serf-fon.png) no-repeat
	background-position top center
	&__content
		padding-top 55px
		padding-bottom 35px
.item-sert--img2
	max-width 200px 
	max-height 280px
	width 100%


@media screen and (max-width: 1110px)
	.company, .comapany-description, .slider-sertificate
		min-width 960px

@media screen and (max-width: 960px)
	.company, .comapany-description, .slider-sertificate
		min-width 720px
	.comapany-description__block
		width 100%
		float none
	.comapany-description__picture
		width 26%
	.comapany-description__dep
		width 70%

@media screen and (max-width: 720px)
	.company, .comapany-description, .slider-sertificate
		min-width 480px
	.comapany-description__title
		font-size 26px

@media screen and (max-width: 480px)
	.company, .comapany-description, .slider-sertificate
		min-width 320px
	.company__content
		margin-top 22px
		padding 10px
	.comapany-description__content
		padding 0 10px
	.comapany-description__title
		font-size 18px
	.comapany-description__title--span
		font-size 14px
	.comapany-description__part
		margin-top 15px
	.hotels-one__more strong
		font-size 14px
	.comapany-description__text
		margin-bottom 15px


