.top-hotels-one
	display block 
	min-width 1110px
	background url(../img/hotels1.png) no-repeat
	background-position top center
	&__stars
		position absolute
		right 0 
		top 40px
	&__size 
		max-width 47px
		max-height 45px
		margin-left 3px

.hotels-one
	display block 
	min-width 1110px
	&__content 
		width 47%
		float left
	&__description 
		font-size 19px
		font-weight bold 
		color #000 
		margin-bottom 18px
	&__text
		margin-bottom 35px
	&__table 
		width 80%
		table-layout fixed
	&__td1
		width 60%
		font-size 19px
		font-weight bold
		border-bottom 1px solid #E3E3E3
	&__td2
		width 40%
	&__a
		color #000
		font-size 15px
		text-transform uppercase
	&__a:hover
		text-decoration none
	&__more 
		font-size 15px
	&__more p
		margin-bottom 15px
	&__span 
		font-size 15px
		font-weight 100
	&__list-part
		width 100%
	&__list-block
		width 45%
		float left 
		margin-right 4%
	&__list-block:last-child
		margin-right 0
	&__list
		margin-left 13px
	&__item
		list-style-image url(../img/link.png)
		font-size 15px
		padding-left 10px
		margin-bottom 4px
		vertical-align middle
	&__item2 
		position relative
	&__hint
		display none
		position absolute
		top 18px 
		left -25px
		width 120%
		background #fff 
		padding 10px
		z-index 10
		border 1px solid #E3E3E3
	&__plus-icon
		display inline-block
		width 15px 
		height 15px 
		margin-left 12px
		background url(../img/q-one.svg) no-repeat
	&__item2:hover
		cursor pointer
		text-decoration underline
	&__item2:hover &__plus-icon
		background url(../img/qw.svg) no-repeat
		cursor pointer
		text-decoration underline
	&__item2:hover &__hint 
		display block
	&__span2
		font-size 13px
	&__map-content
		margin 0 30px 30px 30px
	&__map 
		width 100%
		height 400px
		position relative
	&__dis
		display block
		position absolute 
		top 0 
		left 0
		width 100%
		height 100%
		z-index 1
	&__iframe
		width 100%
		height 400px

@media screen and (max-width: 1110px)
	.top-hotels-one, .hotels-one
		min-width 960px
	.hotels-one__content
		width 42% 


@media screen and (max-width: 960px)
	.top-hotels-one, .hotels-one
		min-width 720px
	.hotels-one__content
		width 100% 
		float none
	.hotels-one__table
		width 100%
		margin-top 15px
	.hotels-one__text
		margin-bottom 25px
	.top-hotels-one__stars
		top 30px
	.top-hotels-one__size
		max-width 27px
		max-height 100%


@media screen and (max-width: 720px)
	.top-hotels-one, .hotels-one
		min-width 480px
	.top-hotels-one__stars
		top 5px
	.hotels-one__text
		margin-bottom 15px
	.hotels-one__description
		margin-bottom 4px
	.hotels-one__map, .hotels-one__iframe
		height 300px


@media screen and (max-width: 480px)
	.top-hotels-one, .hotels-one
		min-width 320px
	.top-hotels-one__stars
		top 5px
	.top-hotels-one__size
		max-width 15px
	.hotels-one__map, .hotels-one__iframe
		height 250px
	.hotels-one__more
		font-size 13px
	.hotels-one__description
		font-size 15px
	.hotels-one__list-block
		width 100%
		float none
	.nav-block__span
		font-size 13px


