.hotels
	display block
	min-width 1110px
	background url(../img/hotels-fon.png) no-repeat
	background-position top center
	&__wrap
		width 100%
		margin-top 35px
		background #fff
		padding 25px 30px 0 30px
	&__side-bar
		width 23%
		float left
	&__content
		width 74%
		float right
	&__division
		padding 11px 0
		border-top 1px solid #D8D8D8
		position relative
	&__division2
		border-bottom 1px solid #D8D8D8
	&__title
		font-size 15px
	&__label
		font-size 13px
		padding-left 10px
		vertical-align middle 
	&__label2 
		padding-left 10px 
		color #F7391A
		font-size 15px
		vertical-align middle
	&__input 
		width 19px
		height 19px
		vertical-align middle
	&__meaning
		display none
		margin-top 15px
		margin-bottom 13px
	&__choice
		margin-bottom 2px 
	&__open
		display none
		width 17px
		height 10px
		background url(../img/strel2.png) no-repeat
		position absolute
		right 2px
		top 16px
	&__close
		display block
		width 17px
		height 10px
		background url(../img/strel3.png) no-repeat
		position absolute
		right 2px
		top 16px
	&__open:hover, &__close:hover
		cursor pointer
	&__block-submit
		margin 16px 35px 0 35px
	&__submit
		width 100%
		text-align center
		padding 15px 0 16px 0
		font-size 15px
		text-transform uppercase
		background #ffc600
		border none
		border-radius 25px
		-webkit-appearance none
	&__submit:hover
		cursor pointer
		background #ffd200
	&__content-top
		width 100%
		margin-bottom 15px
	&__content-search
		width 68%
		float left
		position relative
	&__sort
		width 28.5% 
		float right
	&__inp-serch
		width 100%
		padding 12px 12px 14px 18px
		background #fff 
		border 1px solid #D8D8D8
		color #000
		font-size 15px
		border-radius 8px
	&__inp-sub
		width 20px
		height 20px
		color #fff
		background #fff url(../img/lupa.png) no-repeat
		position absolute
		right 12px 
		top 12px
		z-index 10
		border none
		-webkit-appearance none
	&__inp-sub:hover
		cursor pointer
		-webkit-transform scale(1.3)
		-moz-transform scale(1.3)
		-o-transform scale(1.3)
	&__inp-serch::-webkit-input-placeholder
		color #000
	&__inp-serch::-moz-placeholder
		color #000
	&__inp-serch:-moz-placeholder
		color #000
	&__inp-serch:-ms-input-placeholder
		color #000
	&__sort-label
		float left
		font-size 17px
		margin-right 14px
		margin-top 14px
	&__sort-ul
		display inline-block
		width 90px
		margin-top 11px
	&__sort-li
		display table-cell
		list-style none
		padding-right 10px
	&__sort-li:last-child 
		padding-right 0
	&__sort-a
		font-size 20px
		text-decoration none
		color #000
	&__part 
		width 100%
	&__build
		width 32%
		float left 
		margin-right 2%
		margin-bottom 30px
		height 300px 
		overflow hidden
	&__build:nth-child(3n) 
		margin-right 0
	&__build-picture
		width 100%
		position relative
		&--size 
			max-width 250px
			max-height 194px
			width 100%
			text-align center
	&__build-link
		text-decoration none
		color #000
	&__build-icon
		position absolute
		top 0 
		left 0
	&__build-name
		margin-top 18px
		margin-bottom 8px
		font-size 18px
	&__build-desk
		font-size 15px
	&__build-category
		margin-right 15px
	&__build-stars
		margin-right 3px
.hotels__sort-a-active
	color #EABA11

.hotels__title-active 
	color #E9B500 

@media screen and (max-width: 1110px)
	.hotels
		min-width 960px
	.hotels__sort
		width 32%
	.hotels__content-search
		width 65%
	.hotels__build
		height 290px
	.hotels__build-category
		margin-right 5px

@media screen and (min-width: 960px)
	.hotels__button-one, .hotels__button-two
		display none!important
	.hotels__side-hide
		display none!important
	.load2
		overflow visible!important

@media screen and (max-width: 960px)
	.hotels
		min-width 720px
		background #fff
	.hotels__wrap
		margin-top 0
	.hotels__side-bar
		width 100%
		height 100%
		overflow auto
		position fixed
		background rgba(49, 49, 49, 0.7)
		right -150%
		top 0
		z-index 100
		-webkit-transition right 1s ease-out 0.5s
		-moz-transition right 1s ease-out 0.5s
		-o-transition right 1s ease-out 0.5s
		transition right 1s ease-out 0.5s
	.hotels__side-bar-active
		position fixed
		right 0
		top 0
	.hotels__side-position
		width 50%
		float right
		position relative
	.hotels__side-form
		width 100%
		padding 5px 20px
		margin-top 132px
		background #fff
		position absolute
		top 0 
		right 0 
		z-index 200
	.hotels__side-hide
		position absolute 
		left -52px
		top 132px
		padding 12px 15px
		background #4A4A4A
	.hotels__side-hide:hover
		cursor pointer
	.hotels__division
		width 86%
	.hotels__division-mobile
		border-top none
	.hotels__content-search
		width 100%
		height 100%
		overflow auto
		position fixed
		background rgba(49, 49, 49, 0.7)
		top -100%
		left 0
		z-index 100
		-webkit-transition top 1s ease-out 0.5s
		-moz-transition top 1s ease-out 0.5s
		-o-transition top 1s ease-out 0.5s
		transition top 1s ease-out 0.5s
	.hotels__search-active
		position fixed
		left 0
		top 133px
	.hotels__search-position
		width 100%
		position relative 
	.hotels__search-fon
		width 100%
		background #fff 
		padding-top 52px 
		padding-bottom 58px
		position absolute 
		top 0 
		left 0
		z-index 200
	.hotels__search-form
		width 680px
		margin 0 auto
	.hotels__sort
		display none
	.tour__name-mobile
		color #000
	.hotels__content
		width 100%
	.hotels__block-buttons
		width 40%
		position absolute
		right 30px 
		top 60px
	.hotels__button-one:hover, .hotels__button-two:hover
		background #ffd200
		cursor pointer
	.hotels__button-one
		width 45%
		float left
	.hotels__button-two
		width 45%
		float right
	.hotels__button-one, .hotels__button-two
		display block
		color #000
		text-transform uppercase
		font-weight bold
		text-align center
		padding 12px 0
		background #ffc600
		border-radius 35px
	.hotels__block-submit
		margin-bottom 30px
		margin-left 5px
	#menu3
		width 53px
	.default3
		display none
	.fixed3
		display block
		position fixed 
		bottom 50px 
		right 50px 
		z-index 1000
		background #F6F6F6
		box-shadow 0 2px 4px rgba(0, 0, 0, .2)
		height 60px
	.button-top
		width 53px 
		height 53px 
		background #000 url(../img/topp.svg) no-repeat
		background-position center center
		opacity 0.8
		

@media screen and (max-width: 720px)
	.hotels
		min-width 480px
	.hotels__block-buttons
		width 45%
		top 44px
	.hotels__wrap
		padding 10px
	.hotels__build
		width 49%
	.hotels__build:nth-child(2n)
		margin-right 0
	.hotels__build:nth-child(3n)
		margin-right 2%
	.hotels__build:nth-child(6n)
		margin-right 0
	.hotels__build-category
		margin-right 5px
	.hotels__side-position
		width 65%
	.hotels__search-form
		width 460px


@media screen and (max-width: 480px)
	.hotels
		min-width 320px
	.hotels__block-buttons
		width 60%
		top 20px
		right 12px
	.hotels__button-one, hotels__button-one
		width 49%
	.hotels__build
		width 100%
		float none
		height 305px 
		margin-bottom 15px
	.hotels__build-picture--size
		max-width 100%
		max-height 205px
	.hotels__side-bar, .hotels__side-bar-active, .sub, .hotels__search-active, .hotels__content-search
		min-width 320px
	.hotels__side-position
		width 75%
	.hotels__search-form
		width 300px
	.hotels__search-fon
		padding-top 25px 
		padding-bottom 30px

		