@import 'general.styl'
.header
	display block 
	min-width 1110px 
	background #343434
	&__content 
		width 100%
		padding 10px 
	&__logo
		width 10%
		float left
		&--size 
			max-width 100px
			max-height 117px 
	&__menu 
		width 53%
		float left 
		margin-left 12%
	&__nav
		width 100%
		margin-top 50px
	&__list 
		display table
		width 100%
		list-style none
	&__item 
		padding 0 10px
		text-align center
		display table-cell
	&__link 
		color #fff
		font-size 15px 
		text-decoration none
	&__link:hover 
		color #FCD45B 
		
	&__call
		width 17%
		float right
		margin-top 15px
		position relative
	&__number
		margin-bottom 12px
		color #fff
		&--tel 
			width 22px
			height 22px
			vertical-align middle
		&--tel:hover 
			cursor pointer
		&--strel
			padding-left 4px
			padding-right 9px
			vertical-align middle
		&--strel:hover 
			cursor pointer
		&--span 
			font-size 22px
			vertical-align middle
	&__button
		padding 12px 0 15px 0
		text-align center 
		font-weight bold 
		text-transform uppercase
		background #FFC600
		color #000
		border-radius 60px
	&__button:hover 
		background #FFD200
		cursor pointer
	&__telephone
		display none
		position absolute
		left 19px 
		top 30px
		background #fff 
		border 1px solid #D9D9D9
		opacity 0.9
	&__tel
		padding 10px 17px
		color #343434
		font-size 18px
		font-weight bold
		border-bottom 1px solid #DADADA
	&__tel:last-child 
		border-bottom none
	&__adaptive-icon, &__adaptive-icon--hover
		display none
	&__none 
		display block
.header__link-acive
	color #FCD45B
.navigation
	display block 
	min-width 1110px
	background #fff
	&__nav
		width 100%
	&__ul
		display table
		width 100%
		list-style none
		padding-right 28px
	&__li
		text-align center
		display table-cell
	&__a
		display block 
		color #4F4F4F
		text-decoration none 
		font-size 18px
		padding 17px 29px 20px 29px
	&__a:hover, &__a:active
		background #FFC600
.active-link
	background #FFC600

.slider 
	display block
	width 100%
	&__block
		width 45%
		position absolute
		top 325px
		left 60px
		z-index 1000
	&__text
		width 70% 
		float left 
		color #fff 
		font-size 62px
		line-height 0.9
	&__button
		display block 
		width 28% 
		float right
		color #fff 
		text-decoration none 
		padding 12px 0
		border 1px solid #fff 
		border-radius 50px
		text-transform uppercase
		text-align center
		margin-top 63px
	&__button:hover 
		background #FFC600
		color #000
	&__shadow
		position absolute
		bottom 2px 
		left 0
		height 100%
		width 100% 
		background url(../img/shadow.png) no-repeat 
		background-position bottom center
		z-index 1
	&__shadow-two
		position absolute
		bottom 0
		left 0
		height 100%
		width 100% 
		background url(../img/shadow.png) no-repeat 
		background-position bottom center
		z-index 10000
				
.rest
	display block 
	min-width 1110px
	background #FFFFFF
	&__name 
		padding 45px 0
		font-size 27px
		color #343434
		vertical-align middle
		&--img 
			max-width 45px 
			max-height 36px 
			margin-right 17px
			vertical-align middle
		&--span
			vertical-align middle
	&__block 
		width 19.81%
		height 441px 
		overflow hidden
		float left
		margin-right 3px
		margin-bottom 3px
	&__block:nth-child(4n)
		margin-right 0
	&__block2 
		width 19.7%
	&__block3 
		width 19.6%
		margin-right 4px
	&__block:nth-child(3), &__block:nth-child(5)
		width 39.6%
		height 441px 
		overflow hidden
		float left
		margin-right 3px
		margin-bottom 3px
	&__block-link
		display block 
		width 100%
		height 100%
		text-decoration none
	&__block-link2
		height 49.7%
		margin-bottom 3px
	&__block-link3
		height 49.7%
		margin-bottom 3px
	&__block-link2:last-child 
		margin-bottom 0
	&__block-link:hover
		text-decoration underline
	&__fon-img
		width 100%
		height 100%
		background url(../img/vip.png) no-repeat 
		background-size cover
		position relative
	&__picture:first-child 
		margin-bottom 4px
	&__picture
		width 100%
		position relative
		&--size1
			display block
			max-width 220px 
			max-height 440px
		&--size2
			display block
			max-width 220px 
			max-height 218px
		&--size3
			display block
			max-width 441px 
			max-height 440px
	&__text 
		width 100%
		padding 15px 15px 17px 20px
		background #000
		opacity 0.7
		position absolute 
		left 0
		bottom 0
	&__desc 
		font-size 20px 
		color #fff
		opacity 1
	&__banner
		padding 28px 26px 
		background url(../img/baner.png) no-repeat
		color #fff
		margin 35px 0
	&__ban-top
		font-size 30px
		&--span1 
			text-transform uppercase 
	&__ban-bot
		margin-top 7px 
		font-size 18px
	&__forma 
		width 86.5%
		margin-top 15px
	&__part-form 
		width 33%
		float left 
		margin-right 1%
	&__part-form:nth-child(2)
		margin-right 0
	&__part-form:last-child 
		margin-right 0
	&__input 
		display block 
		width 100%
		padding 12px 15px 
		font-size 16px
		background #fff 
		border none 
		color #161616
		border-radius 5px
	&__fon 
		background url(../img/back-inp.png) no-repeat
	&__inp-sub
		display block
		width 85%
		font-size 14px
		padding 12px 18px
		text-transform uppercase 
		text-align center
		background #FFC600
		border-radius 45px
		border none
		outline none
		-webkit-appearance none	
	&__inp-sub:hover 
		cursor pointer 
		background #ffd200
	&__help 
		display none
		padding-left 10px
		color #C82A1B
	&__all-news
		position absolute 
		right 0
		top 55px 
		text-transform uppercase
		color #424242
	&__all-news:hover
		text-decoration none
.hot
	display block
	min-width 1110px
	background #FAFAFA 
	border-top 1px solid #EEEEEE
	border-bottom 1px solid #EEEEEE
	&__content 
		padding-bottom 35px
	&__part 
		width 100%
	&__block
		width 31%
		height 328px
		float left 
		margin-right 3.5%
		margin-bottom 20px 
		position relative 
	&__block:nth-child(3n) 
		margin-right 0
	&__block-link
		text-decoration none 
		color #fff
	&__picture
		width 100%
		position absolute 
		top 0 
		left 0
		z-index 1
		&--size 
			max-width 350px
			max-height 330px
			width 100%
	&__icon-one 
		position absolute 
		top 0 
		left 0
		z-index 2
	&__description
		width 100%
		padding 0 0 10px 16px
		background #000
		opacity 0.7
		position absolute 
		bottom 5px 
		left 0
		z-index 2
	&__desc-top
		margin-bottom 5px
	&__desc-title
		width 50%
		font-size 18px
		padding-top 17px
	&__icon-two
		width 140px
		position absolute 
		right 0 
		bottom 15px 
		z-index 3
		background url(../img/icon-2.png) no-repeat  
		padding 12px 3px 16px 19px
		font-size 22px 
		color #000
		&--span 
			font-size 14px
	&__desc-more 
		display none
		margin-top 15px
		font-size 16px
	&__desc-button
		width 35%
		margin 20px auto 0 
		text-align center
		padding-top 5px 
		padding-bottom 7px
		font-size 12px 
		text-transform uppercase 
		color #fff 
		border 1px solid #fff 
		border-radius 45px
	&__desc-button:hover, &__desc-button:active  
		background #FFC600
		color #000
	&__block-link:hover &__desc-more
		display block
	&__block-link:hover &__icon-two
		bottom 116px
	&__button
		display block
		width 15% 
		margin 20px auto 0
		padding 12px 0 
		color #343434
		font-weight 900
		border 1px solid #343434
		border-radius 45px
		text-transform uppercase
		text-align center
		text-decoration none
	&__button:hover 
		background #FFC600
		color #000
.news
	display block 
	min-width 1110px 
	background #fff
	border-bottom 1px solid #EEEEEE
	&__part 
		width 100%
	&__wrap
		width 23%
		float left
		position relative
	&__wrap:nth-child(2)
		width 48.8%
		margin-left 30px
	&__wrap:nth-child(3)
		width 23%
		float right
	&__block
		width 100%
		margin-bottom 30px
	&__block-link
		text-decoration none
	&__block-link:hover &__description
		color #858585
	&__picture
		width 100%
		background url(../img/main-news.png) no-repeat
		background-size cover
		height 170px
	&__picture-main
		height 540px
	&__title
		margin-top 8px
		margin-bottom 5px 
		color #858585
	&__description 
		font-size 18px
		color #000
		line-height 22px
		height 66px
		overflow hidden
	&__main
		width 100%
		height 140px 
		overflow hidden
		position absolute
		top 200px
		left 0
		padding 32px
		color #fff 
		background #000 
		opacity 0.8
	&__main-hover
		height 340px
	&__main-link
		text-decoration none 
		color #fff
	&__main-description
		margin-top 10px 
		font-size 22px
	&__main-text
		margin-top 35px
		height 164px
.news-all
	width 542px
	height 540px 
	overflow hidden
	position absolute
	top 200spx
	left 285px
	padding 32px
	color #fff 
	background #000 
	opacity 0.8
.map
	width 100%
	height 480px
	margin-top 60px
	position relative
	&__dis 
		display block
		position absolute
		top 0 
		left 0
		width 100%
		height 100%
		z-index 10
	&__block
		width 100%
		height 480px
.footer
	display block
	min-width 1110px
	background #343434
	&__content 
		color #fff 
		padding 27px 5px 0 5px
		font-size 15px
	&__block
		width 20%
		float left
		margin-right 6%
	&__block:first-child
		width 15%
	&__block:last-child
		width 25% 
		margin-right 0
	&__item
		list-style none
		margin-bottom 4px
	&__link 
		color #fff
		text-decoration none 
	&__link:hover
		color #E8C456
	&__about
		text-align right
		color #A4A4A4
	&__about p 
		margin-bottom 4px
	&__soc-part
		margin-top 10px 
	&__slogan
		font-size 13px
		color #A4A4A4
		margin 15px 0
	&__soc-block
		width 30px 
		height 30px
		float left
		margin-right 8px
	&__inst 
		background url(../img/inst.svg)
	&__inst:hover 
		background url(../img/inst-hov.svg)
	&__fb
		background url(../img/fb.svg)
	&__fb:hover 
		background url(../img/fb-hov.svg)
	&__vk 
		background url(../img/vk.svg)
	&__vk:hover 
		background url(../img/vk-hov.svg)
	&__logo
		display block 
	&__logo-hover 
		display none
	&__mobile-block
		display none
.active-link-footer
	color #FFCE44
.load
	overflow hidden !important
	height 100%

.load2
	overflow hidden!important
	height 100%

.popup-call
	display none
	width 100%
	height 100%
	overflow auto
	position fixed
	z-index 9999999
	background rgba(49, 49, 49, 0.9)
	top 0
	left 0
.capture
	width 100%
	height 3px 
	position fixed
	top 20px
	left 0
	z-index 10000
	opacity 0.1
	
.popup-selection
	display none
	width 100%
	height 100%
	overflow auto
	position fixed
	z-index 9999999
	background rgba(49, 49, 49, 0.9)
	top 0
	left 0
.popup-tour, .popup-assortment
	display none
	width 100%
	height 100%
	overflow auto
	position fixed
	z-index 9999999
	background rgba(49, 49, 49, 0.9)
	top 0
	left 0
	
.sub
	position absolute
	top 0 
	left 0 
	width 100%
	height 100%
	overflow auto
	z-index 10
.sub-two
	display none
	position absolute
	top 0 
	left 0 
	width 100%
	height 100%
	overflow auto
	z-index 10
.sub-show 
	display block
.forma-selection
	display block
	width 424px
	margin 15% auto 0 
	background #fff
	padding 30px 50px 
	position relative
	z-index 100
	&__wrap-selection
		color #000
	&__cover-sel
		position absolute
		top -148px
		left -22px
.forma-assortment
	margin-top 150px
.forma__inp-assortment
	color #747474!important
.forma
	display block
	width 424px
	height 351px
	margin 15% auto 0 
	background #fff
	padding 30px 50px 
	position relative
	z-index 100
	&__cover 
		position absolute
		top -40px 
		left -67px
	&__close
		position absolute 
		top -10px
		right -10px
		padding 10px 10px 8px 10px
		background #FFD200
		border-radius 30px
	&__close:hover
		border-radius 30px 
		cursor pointer
	&__wrap
		color #000
		position absolute 
		top 30px 
		left 50px
		width 76%
	&__name 
		font-size 28px 
		text-align center 
	&__m 
		margin-bottom 25px
	&__description 
		font-size 16px 
		text-align center 
		margin-top 15px 
		margin-bottom 25px
	&__block
		margin-bottom 7px
	&__input
		width 100%
		padding 12px 16px
		background #FBFBFB
		border 1px solid #D8D8D8
		border-radius 4px 
		color #000 
		font-size 16px	
	&__submit
		width 100%
		margin-top 7px
		text-align center 
		padding 20px 0
		background #FFC600
		font-size 20px
		text-transform uppercase
		border-radius 95px
		border-top none
		border-left none 
		border-right none
		border-bottom 1px solid #DEAC00
		outline none
		-webkit-appearance none
	&__submit:hover
		cursor pointer 
		background #FFD200
	&__textarea
		font-family 'Exo 2', sans-serif
		height 140px
.popup-thank-you
	display none
	width 100%
	height 100%
	overflow auto
	position fixed
	z-index 2000
	background rgba(49, 49, 49, 0.9)
	top 0
	left 0
	padding-top 18%
	&__text
		width 75%
		margin 0 auto
		text-align center 
		color #fff
		position relative
		z-index 100
	&__top 
		font-size 35px 
		text-transform uppercase
.sub-thank
	position absolute
	top 0 
	left 0 
	width 100%
	height 100%
	overflow auto
	z-index 10

@media screen and (max-width: 1110px)
	.header, .navigation, .slider, .rest, .hot, .news, .partners, .map, .footer
		min-width 960px 
	.wrapper-inner
		width 960px
	.header__logo
		width 11%
	.header__menu
		width 60%
		margin-left 2%
	.header__call
		width 20%
	.navigation__ul 
		padding-right 0
	.slider__block
		top 250px
	.rest__content
		padding 0 10px
	.rest__picture:first-child
		margin-bottom 3.5px
	.rest__block:nth-child(3), .rest__block:nth-child(5)
		width 39%
	.rest__inp-sub
		width 100%
	.rest__part-form:nth-child(2)
		margin-right 1%
	.rest__fon
		background #fff
	.rest__part-form
		width 32%
	.rest__block:nth-child(3)
		width 39.5%
	.rest__block:nth-child(5)
		width 39.7%
	.rest__block3
		margin-right 3px
	.hot__content
		padding-left 10px 
		padding-right 10px
	.hot__block
		height 280px
	.hot__desc-title
		font-size 16px
	.hot__desc-button
		width 45%
	.hot__icon-two
		bottom 13px
	.hot__block-link:hover .hot__icon-two
		bottom 105px
	.news__description
		font-size 16px
	
@media screen and (min-width: 960px)
	.header-mobile, .header__adaptive-icon, .header__adaptive-icon--hover
		display none!important

@media screen and (max-width: 960px)
	.header, .navigation, .slider, .rest, .hot, .news, .partners, .map, .footer
		min-width 720px 
	.wrapper-inner
		width 720px
	.header__logo
		width 14%
	.header__none
		display none
	.header__adaptive-icon, .header__adaptive-icon--hover
		float right
		margin-top 35px
		margin-right 10px
		padding 15px
		border 1px solid #FFDF72
		vertical-align middle
	.header__adaptive-icon
		display block
		background none
	.header__adaptive-icon:hover, .header__adaptive-icon--hover:hover 
		cursor pointer
	.header__adaptive-icon--hover
		display none
		background #FFC600
	.header-mobile
		display none
		position absolute
		top 132px
		right 10%
		width 80%
		background #000
		opacity 0.9
		color #fff
		z-index 10100
		&__block
			padding 30px 30px 15px 30px
			border-top 1px solid #5D5D5D
			border-bottom 1px solid #5D5D5D
		&__block:first-child, &__block:last-child
			border-top none
			border-bottom none
		&__list
			width 100%
		&__li
			list-style none
			margin-bottom 5px
		&__left
			width 40%
			float left
			margin-right 10%
		&__left:nth-child(2), &__left:nth-child(4), &__left:nth-child(6)
			margin-right 0
		&__a
			display block
			font-size 18px
			color #fff 
			padding 12px 0 12px 8px
			text-decoration none
		&__a:hover
			background #FFC600
		&__telephone
			width 45%
			float left
		&__button
			width 40%
			margin-left 45%
			margin-top 30px
		&__font
			display block 
			font-size 18px
			padding-left 8px
			margin-bottom 19px
		&__span
			font-size 20px
			margin-left 12px
			vertical-align middle
		&__soc
			font-size 16px
			color #AAAAAA
			margin-left 5px
			vertical-align middle
		&__soc-img
			margin-left 25px
			vertical-align middle
		&__ots
			margin-bottom 15px

	.slider__block
		width 55%
		top 225px
	.slider__text 
		font-size 50px
	.slider__text
		width 66%
	.slider__button
		width 32%
		margin-top 45px
	.rest__part
		margin-left 25px
	.rest__name
		text-align center
	.rest__block
		width 32%
		height 436px
		margin-bottom 2px
	.rest__block:nth-child(3), .rest__block:nth-child(5)
		width 64.5%
		height 436px
		margin-bottom 2px
	.rest__block:first-child, .rest__block:nth-child(2)
		width 24%
		height 327px
	.rest__block:nth-child(3)
		width 48.2%
		height 327px
	.rest__picture--size1
		width 100%
	.rest__picture--size2
		width 100%
	.rest__picture--size3
		width 100%
	.rest__size-auto
		width auto
	.rest__block:nth-child(4n)
		margin-right 2px 
	.rest__block:nth-child(4)
		margin-right 3px 
	.rest__banner
		padding 12px
	.rest__ban-top
		font-size 20px
	.rest__ban-bot
		font-size 14px 
		margin-top 4px
	.rest__forma
		width 100%
	.rest__inp-sub
		font-size 13px
		padding-left 5px
		padding-right 5px
	.hot__block
		width 48%
		height 318px
		margin-right 4%
	.hot__block:nth-child(3n)
		margin-right 4%
	.hot__block:nth-child(2n)
		margin-right 0
	.hot__description
		bottom 0
	.hot__desc-button
		width 40%
	.hot__button
		width 25%
	.rest__left
		text-align left
	.rest__all-news
		right 10px
	.news__wrap, .news__wrap:nth-child(2), .news__wrap:nth-child(3)
		width 100%
		float none
	.news__wrap:nth-child(2)
		margin-left 0
		margin-bottom 20px
	.news__picture
		height 200px
	.news__picture-main
		height 460px
	.news__main
		top 122px
	.news__block
		width 47%
		float left 
		margin-right 6%
		margin-bottom 20px
	.news__block:last-child 
		margin-right 0
	.news__main-text
		margin-top 55px
	.hot__icon-two
		bottom 8px
	.hot__block-link:hover .hot__icon-two
		bottom 100px
	.forma-selection
		margin-top 22%
	.footer__none
		display none
	.footer__mobile-block
		display block
		width 40%
		float left
		color #a4a4a4
		font-size 14px
	.footer__block:last-child
		width 30%
		float right
		text-align right
	.footer__slogan
		margin-top 0
		font-size 14px
	.footer__mobile-adr
		margin-top 15px
	.footer__logo, .footer__logo-hover
		margin-right 15px
	.popup-thank-you__top
		font-size 24px
	
	


@media screen and (max-width: 720px)
	.header, .navigation, .slider, .rest, .hot, .news, .partners, .map, .footer
		min-width 480px 
	.wrapper-inner 
		width 480px
	.header-mobile
		width 70%
		right 15%
		&__block
			padding 15px 15px 4px 15px
		&__a
			font-size 16px
			padding-top 7px
			padding-bottom 7px
		&__font
			font-size 16px
			margin-bottom 14px
		&__span
			margin-left 6px
			font-size 16px
		&__soc
			font-size 13px
		&__soc-img
			margin-left 15px
		&__button
			width 50%
			float right
			margin-left 0
	.slider__block
		top 190px
	.slider__text 
		font-size 36px
	.slider__block
		width 70%
	.slider__text 
		width 60%
	.slider__button 
		width 40%
		margin-top 19px
	.rest__part 
		margin-left 15px
		text-align center
	.rest__name
		padding 30px 0
	.rest__block:first-child, .rest__block:nth-child(2)
		width 49%
		height 433px
	.rest__block:nth-child(4), .rest__block:nth-child(6)
		width 100%
		height 218px
	.rest__block:nth-child(3)
		width 98.5%
		height 433px
	.rest__block
		width 49%
		height 433px
	.rest__block:nth-child(3), .rest__block:nth-child(5)
		width 98.5%
	.rest__size-auto 
		width 100%
	.rest__float
		width 49%
		float left 
		margin-right 3px
	.rest__float:last-child
		margin-right 0
	.rest__banner
		background-size cover
		text-align center
	.rest__part-form
		width 75%
		float none 
		margin 0 auto 15px
	.rest__part-form:nth-child(2), .rest__part-form:last-child
		margin-left auto 
		margin-right auto
	.rest__left
		text-align left
		margin-left 0
	.rest__all-news
		top 38px
		right 10px
	.rest__block3
		margin-right 3px
	.rest__block-link3
		height 100%
		margin-bottom 0
	.hot__block
		float none 
		width 76%
		height 330px
		margin 0 auto 20px
	.hot__block:nth-child(2n),.hot__block:nth-child(3n)
		margin-right auto
		margin-left auto
	.hot__button
		width 33%
	.news__main
		width 100%
		left 0
	.news__part 
		padding-left 0
		padding-right 0
	.news__main-description
		font-size 18px
	.news__picture
		height 170px
	.news__picture-main
		height 460px
	.map, .map__block
		height 390px
	.forma__cover 
		display none
	.forma, .forma-selection
		width 350px
		height auto
	.forma__wrap
		position static
		width 100%
	.forma__submit
		padding 15px 0 
		font-size 18px
	.forma-selection__cover-sel
		display none
	.forma-selection
		margin-top 15%
	.footer__mobile-block, .footer__slogan
		font-size 13px
	.footer__mobile-block
		width 45%
	.footer__block:last-child
		width 40%
	.popup-thank-you__top
		font-size 18px
		
	
	
	
	
	

@media screen and (max-width: 480px)
	.header, .navigation, .slider, .rest, .hot, .news, .partners, .map, .footer
		min-width 320px 
	.wrapper-inner
		width 320px
	.header__adaptive-icon, .header__adaptive-icon--hover
		margin-right 0
	.header-mobile
		right 2%
		width 94%
		&__block
			padding 8px 8px 2px 8px
		&__a
			font-size 14px
			padding-top 4px
			padding-bottom 4px
		&__font
			font-size 14px
			margin-bottom 10px
		&__span
			margin-left 5px
			font-size 14px
		&__soc
			font-size 12px
		&__soc-img
			margin-left 10px
		&__button
			width 55%
	.rest__name
		padding 15px 0 
		font-size 20px
	.rest__part 
		margin-left 0
	.rest__block 
		width 49%
		height 295px
	.rest__block:nth-child(3), .rest__block:nth-child(5) 
		width 99%
		height 298px
	.rest__block:first-child, .rest__block:nth-child(2)
		height 295px
	.rest__block:nth-child(4), .rest__block:nth-child(6)
		width 100%
		height 148px
	.rest__block:nth-child(3)
		width 99%
		height 295px	
	.rest__text
		padding 10px
	.rest__desc
		font-size 14px
	.slider__block
		top 152px
	.slider__text
		width 55%
		font-size 18px
	.slider__button
		width 45%
	.slider__button
		font-size 10px
		padding 6px 0
		margin-top 5px
	.rest__ban-top
		font-size 16px 
	.rest__ban-bot
		font-size 13px
	.rest__part-form
		width 100%
	.hot__content 
		padding-bottom 25px
	.hot__block 
		width 100%
		height 285px
	.hot__button
		margin-top 10px
		width 100%
	.news__main-description
		font-size 18px
	.news__block
		width 100%
		float none
		margin-bottom 15px
	.rest__all-news
		top 22px
		font-size 12px
	.map
		margin-top 30px 
	.map, .map__block 
		height 280px
	.forma, .forma-selection
		width 290px
		padding 15px 10px
	.forma__name
		font-size 24px
	.footer__mobile-block
		width 43%
	.footer__mobile-block, .footer__slogan
		font-size 10px
	.footer__block:last-child
		width 49%
	.popup-thank-you__top
		font-size 16px
	
	

@import 'owl-carusel.styl'
@import 'tour.styl'
@import 'about.styl'
@import 'country.styl'
@import 'country_1.styl'
@import 'city.styl'
@import '404.styl'
@import 'hotels.styl'
@import 'hotels_1.styl'
@import 'company.styl'
@import 'blog.styl'
@import 'blog_1.styl'
@import 'documents.styl'
@import 'visa.styl'
@import 'reviews.styl'
@import 'contacts.styl'
@import 'sertificate.styl'
@import 'search-tour.styl'


