.sertificate
	display block
	min-width 1110px
	background #F2F2F2 url(../img/serf-main.png) no-repeat
	background-position bottom center
	border-top 1px solid #D7D7D7
	&__wrap 
		margin-top 35px 
		padding-bottom 80px
	&__content
		background #fff
		padding 30px 
	&__logo
		width 100% 
		height 627px 
		background url(../img/serf-logo.png) no-repeat 
		background-size cover
	&__title
		margin 35px 0 
		font-size 27px
		text-align center
	&__text
		width 100% 
	&__text-part 
		width 49% 
		float left 
		margin-right 2%
		font-size 15px
		line-height 1.3
	&__text-part:last-child 
		margin-right 0
	&__text-part p, &__text-part ul 
		margin-bottom 20px
	&__li 
		list-style-image url(../img/link.png)
		list-style-position inside
		padding-left 12px
		margin-bottom 5px
	&__button
		width 30% 
		text-align center 
		padding 20px 
		font-size 20px 
		text-transform uppercase
		font-weight bold 
		margin 25px auto 15px
		background #FFC600
		border-radius 45px
	&__button:hover
		cursor pointer 
		background #FFD200
.forma-sertificate
	padding-left 57px 
	padding-right 57px

@media screen and (max-width: 1110px)
	.sertificate
		min-width 960px

@media screen and (max-width: 960px)
	.sertificate
		min-width 720px
	.sertificate__logo
		height 430px
	.sertificate__button
		width 44%

@media screen and (max-width: 720px)
	.sertificate
		min-width 480px
	.sertificate__logo
		height 300px
	.sertificate__title
		font-size 22px 
		margin 25px 0
	.sertificate__text-part
		width 100% 
		float none 
		margin-right 0 
	.sertificate__text-part p, .sertificate__text-part ul 
		margin-bottom 12px
	.sertificate__button
		width 100%
	.forma-sertificate
		padding-left 25px 
		padding-right 25px

@media screen and (max-width: 480px)
	.sertificate
		min-width 320px
	.sertificate__wrap
		margin-top 25px 
		padding-bottom 35px 
	.sertificate__content
		padding 10px
	.sertificate__logo
		height 200px
	.sertificate__title
		font-size 18px 
		margin 15px 0
	.sertificate__text-part p, .sertificate__text-part ul
		margin-bottom 7px
	.sertificate__button
		font-size 15px 
		padding 14px 0
	.forma__serf 
		margin-bottom 0
		