.visa 
	display block
.visa__description p
	margin-bottom 15px
.visa__td
	width 20% 
	padding 17px
	font-size 15px
	text-align center
.visa__td p 
	font-size 15px
	margin-bottom 12px
.visa__fon
	background #343434 
	color #fff
	text-transform uppercase
.visa__td2
	border 1px solid #D7D7D7

.visa__td-red
	color #BB0000

@media screen and (max-width: 960px)
	.documents__visa-table
		background #fff
	.documents__visa-hat
		display none 
	.documents__visa-mobile
		display block
	.documents__visa-open, .documents__visa-close
		top 45px
	.visa__td
		width 25%

@media screen and (max-width: 720px) 
	.documents__visa-open, .documents__visa-close
		top 40px
	.visa__td
		font-size 14px 
		padding 22px 5px

@media screen and (max-width: 480px)
	.visa__td 
		padding 10px 1px
		font-size 10px
	.documents__visa-open, .documents__visa-close
		top 17px
	.visa__description
		font-size 13px
	.visa__description p 
		margin-bottom 4px
	.visa__td p
		font-size 10px
		
	
	