[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.7'

[dev-packages]
django-debug-toolbar = "*"
freezegun = "*"
coverage = "*"
"flake8" = "*"
mypy = "*"
bandit = "*"
tox = "*"
pydocstyle = "*"
ipython = "*"

[packages]
pillow = "*"
"psycopg2" = "*"
"jinja2" = "*"
django = "==2.1"
unidecode = "*"
celery = "*"
django-jinja = "*"
django-model-utils = "*"
django-rosetta = "*"
django-redis = "*"
django-ckeditor = "*"
django-postie = "*"
django-des = "*"
django-composable-views = {git = "https://gitlab.com/preusx/django-composable-views.git", ref = "0.1.0"}
django-environ = "*"
gunicorn = {version = "*", sys_platform = "== 'linux'"}
gevent = {version = "*", sys_platform = "== 'linux'"}
django-smart-selects = {ref = "js-unlinting-fixes", git = "https://github.com/digi604/django-smart-selects.git"}
