{% extends 'base.jinja' %}

{% block content %}
<div class="errow">
    <div class="wrapper-inner">
        <div class="errow__content clearfix">
            <div class="errow__text">
                <div class="errow__404">404</div>
                <div class="errow__no-page"><p>Ooops, такой страницы не </p>
                    <p>существует!</p></div>
            </div>
            <div class="errow__picture"><img src="{{ static('img/girl2.png') }}" class="errow__picture--size"></div>
        </div>
    </div>
</div>
<div class="rest">
    <div class="wrapper-inner">
        <div class="rest__content">
            <div class="rest__name">Возможно Вас заинтересует</div>
            {% include 'includes/rest__part.jinja' %}
            <div class="rest-height"></div>
        </div>
    </div>
</div>
{% endblock %}