{% extends 'base.jinja' %}

{% block content %}
<div class="errow">
    <div class="wrapper-inner">
        <div class="errow__content clearfix">
            <div class="errow__text">
                <div class="errow__404">404</div>
                <div class="errow__no-page"><p>Ooops, такой страницы не </p>
                    <p>существует!</p></div>
            </div>
            <div class="errow__picture"><img src="{{ static('img/girl2.png') }}" class="errow__picture--size"></div>
        </div>
    </div>
</div>
<div class="rest">
    <div class="wrapper-inner">
        <div class="rest__content">
            <div class="rest__name">Возможно Вас заинтересует</div>
            <div class="rest__part clearfix">
                <div class="rest__block rest__block2"><a href="#" class="rest__block-link">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Экзотика</div>
                        </div>
                    </div>
                </a></div>
                <div class="rest__block rest__block2"><a href="#" class="rest__block-link rest__block-link2">
                    <div class="rest__fon-img rest__indent">
                        <div class="rest__text">
                            <div class="rest__desc">Турция</div>
                        </div>
                    </div>
                </a><a href="#" class="rest__block-link rest__block-link2">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Эгипет</div>
                        </div>
                    </div>
                </a></div>
                <div class="rest__block"><a href="#" class="rest__block-link">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Вип туры</div>
                        </div>
                    </div>
                </a></div>
                <div class="rest__block clearfix"><a href="#" class="rest__block-link rest__block-link3 rest__float">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">ОАЭ</div>
                        </div>
                    </div>
                </a><a href="#" class="rest__block-link rest__block-link3 rest__float">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Авиа туры</div>
                        </div>
                    </div>
                </a></div>
                <div class="rest__block"><a href="#" class="rest__block-link">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Пляжный отдых</div>
                        </div>
                    </div>
                </a></div>
                <div class="rest__block rest__block3 clearfix"><a href="#"
                                                                  class="rest__block-link rest__block-link3 rest__float">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Автобусные туры</div>
                        </div>
                    </div>
                </a><a href="#" class="rest__block-link rest__block-link3 rest__float">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Свадебные туры</div>
                        </div>
                    </div>
                </a></div>
                <div class="rest__block rest__block3"><a href="#" class="rest__block-link rest__block-link2">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Шоппинг туры</div>
                        </div>
                    </div>
                </a><a href="#" class="rest__block-link rest__block-link2">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Детский отдых</div>
                        </div>
                    </div>
                </a></div>
                <div class="rest__block"><a href="#" class="rest__block-link">
                    <div class="rest__fon-img">
                        <div class="rest__text">
                            <div class="rest__desc">Горнолыжные курорты</div>
                        </div>
                    </div>
                </a></div>
            </div>
            <div class="rest-height"></div>
        </div>
    </div>
</div>
{% endblock %}