{% extends 'base.jinja' %}

{% block content %}
<div class="search-tour avia">
    <div class="wrapper-inner">
        <div class="tour__name">Авиабилеты</div>
        <div class="search-tour__content">
            <div class="search-tour__part clearfix">
                <div class="search-tour__block">
                    <div class="search-tour__modul"></div>
                </div>
                <div class="search-tour__banner"><a href="#" class="search-tour__link">
                    <div class="search-tour__button">Подробнее</div>
                </a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}