{% extends 'base.jinja' %}

{% block title %}Новости{% endblock %}


{% block head %}
    <script type="text/javascript" src="{{ static('js/scrollto.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/fixed.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="blog">
        <div class="wrapper-inner">
            <div class="blog__title">Новости и статьи</div>
            <div class="heading">Рубрики</div>
            <div class="blog__content">
                <div class="blog__part clearfix">
                    <div class="blog__left">
                        {% include 'includes/blog__wrap.jinja' %}
                    </div>
                    <div class="blog__right">
                        <div class="blog__form">
                            {% include 'includes/block__heading.jinja' %}
                            <div class="blog__delivery">
                                <form name="heading" id="news-heading" method="post">
                                    <div class="blog__form-title">Подпишитесь</div>
                                    <div class="blog__form-decs">
                                        на рассылку и получайте первыми горящие туры на свой e-mail
                                    </div>
                                    <div class="blog__form-evidence">
                                        <input type="text" hidden name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <input type="email" name="email" id="email-heading"
                                               placeholder="Ведите Ваш e-mail" class="blog__form-email">
                                        <div class="rest__help">E-mail введен неверно!</div>
                                        <input type="submit" value="Подписаться" class="blog__form-submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="blog__popular">
                            <div class="depiction__name">Случайные новости</div>
                            {% for rand_item in random %}
                                {% include 'includes/blog__popular-block.jinja' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="menu3" href="#header" class="button-top default3 scrollto"></a>
{% endblock %}