{% extends 'base.jinja' %}

{% block head %}
    <script type="text/javascript" src="{{ static('js/jquery.bxslider.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/bx-slider.js') }}"></script>
{% endblock %}

{% block title %}{{ object.name }} | {{ super() }}{% endblock %}

{% block content %}

    <div class="place">
        <div class="wrapper-inner">
            <div class="place__content">
                <div class="tour__name tour__name2">{{ object.name }}</div>
                <div class="top-about__nav">
                    <nav class="nav-block">
                        <ul class="nav-block__ul clearfix">
                            <li class="nav-block__li"><a href="/" class="nav-block__a">Главная</a></li>
                            <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                            <li class="nav-block__li"><a href="{{ url('country-list') }}" class="nav-block__a">Страны</a></li>
                            <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                            <li class="nav-block__li"><a href="{{ url('country-detail', slug=object.country.slug) }}" class="nav-block__a">{{ object.country.name }}</a></li>
                            <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                            <li class="nav-block__li"><span class="nav-block__span">{{ object.name }}</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% include 'includes/galery.jinja' %}
        </div>
    </div>
    <div class="city">
        <div class="wrapper-inner">
            <div class="depiction__wrap clearfix">
                <div class="city__content">
                    <div class="city__desc">
                        <div class="depiction__name depiction__denotation">Описание</div>
                        <div class="city__descrription">
                            {{ object.about|safe }}
                        </div>
                    </div>
                    <div class="city__desc">
                        <div class="depiction__name">Достопримечательности</div>
                        <div class="city__sight">
                            {{ object.sights|safe }}
                        </div>
                    </div>
                </div>
                <div class="city__side-bar">
                    <div class="depiction__name">Туры</div>
                    <div id="partContent"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/questions.jinja' %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{{ url('get-tours-list-four') }}',
                type: 'get',
                data: {
                    'resort': '{{ object.slug }}'
                },
                success: function (response) {
                    $('#partContent').html(response);
                }
            })
        });
        $('#partContent').bind("DOMSubtreeModified", function () {
            $('#prevPage').click(function () {
                $.ajax({
                    url: '{{ url('get-tours-list-four') }}',
                    type: 'get',
                    data: {
                        'resort': '{{ object.slug }}',
                        'page': $('#prevPage').attr('page')
                    },
                    success: function (response) {
                        $('#partContent').html(response);
                    }
                })
            });
            $('#nextPage').click(function () {
                $.ajax({
                    url: '{{ url('get-tours-list-four') }}',
                    type: 'get',
                    data: {
                        'resort': '{{ object.slug }}',
                        'page': $('#nextPage').attr('page')
                    },
                    success: function (response) {
                        $('#partContent').html(response);
                    }
                })
            });
        });
    </script>
{% endblock %}