{% extends 'base.jinja' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/magnific-popup.css') }}">
    <script type="text/javascript" src="{{ static('js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/common.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/owl.carosel.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/owl-slider.js') }}"></script>
{% endblock %}

{% block content %}
<div class="company">
    <div class="wrapper-inner">
        <div class="tour__name">О компании</div>
        <div class="company__content">
            <div class="company__picture"><img src="{{ static('img/company2.png') }}" class="company__picture--size"></div>
        </div>
    </div>
</div>
<div class="comapany-description">
    <div class="wrapper-inner">
        <div class="comapany-description__content">
            <div class="comapany-description__title">{{ about_settings.title }}</span>
            </div>
            <div class="comapany-description__part clearfix">
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture">
                        <img src="{{ about_settings.column1_image.url }}" class="comapany-description__picture--size">
                    </div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">{{ about_settings.column1_title }}</div>
                        <div class="hotels-one__more">
                            {{ about_settings.column1_body|safe }}
                        </div>
                    </div>
                </div>
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture">
                        <img src="{{ about_settings.column2_image.url }}" class="comapany-description__picture--size">
                    </div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">{{ about_settings.column2_title }}</div>
                        <div class="hotels-one__more">
                            {{ about_settings.column2_body|safe }}
                        </div>
                    </div>
                </div>
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture">
                        <img src="{{ about_settings.column3_image.url }}" class="comapany-description__picture--size">
                    </div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">{{ about_settings.column3_title }}</div>
                        <div class="hotels-one__more">
                            {{ about_settings.column3_body|safe }}
                        </div>
                    </div>
                </div>
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture">
                        <img src="{{ about_settings.column4_image.url }}" class="comapany-description__picture--size">
                    </div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">{{ about_settings.column4_title }}</div>
                        <div class="hotels-one__more">
                            {{ about_settings.column4_body|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="comapany-description__text">
                <div class="hotels-one__more">
                    {{ about_settings.body|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-sertificate">
    <div class="wrapper-inner">
        <div class="slider-sertificate__content">
            <div class="depiction__name">Сертификаты</div>
            <div id="owl-demo-two" class="owl-carousel">
                {% for item in about_settings.certificates.all() %}
                <div class="item">
                    <div class="item-sert2">
                        <a href="{{ item.image.url }}" class="big">
                            <img src="{{ item.image.url }}" class="item-sert--img2">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}