{% extends 'base.jinja' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/magnific-popup.css') }}">
    <script type="text/javascript" src="{{ static('js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/common.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/owl.carosel.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/owl-slider.js') }}"></script>
{% endblock %}

{% block content %}
<div class="company">
    <div class="wrapper-inner">
        <div class="tour__name">О компании</div>
        <div class="company__content">
            <div class="company__picture"><img src="../img/company2.png" class="company__picture--size"></div>
        </div>
    </div>
</div>
<div class="comapany-description">
    <div class="wrapper-inner">
        <div class="comapany-description__content">
            <div class="comapany-description__title">QUEEN TOUR VOYAGE <span class="comapany-description__title--span">- это:</span>
            </div>
            <div class="comapany-description__part clearfix">
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture"><img src="../img/comp3.png"
                                                                    class="comapany-description__picture--size"></div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">Широкий выбор туров</div>
                        <div class="hotels-one__more">Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите
                            лучшие предложения, согласно Вашим потребностям и желаниям.
                        </div>
                    </div>
                </div>
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture"><img src="../img/comp3.png"
                                                                    class="comapany-description__picture--size"></div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">Высокий профессионализм</div>
                        <div class="hotels-one__more">Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите
                            лучшие предложения, согласно Вашим потребностям и желаниям. Мы сотрудничаем с ведущими
                            туроператорами, а значит — Вы получите лучшие предложения, согласно Вашим потребностям и
                            желаниям.
                        </div>
                    </div>
                </div>
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture"><img src="../img/comp3.png"
                                                                    class="comapany-description__picture--size"></div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">Широкий выбор</div>
                        <div class="hotels-one__more">Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите
                            лучшие предложения, согласно Вашим потребностям и желаниям.
                        </div>
                    </div>
                </div>
                <div class="comapany-description__block clearfix">
                    <div class="comapany-description__picture"><img src="../img/comp3.png"
                                                                    class="comapany-description__picture--size"></div>
                    <div class="comapany-description__dep">
                        <div class="hotels-one__description">Высокий профессионализм сотрудников</div>
                        <div class="hotels-one__more">Мы сотрудничаем с ведущими туроператорами, а значит — Вы получите
                            лучшие предложения, согласно Вашим потребностям и желаниям. Мы сотрудничаем с ведущими
                            туроператорами, а значит
                        </div>
                    </div>
                </div>
            </div>
            <div class="comapany-description__text">
                <div class="depiction__name">Lorem ipsum</div>
                <div class="hotels-one__more"><p>«QUEEN TOUR VOYAGE» - это туристическая компания для тех, кто любит
                    изысканный королевский отдых.</p>
                    <p>Путешествуйте на яхтах стоимостью в миллионы долларов, проживайте в загадочных и древних дворцах,
                        отправляйтесь на моря и океаны, где ранее ступала нога только очень богатых и знатных вельмож,
                        или же отдайте предпочтение экстремальному отдыху в диких условиях с коренным населением —
                        аборигенами. Туристическая компания QUEEN TOUR VOYAGE осуществит любые Ваши желания.</p>
                    <p><strong>QUEEN TOUR VOYAGE — это нечто большее, нежели просто путешествия высокого
                        уровня. </strong><span>К каждому нашему клиенту мы ищем свой особый подход, чтобы понять его истинные желания и удовлетворить их в полном объеме. Наша задача — организовать для Вас сплошной праздник, длинною в отпуск, а не любой ценой продать Вам путевку.</span>
                    </p>
                    <p>Наша особенность — это тщательное планирование Вашего путешествия. Мы говорим твердое «НЕТ»
                        стереотипам и подготовим для Вас тур по удивительным местам. Пока другие туристы будут ходить
                        тропами, где ежедневно проходят сотни таких же путешественников со всего мира, Вы сможете
                        посетить самые изысканные места: разгадаете тайны древних восточных цивилизаций, ощутите дух
                        Средневековой Европы, отдохнёте на мягких песчаных пляжах или почувствуете дух авантюризма и
                        подниметесь на крутую гору или вершину. Мы сделаем все, чтобы Вы почувствовали себя
                        VIP-персоной.</p></div>
            </div>
            <div class="comapany-description__text">
                <div class="hotels-one__description">Мы сделали это для вас:</div>
                <ul class="comapany-description__ul">
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                    <li class="hotels-one__item">подготовим для Вас незабываемое путешествие в любую страну мира;</li>
                </ul>
                <div class="hotels-one__more">С QUEEN TOUR VOYAGE Вы почувствуете себя королевской особой, а мы, в свою
                    очередь, осуществим Ваши мечты. Путешествуйте!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-sertificate">
    <div class="wrapper-inner">
        <div class="slider-sertificate__content">
            <div class="depiction__name">Lorem ipsum</div>
            <div id="owl-demo-two" class="owl-carousel">
                <div class="item">
                    <div class="item-sert2"><a href="../img/serf-1.png" class="big"><img src="../img/serf-1.png"
                                                                                         class="item-sert--img2"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-sert2"><a href="../img/serf-2.png" class="big"><img src="../img/serf-2.png"
                                                                                         class="item-sert--img2"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-sert2"><a href="../img/serf-3.png" class="big"><img src="../img/serf-3.png"
                                                                                         class="item-sert--img2"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-sert2"><a href="../img/serf-4.png" class="big"><img src="../img/serf-4.png"
                                                                                         class="item-sert--img2"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-sert2"><a href="../img/serf-3.png" class="big"><img src="../img/serf-3.png"
                                                                                         class="item-sert--img2"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-sert2"><a href="../img/serf-4.png" class="big"><img src="../img/serf-4.png"
                                                                                         class="item-sert--img2"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}