{% extends 'base.jinja' %}

{% block content %}
<div class="contacts">
    <div class="wrapper-inner">
        <div class="tour__name">Контакты</div>
        <div class="contacts__wrap">
            <div class="contacts__content clearfix">
                <div class="contacts__left">
                    <div class="contacts__block">
                        <div class="contacts__company">Туристическая компания</div>
                        <div class="contacts__title">"Квин Тур Вояж"</div>
                        <div class="contacts__adr">Адрес: {{ global_settings.address }}</div>
                    </div>
                    <div class="contacts__block">
                        <div class="hotels-one__description">Время работы:</div>
                        <div class="contacts__time">
                            <p>
                                <span class="contacts__span1">пн-пт:</span>
                                <span class="contacts__span">с 10:00 до 19:00</span>
                            </p>
                            <p>
                                <span class="contacts__span2">сб:</span>
                                <span class="contacts__span">с 11:00 до 16:00</span>
                            </p>
                        </div>
                    </div>
                    <div class="contacts__block">
                        <div class="hotels-one__description">Телефонные номера:</div>
                        <div class="contacts__telephone">
                            {% for i in global_settings.phone_numbers.all() %}
                            <p>+38 ({{ i.phone.split(" ")[0] }}) {{ i.phone.split(" ")[1] }} {{ i.phone.split(" ")[2] }}
                                {% if not loop.last %},{% endif %}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="contacts__block">
                        <div class="hotels-one__description">Lorem:</div>
                        <div class="contacts__email">Lorem ipsum dolor sit</div>
                    </div>
                    <div class="contacts__block">
                        <div class="hotels-one__description">Lorem:</div>
                        <div class="contacts__email">Lorem ipsum dolor sit</div>
                    </div>
                    <div class="contacts__block">
                        <div class="hotels-one__description">Lorem:</div>
                        <div class="contacts__email">Lorem ipsum dolor sit</div>
                    </div>
                    <div class="contacts__button">Написать администрации</div>
                </div>
                <div class="contacts__right">
                    <div class="contacts__dis"></div>
                    <iframe src="https://maps.google.com/maps?q={{ global_settings.address|urlencode }}&t=&z=19&ie=UTF8&iwloc=&output=embed"
                            style="border: 0;" allowfullscreen="" frameborder="0" class="contacts__iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/popup-admin.jinja' %}
{% endblock %}