{% extends 'base.jinja' %}
{% block head %}
    <script type="text/javascript" src="{{ static('js/2.0.2.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/jquery.bxslider.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/bx-slider.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/fixed.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/scrollto.js') }}"></script>
{% endblock %}

{% block title %}{{ object.name }} | {{ super() }}{% endblock %}

{% block content %}
    <div class="region">
        <div class="wrapper-inner">
            <div class="tour__name tour__name2">{{ object.name }}</div>
            <div class="top-about__nav">
                <nav class="nav-block">
                    <ul class="nav-block__ul clearfix">
                        <li class="nav-block__li"><a href="/" class="nav-block__a">Главная</a></li>
                        <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                        <li class="nav-block__li"><a href="{{ url('country-list') }}" class="nav-block__a">Страны</a></li>
                        <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                        <li class="nav-block__li"><span class="nav-block__span">{{ object.name }}</span></li>
                    </ul>
                </nav>
            </div>
            {% include 'includes/galery.jinja' %}
        </div>
    </div>
    <div id="menu2" class="anchor default2">
        <div class="wrapper-inner">
            <div class="anchor__navigation">
                <ul class="anchor__ul clearfix">
                    <li class="anchor__li"><a href="#top1" class="anchor__a scrollto">О стране</a></li>
                    <li class="anchor__li"><a href="#top2" class="anchor__a scrollto">Праздники</a></li>
                    <li class="anchor__li"><a href="#top3" class="anchor__a scrollto">Стоит посетить</a></li>
                    <li class="anchor__li"><a href="#top4" class="anchor__a scrollto">Таможенные правила</a></li>
                    <li class="anchor__li"><a href="#top5" class="anchor__a scrollto">Туры в {{ object.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="depiction">
        <div class="wrapper-inner">
            <div id="top1"></div>
            <div class="depiction__wrap clearfix">
                <div class="depiction__content">
                    <div class="depiction__desc">
                        <div class="depiction__name">О стране</div>
                        <div class="depiction__text">
                            {{ object.about|safe }}
                        </div>
                        <div id="top2"></div>
                    </div>
                    <div class="depiction__desc">
                        <div class="depiction__name">Праздники</div>
                        <div class="depiction__part-holidays clearfix">
                            <div class="depiction__block-holidays">
                                {% for holiday in object.holidays.splitlines() %}
                                    {% if holiday|striptags and loop.index < loop.revindex %}
                                        <p><strong>{{ holiday.strip().split(':')[0]|striptags }}:</strong><span>{{ holiday.strip().split(':')[1]|striptags }}</span></p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="depiction__block-holidays">
                                {% for holiday in object.holidays.splitlines() %}
                                    {% if holiday|striptags and loop.index >= loop.revindex %}
                                        <p><strong>{{ holiday.strip().split(':')[0]|striptags }}:</strong><span>{{ holiday.strip().split(':')[1]|striptags }}</span></p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div id="top3"></div>
                    </div>
                    <div class="depiction__desc depiction__desc2">
                        <div class="depiction__name">Стоит посетить</div>
                        <div class="depiction__text">
                            {{ object.to_visit|safe }}
                        </div>
                        <div id="top4"></div>
                    </div>
                    <div class="depiction__desc depiction__desc2">
                        <div class="depiction__name">Таможенные правила</div>
                        <div class="depiction__text depiction__indent">
                            {{ object.customs|safe }}
                        </div>
                        <div id="top5"></div>
                    </div>
                </div>
                <div class="depiction__side-bar">
                    {% if object.resorts.filter(hotels__tours__dates__start__gte=datetime.date.today()).distinct() %}
                    <div class="depiction__name">Курорты</div>
                    <ul class="depiction__list">
                        {% for resort in object.resorts.filter(hotels__tours__dates__start__gte=datetime.date.today()).distinct() %}
                            <li class="depiction__item">
                                <a href="{{ url('resort-detail', slug=resort.slug) }}" class="depiction__link clearfix">
                                    <div class="depiction__city">{{ resort.name }}</div>
                                    <div class="depiction__price">
                                        <span class="depiction__span1">от </span>
                                        <span class="depiction__span2">
                                            {{ resort.low_cost() }}
                                        </span>
                                        <span class="depiction__span3">uaн</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="top5"></div>
        <div class="hot">
            <div class="wrapper-inner">
                <div class="hot__content">
                    <div class="rest__name">Туры в {{ object.name }}</div>
                    <div class="depiction__serch">Найдено {{ object.tours.distinct().count() }} туров от
                        <span class="tour__cena">{{ object.low_cost() }} </span>
                        <span class="tour__valuta">uaн</span>
                    </div>
                    <div class="hot__part clearfix">
                        {% for tour in object.tours.distinct() %}
                        <div class="hot__block">
                            <a href="{{ url('tour-detail', pk=tour.pk) }}" class="hot__block-link">
                                <div class="hot__icon-one">
                                    <img src="{{ static('img/icon-1.png') }}" class="hot__icon-one--size">
                                </div>
                                <div class="hot__icon-two">
                                    {{ tour.low_cost().uah_cost }} <span class="hot__icon-two--span">UAH</span>
                                </div>
                                <div class="hot__picture">
                                    <img src="{{ tour.hotel.images.first().image.url }}" class="hot__picture--size">
                                </div>
                                <div class="hot__description">
                                    <div class="hot__desc-top">
                                        <div class="hot__desc-title">{{ tour.hotel.name }} {{ tour.stars }}*</div>
                                    </div>
                                    <div class="hot__desc-more"><p>Отель: {{ tour.hotel.name }} {{ tour.stars }}*</p>
                                        <p>Страна: {{ tour.hotel.resort.country.name }}</p>
                                        <div class="hot__desc-button">Узнать больше</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/questions.jinja' %}
{% endblock %}