{% extends 'base.jinja' %}

{% block content %}
<div class="country">
    <div class="wrapper-inner">
        <div class="country__content">
            <div class="tour__name">Страны</div>
            <div class="country__part clearfix">
                <div class="country__block"><a href="country_1.html" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont1.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Австрия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont2.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Андора</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont3.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Англия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont4.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Болгария</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont5.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Австрия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont6.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Андора</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont7.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Англия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont8.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Болгария</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont9.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Австрия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont10.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Андора</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont11.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Англия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont12.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Германия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont13.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Австрия</div>
                    </div>
                </a></div>
                <div class="country__block"><a href="#" class="country__block-link">
                    <div class="country__picture"><img src="../img/cont14.png" class="country__picture--size"></div>
                    <div class="country__eclipse">
                        <div class="country__title">Андора</div>
                    </div>
                </a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}