{% extends 'base.jinja' %}

{% block title %}Страны | {{ super() }}{% endblock %}

{% block content %}
    <div class="country">
        <div class="wrapper-inner">
            <div class="country__content">
                <div class="tour__name">Страны</div>
                <div class="country__part clearfix">
                    {% for object in object_list %}
                        <div class="country__block">
                            <a href="{{ url('country-detail', slug=object.slug) }}" class="country__block-link">
                                <div class="country__picture">
                                    <img src="{{ object.preview_image.url }}" class="country__picture--size">
                                </div>
                                <div class="country__eclipse">
                                    <div class="country__title">{{ object.name }}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}