{% extends 'base.jinja' %}

{% block content %}
    <div class="documents">
        <div class="wrapper-inner">
            <div class="blog__title">Документы для путешествий</div>
            <div class="documents__wrap">
                <div class="documents__content tabs">
                    <div class="documents__type tabs__caption">
                        <a class="documents__button documents__active">Паспорта</a>
                        <a class="documents__button">Визы</a>
                    </div>

                    <div class="tabs__content activated">
                        {{ doc_settings.passport|safe }}
                    </div>

                    <div class="tabs__content">
                        {{ doc_settings.visa|safe }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("table").each(function () {
                $(this).addClass("documents__table documents__visa-table");
            });
            $("tr").each(function () {
                $(this).addClass("documents__tr");
            });
            $("td").each(function () {
                $(this).addClass("visa__td visa__td2");
            })
        });
        (function ($) {
            $(function () {

                $('div.tabs__caption').on('click', 'a:not(.documents__active)', function () {
                    $(this)
                        .addClass('documents__active').siblings().removeClass('documents__active')
                        .closest('.tabs').find('.tabs__content').removeClass('activated').eq($(this).index()).addClass('activated');
                });

            });
        })(jQuery);
    </script>
{% endblock %}