{% extends 'base.jinja' %}
{% block head %}
    <script type="text/javascript" src="{{ static('js/scrollto.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/fixed.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="hotels">
        <div class="wrapper-inner">
            <div class="hotels">
                <div class="tour__name tour__name2 tour__name-mobile">Отели</div>
                <div class="hotels__block-buttons clearfix">
                    <div class="hotels__button-one">Поиск</div>
                    <div class="hotels__button-two">Фильтр</div>
                </div>
                <div class="hotels__wrap clearfix">
                    {% include 'includes/hotels__side-bar.jinja' %}
                    <div class="hotels__content" id="mainContent">
                        {% include 'includes/hotels__build.jinja' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="menu3" href="#header" class="button-top default3 scrollto"></a>

    <script>
        $('#search-hotels').submit(function () {
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (response) {
                    $('#mainContent').html(response);
                    window.history.pushState('page2', 'Title', this.url);
                }
            });
            return false;
        });

        $('#hotels-search').on('change input', (e) => {
            $.ajax({
                url: window.location.href,
                type: 'get',
                data: {
                    'search': $(this).val()
                },
                success: function (response) {
                    $('#mainContent').html(response);
                    window.history.pushState('page2', 'Title', this.url);
                }
            });
        });

       /* $('.hotels__sort-a').each(function () {
            $(this).click(function () {
                console.log($(this).attr('get_pagination'));
                $.ajax({
                url: window.location.href,
                type: 'get',
                data: {
                    'paginate_by': $(this).attr('get_pagination')
                },
                success: function (response) {
                    $('#mainContent').html(response);
                }
            });
            })
        })*/
    </script>

{% endblock %}