{% extends 'base.jinja' %}
{% block head %}
    <script type="text/javascript" src="{{ static('js/jquery.bxslider.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/bx-slider.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="top-hotels-one">
        <div class="wrapper-inner">
            <div class="tour__name tour__name2">{{ object.name }}</div>
            <div class="top-hotels-one__stars">
                {% for i in range(object.stars) %}
                    <img src="{{ static('img/stars.png') }}" class="top-hotels-one__size">
                {% endfor %}
            </div>
            <div class="top-about__nav">
                <nav class="nav-block">
                    <ul class="nav-block__ul clearfix">
                        <li class="nav-block__li"><a href="/" class="nav-block__a">Главная</a></li>
                        <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                        <li class="nav-block__li"><a href="{{ url('country-detail', slug=object.resort.country.slug) }}"
                                                     class="nav-block__a"> {{ object.resort.country.name }}</a></li>
                        <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                        <li class="nav-block__li"><a href="{{ url('resort-detail', slug=object.resort.slug) }}"
                                                     class="nav-block__a"> {{ object.resort.name }}</a></li>
                        <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                        <li class="nav-block__li"><span class="nav-block__span">{{ object.name }}</span></li>
                    </ul>
                </nav>
            </div>
            {% include 'includes/galery.jinja' %}
        </div>
    </div>
    <div class="hotels-one">
        <div class="wrapper-inner">
            <div class="depiction__wrap clearfix">
                <div class="hotels-one__content">
                    <div class="hotels-one__text">
                        <table class="hotels-one__table">
                            <tr class="hotels-one__tr">
                                <td class="hotels-one__td1">Страна:</td>
                                <td class="hotels-one__td2">
                                    <a href="{{ url('country-detail', slug=object.resort.country.slug) }}"
                                       class="hotels-one__a">
                                        {{ object.resort.country.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr class="hotels-one__tr">
                                <td class="hotels-one__td1">Город:</td>
                                <td class="hotels-one__td2">
                                    <a href="{{ url('resort-detail', slug=object.resort.slug) }}" class="hotels-one__a">
                                        {{ object.resort.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr class="hotels-one__tr">
                                <td class="hotels-one__td1">Тип:</td>
                                <td class="hotels-one__td2"><a class="hotels-one__a">{{ object.type.name }}</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="hotels-one__text">
                        <div class="depiction__name">Описание</div>
                        <div class="hotels-one__more">
                            {{ object.description|safe }}
                        </div>
                        {% if object.website %}
                            <div class="hotels-one__description">Web-site: <span
                                    class="hotels-one__span">{{ object.website }}</span></div>
                        {% endif %}
                    </div>
                    <div class="hotels-one__text">
                        <div class="depiction__name">Завтраки</div>
                        <div class="hotels-one__p">
                            {{ object.breakfasts|safe }}
                        </div>
                    </div>
                </div>
                <div class="city__side-bar">
                    {% if object.tours.filter(dates__start__gte=datetime.date.today()).distinct() %}
                    <div class="depiction__name">Туры этого отеля</div>
                    <div id="partContent"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="hotels-one">
        <div class="wrapper-inner">
            <div class="hotels-one__map-content">
                <div class="depiction__name">Местоположение</div>
                <div class="hotels-one__map">
                    <div class="hotels-one__dis"></div>
                    <iframe src="https://maps.google.com/maps?q={{ object.address|urlencode }}&t=&z=19&ie=UTF8&iwloc=&output=embed"
                            style="border: 0;" allowfullscreen="" frameborder="0" class="hotels-one__iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{{ url('get-tours-list-four') }}',
                type: 'get',
                data: {
                    'hotel': '{{ object.slug }}'
                },
                success: function (response) {
                    $('#partContent').html(response);
                }
            })
        });
        $('#partContent').bind("DOMSubtreeModified", function () {
            $('#prevPage').click(function () {
                $.ajax({
                    url: '{{ url('get-tours-list-four') }}',
                    type: 'get',
                    data: {
                        'hotel': '{{ object.slug }}',
                        'page': $('#prevPage').attr('page')
                    },
                    success: function (response) {
                        $('#partContent').html(response);
                    }
                })
            });
            $('#nextPage').click(function () {
                $.ajax({
                    url: '{{ url('get-tours-list-four') }}',
                    type: 'get',
                    data: {
                        'hotel': '{{ object.slug }}',
                        'page': $('#nextPage').attr('page')
                    },
                    success: function (response) {
                        $('#partContent').html(response);
                    }
                })
            });
        });
    </script>
{% endblock %}