{% extends 'base.jinja' %}
{% block head %}
    <script type="text/javascript" src="{{ static('js/jquery.bxslider.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/bx-slider.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ static('js/jquery.dotdotdot.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ static('js/dot.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/owl.carosel.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/owl-slider.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="slider">
        <div class="wrapper-inner">
            <div class="slider__block clearfix">
                <div class="slider__text"><p>Римские</p>
                    <p>Каникулы</p></div>
            </div>
        </div>
        <div id="steps" class="steps">
            <div class="center-wrapper">
                <div class="bx-wrapper">
                    <div class="bx-viewport">
                        <div class="slider__shadow"></div>
                        <div class="items">
                            <div class="item bx-clone">
                                <div class="item-img"><a href="#"><img src="{{ static('img/main-slide1.png') }}"
                                                                       class="item-img--size"></a>
                                </div>
                            </div>
                            <div class="item bx-clone">
                                <div class="item-img"><a href="#"><img src="{{ static('img/main-slide2.png') }}"
                                                                       class="item-img--size"></a>
                                </div>
                            </div>
                            <div class="item bx-clone">
                                <div class="item-img"><a href="#"><img src="{{ static('img/main-slide2.png') }}"
                                                                       class="item-img--size"></a>
                                </div>
                            </div>
                            <div class="item bx-clone">
                                <div class="item-img"><a href="#"><img src="{{ static('img/main-slide1.png') }}"
                                                                       class="item-img--size"></a>
                                </div>
                            </div>
                            <div class="item bx-clone">
                                <div class="item-img"><a href="#"><img src="{{ static('img/main-slide2.png') }}"
                                                                       class="item-img--size"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pager animation-block clearfix"><a href="#" class="animate-me animated"><img
                        src="{{ static('img/prew1.png') }}" class="page-icon icon-2"></a><a href="#"
                                                                                            class="animate-me animated"><img
                        src="{{ static('img/prew2.png') }}" class="page-icon icon-2"></a><a href="#"
                                                                                            class="animate-me animated"><img
                        src="{{ static('img/prew3.png') }}" class="page-icon icon-2"></a><a href="#"
                                                                                            class="animate-me animated page_active"><img
                        src="{{ static('img/prew4.png') }}" class="page-icon icon-2"></a><a href="#"
                                                                                            class="animate-me animated"><img
                        src="{{ static('img/prew5.png') }}" class="page-icon icon-2"></a></div>
            </div>
        </div>
    </div>
    <div class="rest">
        <div class="wrapper-inner">
            <div class="rest__content">
                <div class="rest__name">Выберите наиболее интересующий Вас вид отдыха</div>
                {% include 'includes/rest__part.jinja' %}
                <div class="rest__banner">
                    <div class="rest__ban-top">Хочешь чего-то <span
                            class="rest__ban-top--span1">Незабываемого </span><span
                            class="rest__ban-top--span">и </span><span
                            class="rest__ban-top--span2">НЕСТАНДАРТНОГО?</span>
                    </div>
                    <div class="rest__ban-bot"><p>Оставь контактные данные и наш менеджер</p>
                        <p>подберет самый лучший и незабываемый тур</p></div>
                    <div class="rest__forma clearfix">
                        <form name="tour-in-main" id="pickup-in-main">
                            <div class="rest__part-form"><input name="yourname" type="text" required
                                                                placeholder="Введите Ваше Имя" class="rest__input">
                                <div class="rest__help">Имя введено неверно!</div>
                            </div>
                            <div class="rest__part-form"><input name="telephone" type="text" required
                                                                placeholder="Введите Ваш телефон"
                                                                class="rest__input rest__fon">
                                <div class="rest__help">Номер телефона введен неверно!</div>
                            </div>
                            <div class="rest__part-form">
                                <button type="button" id="submitForm"
                                        class="rest__inp-sub">Подберите мне лучший тур
                            </div>
                        </form>
                        <script>
                            $('#submitForm').click(function () {
                                $.ajax({
                                    url: '{{ url("call-view") }}',
                                    type: 'post',
                                    data: {
                                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                                        'from_link': '{{ request.build_absolute_uri() }}',
                                        'name': $('input[name=yourname]').val(),
                                        'phone': $('input[name=telephone]').val()
                                    },
                                    success: function (data) {
                                        $(".rest__banner").fadeOut("normal", function () {
                                            $(this).remove();
                                        });
                                    },
                                    error: function (err) {
                                        console.log(err.responseText);
                                    }
                                })
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if object_list %}
        <div class="hot">
            <div class="wrapper-inner">
                <div class="hot__content">
                    <div class="rest__name"><img src="{{ static('img/og.svg') }}" class="rest__name--img"><span
                            class="rest__name--span">Горящие туры</span>
                    </div>
                    {% include 'includes/hot__part.jinja' %}
                    <a href="{{ url('tour-list') }}" class="hot__button">Показать все туры</a></div>
            </div>
        </div>
    {% endif %}
    <div class="news">
        <div class="wrapper-inner">
            <div class="hot__content">
                <div class="rest__name rest__left">Новости и статьи</div>
                <a href="{{ url('article-list') }}" class="rest__all-news">Все новости</a>
                <div class="news__part clearfix">
                    <div class="news__wrap clearfix">
                        {% for article in left_blog_articles %}
                            <div class="news__block">
                                <a href="{{ url('article-detail', heading=article.heading.slug, slug=article.slug) }}"
                                   class="news__block-link">
                                    <div class="news__picture"></div>
                                    <div class="news__title">{{ article.date.strftime("%d %B %Y") }}
                                        / {{ article.heading.name }}</div>
                                    <div class="news__description dot2">{{ article.title }}</div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="news__wrap">
                        <div class="news__picture news__picture-main"></div>
                        <div class="news__main"><a
                                href="{{ url('article-detail', heading=main_blog_article.heading.slug, slug=main_blog_article.slug) }}"
                                class="news__main-link">
                            <div class="news__main-title">{{ main_blog_article.date.strftime("%d %B %Y") }}
                                / {{ main_blog_article.heading.name }}</div>
                            <div class="news__main-description">{{ main_blog_article.title }}</div>
                            <div class="dot1 news__main-text">{{ main_blog_article.body|striptags|truncate(750) }}</div>
                        </a></div>
                    </div>
                    <div class="news__wrap clearfix">
                        {% for article in right_blog_articles %}
                            <div class="news__block">
                                <a href="{{ url('article-detail', heading=article.heading.slug, slug=article.slug) }}"
                                   class="news__block-link">
                                    <div class="news__picture"></div>
                                    <div class="news__title">{{ article.date.strftime("%d %B %Y") }}
                                        / {{ article.heading.name }}</div>
                                    <div class="news__description dot2">{{ article.title }}</div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="wrapper-inner">
            <div class="hot__content">
                <div class="rest__name">Туристы рекомендуют</div>
                <div id="owl-demo-one" class="owl-carousel">
                    {% for image in global_settings.images.all() %}
                        <div class="item">
                            <div class="item-sert"><a {% if image.link %}href="{{ image.link }}"{% endif %}><img src="{{ image.image.url }}" class="item-sert--img"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="map__dis"></div>
        <iframe src="https://maps.google.com/maps?q={{ global_settings.address|urlencode }}&t=&z=19&ie=UTF8&iwloc=&output=embed"
                style="border:0" allowfullscreen="" frameborder="0" class="map__block"></iframe>
    </div>
    <div class="capture"></div>
{% endblock %}