{% extends 'base.jinja' %}
{% block content %}
<div class="reviews">
    <div class="wrapper-inner">
        <div class="blog__title">Отзывы наших клиентов</div>
        <div class="reviews__content">
            <div class="reviews__top">
                <div class="documents__type reviews__type clearfix"><a href="reviews.html"
                                                                       class="documents__button documents__active reviews__button">Все
                    отзывы</a><a href="#" class="documents__button reviews__button">Отзывы из социальных сетей</a><a
                        href="#" class="documents__button reviews__button">Видеоотзывы</a><a href="#"
                                                                                             class="documents__button reviews__button">Текстовые
                    отзывы</a></div>
            </div>
            <div class="reviews__part clearfix">
                <div class="reviews__left">
                    <div class="reviews__block">
                        <div class="reviews__client">
                            <div class="reviews__client-name">Дана Борисова(36 лет)</div>
                            <div class="reviews__status">преподаватель английского языка</div>
                            <div class="reviews__date"><span class="reviews__span">10.07.2016</span><a href="#"
                                                                                                       class="reviews__link">Египет</a><a
                                    href="#" class="reviews__link">Шарм-Ель-Шельх</a></div>
                        </div>
                        <div class="reviews__text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dignissimos incidunt, nostrum sit aperiam laborum, architecto impedit est provident?
                            Dolores, dolore?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio harum cum officiis
                                delectus eaque vero, a saepe blanditiis, quisquam fuga eos repellendus commodi hic
                                at.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum, iste. Nemo
                                aliquam sunt commodi</p>
                            <p>Lorem ipsum dolor</p></div>
                        <div class="reviews__photos clearfix"><a href="#" class="reviews__img"></a><a href="#"
                                                                                                      class="reviews__img"></a><a
                                href="#" class="reviews__img"></a><a href="#" class="reviews__img"></a><a href="#"
                                                                                                          class="reviews__img"></a><a
                                href="#" class="reviews__img"></a><a href="#" class="reviews__img"></a><a href="#"
                                                                                                          class="reviews__img"></a>
                        </div>
                    </div>
                    <div class="reviews__block">
                        <div class="reviews__client">
                            <div class="reviews__client-name">Дана Борисова(36 лет)</div>
                            <div class="reviews__status">преподаватель английского языка</div>
                            <div class="reviews__date"><span class="reviews__span">10.07.2016</span><a href="#"
                                                                                                       class="reviews__link">Египет</a><a
                                    href="#" class="reviews__link">Шарм-Ель-Шельх</a></div>
                        </div>
                        <div class="reviews__soc"><img src="../img/rew-soc.png" class="reviews__soc--size"></div>
                    </div>
                </div>
                <div class="reviews__left">
                    <div class="reviews__block">
                        <div class="reviews__client">
                            <div class="reviews__client-name">Дана Борисова(36 лет)</div>
                            <div class="reviews__status">преподаватель английского языка</div>
                            <div class="reviews__date"><span class="reviews__span">10.07.2016</span><a href="#"
                                                                                                       class="reviews__link">Египет</a><a
                                    href="#" class="reviews__link">Шарм-Ель-Шельх</a></div>
                        </div>
                        <div class="reviews__text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dignissimos incidunt, nostrum sit aperiam laborum, architecto impedit est provident?
                            Dolores, dolore?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio harum cum officiis
                                delectus eaque vero, a saepe blanditiis, quisquam fuga eos repellendus commodi hic
                                at.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum, iste. Nemo
                                aliquam sunt commodi</p></div>
                    </div>
                    <div class="reviews__block">
                        <div class="reviews__client">
                            <div class="reviews__client-name">Дана Борисова(36 лет)</div>
                            <div class="reviews__status">преподаватель английского языка</div>
                            <div class="reviews__date"><span class="reviews__span">10.07.2016</span><a href="#"
                                                                                                       class="reviews__link">Египет</a><a
                                    href="#" class="reviews__link">Шарм-Ель-Шельх</a></div>
                        </div>
                        <div class="reviews__video">
                            <iframe src="https://www.youtube.com/embed/FXHLKyK0GGY?rel=0&amp;amp;showinfo=0"
                                    allowfullscreen="" frameborder="0" class="reviews__iframe"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}