{% extends 'base.jinja' %}
{% block content %}
    <div class="reviews">
        <div class="wrapper-inner">
            <div class="blog__title">Отзывы наших клиентов</div>
            <div class="reviews__content tabs">
                <div class="reviews__top">
                    <div class="documents__type reviews__type tabs__caption clearfix">
                        <a href="#" class="documents__button documents__active reviews__button">
                            Все отзывы
                        </a>
                        <a href="#" class="documents__button reviews__button">
                            Видеоотзывы
                        </a>
                        <a href="#" class="documents__button reviews__button">
                            Текстовые отзывы
                        </a>
                    </div>
                </div>
            <div class="tabs__content activated">
                <div class="reviews__part clearfix">
                    <div class="reviews__left">
                        {% for comment in object_list %}
                            {% if loop.cycle('odd', 'even') == 'odd' %}
                                {% include 'includes/reviews__client.jinja' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="reviews__left">
                        {% for comment in object_list %}
                            {% if loop.cycle('odd', 'even') == 'even' %}
                                {% include 'includes/reviews__client.jinja' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="tabs__content">
                <div class="reviews__part clearfix">
                    <div class="reviews__left">
                        {% for comment in youtube_list %}
                            {% if loop.cycle('odd', 'even') == 'odd' and not comment.comment %}
                                {% include 'includes/reviews__client.jinja' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="reviews__left">
                        {% for comment in youtube_list %}
                            {% if loop.cycle('odd', 'even') == 'even' and not comment.comment %}
                                {% include 'includes/reviews__client.jinja' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="tabs__content">
                <div class="reviews__part clearfix">
                    <div class="reviews__left">
                        {% for comment in text_list %}
                            {% if loop.cycle('odd', 'even') == 'odd' and not comment.youtube %}
                                {% include 'includes/reviews__client.jinja' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="reviews__left">
                        {% for comment in text_list %}
                            {% if loop.cycle('odd', 'even') == 'even' and not comment.youtube %}
                                {% include 'includes/reviews__client.jinja' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

    <script>
        (function ($) {
            $(function () {

                $('.tabs__caption').on('click', 'a:not(.documents__active)', function () {
                    $(this)
                        .addClass('documents__active').siblings().removeClass('documents__active')
                        .closest('div.tabs').find('div.tabs__content').removeClass('activated').eq($(this).index()).addClass('activated');
                });

            });
        })(jQuery);
    </script>
{% endblock %}