{% extends 'base.jinja' %}
{% block content %}
    <div class="sertificate">
        <div class="wrapper-inner">
            <div class="blog__title">Подарочный сертификат</div>
            <div class="sertificate__wrap">
                <div class="sertificate__content">
                    <div class="sertificate__logo"></div>
                    <div class="sertificate__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Perferendis
                        animi, voluptatibus adipisci
                    </div>
                    <div class="sertificate__text clearfix">
                        <div class="sertificate__text-part"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quod amet omnis fuga modi et, sapiente</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, amet iure quis accusamus
                                cupiditate blanditiis unde aperiam molestiae consequatur. Repellat fugiat, mollitia
                                minima
                                natus laborum dolorem, et neque reiciendis accusantium, eligendi magni. Blanditiis qui,
                                ullam laboriosam, tempore maxime dolorem laudantium quo, eveniet, amet quis
                                reiciendis!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati tempore eaque
                                asperiores
                                omnis quis mollitia eveniet quae corrupti amet id possimus quasi odio debitis sunt et
                                ex,
                                architecto incidunt nisi</p></div>
                        <div class="sertificate__text-part"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ipsa</p>
                            <ul>
                                <li class="sertificate__li">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Reprehenderit quis perspiciatis sint minima, odit, voluptatibus
                                </li>
                                <li class="sertificate__li">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Reprehenderit quis perspiciatis sint minima
                                </li>
                                <li class="sertificate__li">Lorem ipsum dolor sit amet</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nemo sunt laborum
                                recusandae minus inventore beatae sit ab! Labore placeat rerum et ut</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugiat impedit accusamus
                                reprehenderit aliquid, exercitationem</p></div>
                    </div>
                    <div class="sertificate__button">Заказать сертификат</div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/popup-sertificate.jinja' %}
    {% include 'includes/popup-thank-you.jinja' %}
{% endblock %}