{% extends 'base.jinja' %}
{% block content %}
    <div class="sertificate">
        <div class="wrapper-inner">
            <div class="blog__title">Подарочный сертификат</div>
            <div class="sertificate__wrap">
                <div class="sertificate__content">
                    <div class="sertificate__logo"></div>
                    <div class="sertificate__title">
                        {{ settings.title }}
                    </div>
                    <div class="sertificate__text clearfix">
                        <div class="sertificate__text-part">
                            {{ settings.column_1|safe }}
                        </div>
                        <div class="sertificate__text-part">
                            {{ settings.column_2|safe }}
                        </div>
                    </div>
                    <div class="sertificate__button">Заказать сертификат</div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/popup-sertificate.jinja' %}
    {% include 'includes/popup-thank-you.jinja' %}
    <script>
        $("li").each(function () {
            $(this).addClass('sertificate__li');
        });
    </script>
{% endblock %}