{% extends 'base.jinja' %}
{% block head %}
    <script type="text/javascript" src="{{ static('js/jquery-ui.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static('css/jqury-ui-1.10.3.custom.css') }}">
    <script type="text/javascript" src="{{ static('js/datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/calendar.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="tour">
        <div class="wrapper-inner">
            <div class="tour__content">
                <div class="tour__name">Туры</div>
                <div class="tour__open-filter">Показать фильтр</div>
                <div class="tour__close-filter">Скрыть фильтр</div>
                <div class="tour__filter">

                    <form name="filter-one" id="round-filter" method="get">
                        <div class="tour__type"><span class="tour__type-span">Выберите вид тура:</span>
                            <div class="tour__insert">
                                <select size="1" name="type" class="tour__type-select">
                                    <option value="">Тип тура</option>
                                    {% for type in tour_types %}
                                        <option value="{{ type.slug }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="tour__part clearfix">
                            <div class="tour__block">
                                <div class="tour__select">
                                    <select size="1" name="country">
                                        <option value="">Страна</option>
                                        {% for country in country_list %}
                                            <option value="{{ country.slug }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="number" name="price-from" id="price-from"
                                       placeholder="Цена от" class="tour__price"><span class="tour__span">-</span><input
                                    type="number" name="price-to" id="price-to"
                                    placeholder="Цена до" class="tour__price">
                            </div>
                            <div class="tour__block clearfix">
                                <div class="tour__days">
                                    <select size="1" name="days" class="tour__days-select">
                                        <option value="">Дней</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                    </select>
                                </div>
                                <span class="tour__span2">-</span>
                                <div class="tour__days">
                                    <select size="1" name="nights" class="tour__days-select">
                                        <option value="">Ночей</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                    </select>
                                </div>
                                <div class="tour__select">
                                    <select size="1" name="stars">
                                        <option value="">Звезд</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tour__block">
                                <div class="tour__days2">
                                    <input type="text" name="date" placeholder="Даты"
                                           id="date_range" readonly class="tour__input">
                                    <div class="tour__arrow"><img src="{{ static('img/el.png') }}"></div>
                                </div>
                                <input type="submit" value="Фильтровать" class="tour__submit"></div>
                        </div>
                    </form>

                </div>
                <div class="tour__search">Найдено {{ tour_count }} туров от <span
                        class="tour__cena">{{ min_cost }} </span>
                    <span class="tour__valuta">UAH</span></div>
                {% include 'includes/hot__part.jinja' %}
                {% include 'includes/switches.jinja' %}
            </div>
        </div>
    </div>
    <script>
        $('document').ready(function () {
            {% if request.GET.type %}$('select[name=type]').val('{{ request.GET.type }}');{% endif %}
            {% if request.GET.country %}$('select[name=country]').val('{{ request.GET.country }}');{% endif %}
            {% if request.GET['price-from'] %}$('input[name=price-from]').val('{{ request.GET['price-from'] }}');{% endif %}
            {% if request.GET['price-to'] %}$('input[name=price-to]').val('{{ request.GET['price-to'] }}');{% endif %}
            {% if request.GET['days'] %}$('select[name=days]').val('{{ request.GET['days'] }}');{% endif %}
            {% if request.GET['nights'] %}$('select[name=nights]').val('{{ request.GET['nights'] }}');{% endif %}
            {% if request.GET['stars'] %}$('select[name=stars]').val('{{ request.GET['stars'] }}');{% endif %}
            {% if request.GET['date'] %}$('input[name=date]').val('{{ request.GET['date'] }}');{% endif %}
        })
    </script>
{% endblock %}