{% extends 'base.jinja' %}
{% block head %}
<script type="text/javascript" src="{{ static('js/jquery.bxslider.min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/bx-slider.js') }}"></script>
<script type="text/javascript" src="{{ static('js/fixed.js') }}"></script>
<script type="text/javascript" src="{{ static('js/scrollto.js') }}"></script>
{% endblock %}
{% block content %}
<div class="top-about">
    <div class="wrapper-inner">
        <div class="tour__name tour__name2">{{ object.hotel.resort.country.name }}</div>
        <div class="top-about__nav">
            <nav class="nav-block">
                <ul class="nav-block__ul clearfix">
                    <li class="nav-block__li"><a href="/" class="nav-block__a">Главная</a></li>
                    <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                    <li class="nav-block__li"><a href="{{ url('tour-list') }}" class="nav-block__a">Туры</a></li>
                    <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                    <li class="nav-block__li"><a href="{{ url('country-detail', slug=object.hotel.resort.country.slug) }}" class="nav-block__a">{{ object.hotel.resort.country.name }}</a></li>
                    <li class="nav-block__li"><span class="nav-block__a">/</span></li>
                    <li class="nav-block__li"><span class="nav-block__span">{{ object.hotel.name }} {{ object.stars }}*</span></li>
                </ul>
            </nav>
        </div>
        <!-- gallery -->
    </div>
</div>
<div id="menu" class="fixed-menu default">
    <div class="wrapper-inner">
        <div class="fixed-menu__content clearfix">
            <div class="fixed-menu__block clearfix">
                <div class="fixed-menu__picture">
                    <img src="{{ static('img/pl1.svg') }}">
                </div>
                <div class="fixed-menu__description">
                    <a href="{{ url('resort-detail', slug=object.hotel.resort.slug) }}" class="fixed-menu__link">{{ object.hotel.resort.name }},
                    </a><span> </span>
                    <a href="{{ url('country-detail', slug=object.hotel.resort.country.slug) }}" class="fixed-menu__link">{{ object.hotel.resort.country.name }}</a>
                    <div class="fixed-menu__label">{{ object.dates.first() }}</div>
                </div>
            </div>
            <div class="fixed-menu__block clearfix">
                <div class="fixed-menu__picture">
                    <img src="{{ static('img/pl2.svg') }}">
                </div>
                <div class="fixed-menu__description">
                    <a href="{{ url('hotel-detail', slug=object.hotel.slug) }}" class="fixed-menu__link">{{ object.hotel.name }} {{ object.hotel.stars }}*</a>
                </div>
            </div>
            <div class="fixed-menu__block clearfix">
                <div class="fixed-menu__picture"><img src="{{ static('img/pl3.svg') }}"></div>
                <div class="fixed-menu__description">
                    <div class="fixed-menu__label2">Вылет из:</div>
                    <a class="fixed-menu__link fixed-menu__link2">{{ object.sending_from }}</a></div>
            </div>
            <div class="fixed-menu__block">
                <div class="fixed-menu__price">{{ object.dates.filter(start__gte=datetime.date.today()).first().uah_cost }} <span class="fixed-menu__price--span">uan</span></div>
            </div>
            <div class="fixed-menu__block">
                <div class="forma__submit fixed-menu__submit fixed-menu__submit-push">Забронировать тур</div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="wrapper-inner">
        <div class="about__content clearfix">
            <div class="about__left">
                <div class="about__name about__name-margin">Описание тура</div>
                <div class="about__block-table">
                    <table class="about__table">
                        <tr class="about__tr">
                            <td class="about__td1">ID тура:</td>
                            <td class="about__td2"></td>
                            <td class="about__td3">{{ object.pk }}</td>
                        </tr>
                        <tr class="about__tr">
                            <td class="about__td1">Тип тура:</td>
                            <td class="about__td2"></td>
                            <td class="about__td3"><a class="about__link">{{ object.type.name }}</a></td>
                        </tr>
                        <tr class="about__tr">
                            <td class="about__td1">Страна:</td>
                            <td class="about__td2"></td>
                            <td class="about__td3"><a href="{{ url('country-detail', slug=object.hotel.resort.country.slug) }}" class="about__link">{{ object.hotel.resort.country.name }}</a></td>
                        </tr>
                        <tr class="about__tr">
                            <td class="about__td1">Курорт:</td>
                            <td class="about__td2"></td>
                            <td class="about__td3"><a href="{{ url('resort-detail', slug=object.hotel.resort.slug) }}" class="about__link">{{ object.hotel.resort.name }}</a></td>
                        </tr>
                        <tr class="about__tr">
                            <td class="about__td1">Отель:</td>
                            <td class="about__td2"></td>
                            <td class="about__td3"><a href="{{ url('hotel-detail', slug=object.hotel.slug) }}" class="about__link">{{ object.hotel.name }} {{ object.hotel.stars }}*</a>
                            </td>
                        </tr>
                        <tr class="about__tr">
                            <td class="about__td1">Отправка из:</td>
                            <td class="about__td2"></td>
                            <td class="about__td3 about__td3-upper">{{ object.sending_from }}</td>
                        </tr>
                        <tr class="about__tr">
                            <td class="about__td1">Продолжительность (д/н):</td>
                            <td class="about__td2"></td>
                            <td class="about__td3">{{ object.duration_days }}/{{ object.duration_nights }}</td>
                        </tr>
                    </table>
                </div>
                <div class="about__desc">Описание отеля:</div>
                <div class="about__text-all">
                    {{ object.hotel.description|safe }}
                </div>
            </div>
            <div class="about__right">
                <div class="about__forma">
                    <form name="date" id="choice-of-dates">
                        <div class="about__forma-top clearfix">
                            <div class="about__date">
                                <div class="about__desc">Дата тура:</div>
                            </div>
                            <div class="about__change">
                                <select size="1" id="tourDate" name="about-date" required class="about__change-select">
                                    {% for dates in object.dates.filter(start__gte=datetime.date.today()) %}
                                        <option value="{{ dates.pk }}">{{ dates }} {% if dates.hot %}*HOT*{% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="about__bottom clearfix">
                            <div class="about__text">
                                <div class="about__desc">Стоимость тура:</div>
                                <div class="about__people">на одного человека</div>
                                <div class="about__kol"><div id="cost">{{ object.dates.filter(start__gte=datetime.date.today()).first().uah_cost }}</div> <span class="about__kol--span">UAH</span></div>
                            </div>
                            <div class="about__push">
                                <div class="fixed-menu__submit-push forma__submit">Забронировать тур</div>
                            </div>
                        </div>
                        <div class="about__part-list clearfix">
                            {% if object.includes.exists() %}
                            <div class="about__part-block">
                                <div class="about__desc">В стоимость входит:</div>
                                <ul class="about__plus-ul">
                                    {% for item in object.includes.all() %}
                                    <li class="about__plus-li">{{ item.name }}{% if item.description %}
                                        <div class="about__plus-icon"></div>
                                        <div class="about__hint">{{ item.description|safe }}</div>{% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% if object.excludes.exists() %}
                            <div class="about__part-block">
                                <div class="about__desc">В стоимость не входит:</div>
                                <ul class="about__plus-ul">
                                    {% for item in object.excludes.all() %}
                                    <li class="about__plus-li about__min-li">{{ item.name }}{% if item.description %}
                                        <div class="about__plus-icon"></div>
                                        <div class="about__hint">{{ item.description|safe }}</div>{% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="about__consult clearfix">
                    <div class="about__consult-picture"><img src="{{ static('img/girls.png') }}" class="about__consult-size">
                        <div class="about__consult-icon"><img src="{{ static('img/yell.svg') }}"></div>
                    </div>
                    <div class="about__consult-desc">
                        <div class="about__consult-text">Не подошла дата или возникли трудности с подбором и/или
                            заказом? Тогда просто позвоните нашим менеджерам по телефонам, указанным ниже, и мы Вам
                            поможем!
                        </div>
                        <div class="about__tel">
                            {% for i in global_settings.phone_numbers.all() %}
                            <p>+38 ({{ i.phone.split(" ")[0] }}) {{ i.phone.split(" ")[1] }} {{ i.phone.split(" ")[2] }}</p>
                            {% endfor %}
                        </div>
                        <div class="about__consult-text about__consult-position">или</div>
                        <div class="about__button-form">заполните форму для подбора тура</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="supply">
    <div class="wrapper-inner">
        <div class="rest__name">Другие предложения</div>
        <div class="hot__content">
            {% include 'includes/hot__part.jinja' %}
        </div>
    </div>
</div>
{% include 'includes/popup-tour.jinja' %}
{% include 'includes/popup-assortment.jinja' %}
    <script>
    $('#tourDate').on('change input select', (e) => {
        $.ajax({
            url: '/utils/get-cost/'+$('#tourDate').val()+'/',
            type: 'get',
            success: function (re) {
                $('#cost').html(re);
            },
            error: function (er) {
            }
        })
    })
    </script>
{% endblock %}