{% extends 'base.jinja' %}
{% block content %}
<div class="documents">
    <div class="wrapper-inner">
        <div class="blog__title">Документы для путешествий</div>
        <div class="documents__wrap">
            <div class="documents__content">
                <div class="documents__type"><a href="documents.html" class="documents__button">Паспорта</a><a
                        href="visa.html" class="documents__button documents__active">Визы</a></div>
                <div class="documents__description visa__description"><p>Оформление БИОМЕТРИЧЕСКОГО загранпаспорта для
                    жителей Киева, Киевской обл., других областей Украины</p>
                    <p>Оформление БИОМЕТРИЧЕСКОГО загранпаспорта для жителей Киева, Киевской обл., других областей
                        Украины</p>
                    <p>Оформление БИОМЕТРИЧЕСКОГО загранпаспорта для жителей Киева, Киевской обл., других областей
                        Украины</p>
                    <p>Оформление БИОМЕТРИЧЕСКОГО загранпаспорта для жителей Киева, Киевской обл., других областей
                        Украины</p>
                    <p>Оформление БИОМЕТРИЧЕСКОГО загранпаспорта для жителей Киева, Киевской обл., других областей
                        Украины</p>
                    <p>Оформление БИОМЕТРИЧЕСКОГО загранпаспорта для жителей Киева, Киевской обл., других областей
                        Украины</p></div><!--table for mobile version-->
                <div class="documents__hat documents__visa-hat">
                    <table class="documents__table documents__visa-table">
                        <tr class="documents__tr">
                            <td class="visa__td visa__fon">страна</td>
                            <td class="visa__td visa__fon">Стоимость</td>
                            <td class="visa__td visa__fon">тип визы</td>
                            <td class="visa__td visa__fon">срок оформления</td>
                            <td class="visa__td visa__fon">необходимые документы</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2">Греция</td>
                            <td class="visa__td visa__td2">460</td>
                            <td class="visa__td visa__td2"><p>180 </p>
                                <p>360</p></td>
                            <td class="visa__td visa__td2">срок оформления</td>
                            <td class="visa__td visa__td2">необходимые документы</td>
                        </tr>
                        <tr class="documents__tr">
                            <td rowspan="3" class="visa__td visa__td2 visa__td-red">Литва</td>
                            <td class="visa__td visa__td2 visa__td-red">320 езженый</td>
                            <td class="visa__td visa__td2 visa__td-red">пол года</td>
                            <td rowspan="3" class="visa__td visa__td2">10 дней</td>
                            <td rowspan="3" class="visa__td visa__td2">минимальный пакет документов</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2 visa__td-red">340 чистый</td>
                            <td class="visa__td visa__td2 visa__td-red">пол года</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2 visa__td-red"><p>420 езженый</p>
                                <p>440 чистый</p></td>
                            <td class="visa__td visa__td2 visa__td-red">год</td>
                        </tr>
                        <tr class="documents__tr">
                            <td rowspan="2" class="visa__td visa__td2">Испания</td>
                            <td class="visa__td visa__td2">450</td>
                            <td class="visa__td visa__td2">90/180</td>
                            <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                            <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2">450</td>
                            <td class="visa__td visa__td2">180</td>
                        </tr>
                        <tr class="documents__tr">
                            <td rowspan="2" class="visa__td visa__td2">Венгрия</td>
                            <td class="visa__td visa__td2">450</td>
                            <td class="visa__td visa__td2">90/180</td>
                            <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                            <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2">450</td>
                            <td class="visa__td visa__td2">180</td>
                        </tr>
                        <tr class="documents__tr">
                            <td rowspan="2" class="visa__td visa__td2 visa__td-red">Словакия</td>
                            <td class="visa__td visa__td2 visa__td-red">340</td>
                            <td class="visa__td visa__td2 visa__td-red"><p>пол года </p>
                                <p>год</p></td>
                            <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                            <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2">123</td>
                            <td class="visa__td visa__td2">180</td>
                        </tr>
                        <tr class="documents__tr">
                            <td rowspan="2" class="visa__td visa__td2">Польша</td>
                            <td class="visa__td visa__td2">450</td>
                            <td class="visa__td visa__td2">90/180</td>
                            <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                            <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2">450</td>
                            <td class="visa__td visa__td2">180</td>
                        </tr>
                        <tr class="documents__tr">
                            <td class="visa__td visa__td2">Италия</td>
                            <td class="visa__td visa__td2">Стоимость</td>
                            <td class="visa__td visa__td2">7</td>
                            <td class="visa__td visa__td2">срок оформления</td>
                            <td class="visa__td visa__td2">необходимые документы</td>
                        </tr>
                    </table>
                </div><!--table for mobile version-->
                <div class="documents__mobile">
                    <div class="documents__all-block">
                        <div class="documents__mobile-block">
                            <div class="documents__mobile-top">
                                <div class="documents__td1-title2">Греция</div>
                            </div>
                            <div class="documents__open documents__visa-open"></div>
                            <div class="documents__close documents__visa-close"></div>
                            <div class="documents__mobile-wrap">
                                <table class="documents__mobile-table">
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__fon">Стоимость</td>
                                        <td class="visa__td visa__fon">тип визы</td>
                                        <td class="visa__td visa__fon">срок оформления</td>
                                        <td class="visa__td visa__fon">необходимые документы</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">460</td>
                                        <td class="visa__td visa__td2"><p>180 </p>
                                            <p>360</p></td>
                                        <td class="visa__td visa__td2">срок оформления</td>
                                        <td class="visa__td visa__td2">необходимые документы</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="documents__all-block">
                        <div class="documents__mobile-block">
                            <div class="documents__mobile-top">
                                <div class="documents__td1-title2">Литва</div>
                            </div>
                            <div class="documents__open documents__visa-open"></div>
                            <div class="documents__close documents__visa-close"></div>
                            <div class="documents__mobile-wrap">
                                <table class="documents__mobile-table">
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__fon">Стоимость</td>
                                        <td class="visa__td visa__fon">тип визы</td>
                                        <td class="visa__td visa__fon">срок оформления</td>
                                        <td class="visa__td visa__fon">необходимые документы</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2 visa__td-red">320 езженый</td>
                                        <td class="visa__td visa__td2 visa__td-red">пол года</td>
                                        <td rowspan="3" class="visa__td visa__td2">10 дней</td>
                                        <td rowspan="3" class="visa__td visa__td2">минимальный пакет документов</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2 visa__td-red">340 чистый</td>
                                        <td class="visa__td visa__td2 visa__td-red">пол года</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2 visa__td-red"><p>420 езженый</p>
                                            <p>440 чистый</p></td>
                                        <td class="visa__td visa__td2 visa__td-red">год</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="documents__all-block">
                        <div class="documents__mobile-block">
                            <div class="documents__mobile-top">
                                <div class="documents__td1-title2">Испания</div>
                            </div>
                            <div class="documents__open documents__visa-open"></div>
                            <div class="documents__close documents__visa-close"></div>
                            <div class="documents__mobile-wrap">
                                <table class="documents__mobile-table">
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__fon">Стоимость</td>
                                        <td class="visa__td visa__fon">тип визы</td>
                                        <td class="visa__td visa__fon">срок оформления</td>
                                        <td class="visa__td visa__fon">необходимые документы</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">450</td>
                                        <td class="visa__td visa__td2">90/180</td>
                                        <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                                        <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">450</td>
                                        <td class="visa__td visa__td2">180</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="documents__all-block">
                        <div class="documents__mobile-block">
                            <div class="documents__mobile-top">
                                <div class="documents__td1-title2">Венгрия</div>
                            </div>
                            <div class="documents__open documents__visa-open"></div>
                            <div class="documents__close documents__visa-close"></div>
                            <div class="documents__mobile-wrap">
                                <table class="documents__mobile-table">
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__fon">Стоимость</td>
                                        <td class="visa__td visa__fon">тип визы</td>
                                        <td class="visa__td visa__fon">срок оформления</td>
                                        <td class="visa__td visa__fon">необходимые документы</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">450</td>
                                        <td class="visa__td visa__td2">90/180</td>
                                        <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                                        <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">450</td>
                                        <td class="visa__td visa__td2">180</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="documents__all-block">
                        <div class="documents__mobile-block">
                            <div class="documents__mobile-top">
                                <div class="documents__td1-title2">Словакия</div>
                            </div>
                            <div class="documents__open documents__visa-open"></div>
                            <div class="documents__close documents__visa-close"></div>
                            <div class="documents__mobile-wrap">
                                <table class="documents__mobile-table">
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__fon">Стоимость</td>
                                        <td class="visa__td visa__fon">тип визы</td>
                                        <td class="visa__td visa__fon">срок оформления</td>
                                        <td class="visa__td visa__fon">необходимые документы</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2 visa__td-red">340</td>
                                        <td class="visa__td visa__td2 visa__td-red"><p>пол года </p>
                                            <p>год</p></td>
                                        <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                                        <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">123</td>
                                        <td class="visa__td visa__td2">180</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="documents__all-block">
                        <div class="documents__mobile-block">
                            <div class="documents__mobile-top">
                                <div class="documents__td1-title2">Польша</div>
                            </div>
                            <div class="documents__open documents__visa-open"></div>
                            <div class="documents__close documents__visa-close"></div>
                            <div class="documents__mobile-wrap">
                                <table class="documents__mobile-table">
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__fon">Стоимость</td>
                                        <td class="visa__td visa__fon">тип визы</td>
                                        <td class="visa__td visa__fon">срок оформления</td>
                                        <td class="visa__td visa__fon">необходимые документы</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">450</td>
                                        <td class="visa__td visa__td2">90/180</td>
                                        <td rowspan="2" class="visa__td visa__td2">10 дней</td>
                                        <td rowspan="2" class="visa__td visa__td2">минимальный пакет документов</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">450</td>
                                        <td class="visa__td visa__td2">180</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="documents__all-block">
                        <div class="documents__mobile-block">
                            <div class="documents__mobile-top">
                                <div class="documents__td1-title2">Италия</div>
                            </div>
                            <div class="documents__open documents__visa-open"></div>
                            <div class="documents__close documents__visa-close"></div>
                            <div class="documents__mobile-wrap">
                                <table class="documents__mobile-table">
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__fon">Стоимость</td>
                                        <td class="visa__td visa__fon">тип визы</td>
                                        <td class="visa__td visa__fon">срок оформления</td>
                                        <td class="visa__td visa__fon">необходимые документы</td>
                                    </tr>
                                    <tr class="documents__tr">
                                        <td class="visa__td visa__td2">Стоимость</td>
                                        <td class="visa__td visa__td2">7</td>
                                        <td class="visa__td visa__td2">срок оформления</td>
                                        <td class="visa__td visa__td2">необходимые документы</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}