.rest-height {
  margin-bottom: 37px;
}
.errow {
  display: block;
  min-width: 1110px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.errow__content {
  padding-top: 10px;
}
.errow__text {
  width: 33%;
  float: left;
  color: #343434;
  margin-left: 60px;
}
.errow__404 {
  font-size: 200px;
  margin-top: 70px;
}
.errow__no-page {
  font-size: 24px;
  text-align: center;
}
.errow__picture {
  width: 55%;
  float: right;
  margin-right: 18px;
  height: 529px;
}
.errow__picture--size {
  max-width: 618px;
  max-height: 529px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1110px) {
  .errow {
    min-width: 960px;
  }
  .errow__picture--size {
    width: 100%;
  }
  .errow__text {
    width: 38%;
  }
  .errow__picture {
    width: 45%;
    height: 420px;
    margin-right: 32px;
  }
  .errow__404 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 960px) {
  .errow {
    min-width: 720px;
  }
  .errow__404 {
    font-size: 140px;
  }
  .errow__no-page {
    font-size: 20px;
  }
  .errow__picture {
    height: 320px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 720px) {
  .errow {
    min-width: 480px;
  }
  .errow__text {
    width: 50%;
    margin-left: 20px;
  }
  .errow__404 {
    font-size: 80px;
    margin-top: 20px;
    text-align: center;
  }
  .errow__no-page {
    font-size: 18px;
  }
  .errow__picture {
    width: 40%;
    height: 190px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 480px) {
  .errow {
    min-width: 320px;
  }
  .errow__text {
    width: 43%;
    margin-left: 0;
  }
  .errow__404 {
    font-size: 50px;
    margin-top: 5px;
  }
  .errow__no-page {
    font-size: 14px;
  }
  .errow__picture {
    width: 50%;
    height: 150px;
    margin-right: 20px;
  }
}
