.top-about {
  display: block;
  min-width: 1110px;
  background: url("../img/ab-fon.png") no-repeat;
  background-position: top center;
}
.top-about__name {
  margin-left: 33px;
}
.top-about__galery {
  padding: 30px 30px 0 30px;
  background: #fff;
}
.nav-block {
  margin-bottom: 45px;
  margin-left: 33px;
}
.nav-block__ul {
  display: table;
  list-style: none;
}
.nav-block__li {
  display: table-cell;
  padding: 0 4px;
}
.nav-block__a {
  text-decoration: none;
  color: #fff;
}
.nav-block__a:hover {
  color: #ffc600;
}
.nav-block__span {
  color: #fff;
}
.fixed-menu {
  display: block;
  min-width: 1110px;
  background: #000;
  opacity: 0.8;
}
.fixed-menu__content {
  padding: 30px 0;
}
.fixed-menu__block {
  width: 24%;
  margin-right: 2.5%;
  float: left;
}
.fixed-menu__block:nth-child(3) {
  width: 12%;
}
.fixed-menu__block:nth-child(4) {
  width: 12%;
}
.fixed-menu__block:last-child {
  width: 18%;
  margin-right: 0;
}
.fixed-menu__picture {
  float: left;
}
.fixed-menu__description {
  margin-left: 48px;
  color: #fff;
}
.fixed-menu__link {
  color: #fff;
  text-transform: uppercase;
}
.fixed-menu__link:hover {
  text-decoration: none;
}
.fixed-menu__label {
  margin-top: 8px;
}
.fixed-menu__label2 {
  margin-bottom: 8px;
}
.fixed-menu__price {
  color: #fff;
  font-size: 24px;
  margin-top: 6px;
}
.fixed-menu__price--span {
  font-size: 14px;
  text-transform: uppercase;
}
.fixed-menu__submit {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  padding: 16px 0;
}
.about {
  display: block;
  min-width: 1110px;
}
.about__content {
  padding: 0 30px 30px 30px;
}
.about__left,
.about__right {
  width: 48.1%;
  float: left;
}
.about__left {
  margin-right: 3.8%;
}
.about__right {
  padding: 0 26px;
}
.about__name {
  font-size: 27px;
  color: #000;
  margin-bottom: 18px;
}
.about__name-margin {
  margin-top: -14px;
}
.about__table {
  width: 100%;
  margin-bottom: 22px;
}
.about__tr {
  width: 100%;
}
.about__td1 {
  font-size: 19px;
  color: #000;
  font-weight: bold;
  padding: 4px 0;
  border-bottom: 1px solid #e3e3e3;
}
.about__td2 {
  width: 2%;
  padding: 4px 0;
  border-bottom: 1px solid #e3e3e3;
}
.about__td3 {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0;
}
.about__td3-upper {
  text-transform: uppercase;
}
.about__link {
  text-transform: uppercase;
  color: #000;
}
.about__link:hover {
  color: #e9b500;
}
.about__text-all {
  margin-top: 7px;
}
.about__text-all p {
  margin-bottom: 15px;
}
.about__text-span1 {
  opacity: 0.6;
}
.about__text-span2 {
  opacity: 0.5;
}
.about__text-span3 {
  opacity: 0.3;
}
.about__text-span4 {
  opacity: 0.2;
}
.about__more {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-top: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}
.about__more:hover {
  text-decoration: none;
  cursor: pointer;
}
.about__right {
  background: #f3f3f3;
}
.about__forma {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
.about__forma-top {
  margin-bottom: 32px;
}
.about__date {
  width: 20%;
  float: left;
}
.about__desc {
  font-size: 18px;
  color: #000;
  margin-top: 12px;
}
.about__kol {
  font-size: 24px;
  font-weight: bold;
}
.about__kol--span {
  font-weight: 100;
  font-size: 14px;
}
.about__change {
  width: 75%;
  float: right;
  overflow: hidden;
  border-radius: 8px;
}
.about__change-select {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
}
.about__text {
  width: 33%;
  float: left;
  text-align: right;
}
.about__push {
  width: 63%;
  float: right;
}
.about__part-list {
  margin-top: 5px;
}
.about__part-block {
  width: 50%;
  float: left;
}
.about__plus-ul {
  margin-left: 10px;
  margin-top: 15px;
}
.about__plus-li:before {
  content: url("../img/v.svg");
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px;
}
.about__plus-li {
  list-style: none;
  font-size: 16px;
  padding-left: 7px;
  margin-bottom: 5px;
  padding-right: 15px;
  position: relative;
}
.about__plus-li {
  color: #000;
  text-decoration: none;
}
.about__plus-li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.about__min-li:before {
  content: url("../img/no.svg");
}
.about__plus-icon {
  display: inline-block;
  margin-left: 12px;
  width: 15px;
  height: 15px;
  background: url("../img/q-one.svg") no-repeat;
}
.about__plus-li:hover .about__plus-icon {
  background: url("../img/qw.svg") no-repeat;
}
.about__hint {
  display: none;
  width: 110%;
  font-size: 14px;
  padding: 18px 12px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  position: absolute;
  top: 24px;
  left: -20px;
  z-index: 1;
}
.about__hint p {
  margin-bottom: 3px;
}
.about__plus-li:hover .about__hint {
  display: block;
}
.about__consult {
  padding: 26px 0;
}
.about__consult--size {
  max-width: 131px;
  max-height: 113px;
}
.about__consult-picture {
  width: 25%;
  float: left;
  position: relative;
}
.about__consult-icon {
  background: #fff;
  border-radius: 18px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.about_consult-size {
  max-width: 112px;
  max-height: 130px;
}
.about__consult-desc {
  width: 70%;
  float: right;
}
.about__consult-text {
  color: #4f4f4f;
}
.about__tel {
  font-size: 22px;
  color: #000;
  text-align: center;
  margin: 10px 0;
}
.about__button-form {
  margin-top: 10px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
.about__button-form:hover {
  cursor: pointer;
  text-decoration: none;
}
.about__text-span-all {
  opacity: 1;
}
.about__text-show {
  display: block;
}
.about__text-hide {
  display: none;
}
.supply {
  display: block;
  min-width: 1110px;
  background: #fafafa;
  border-top: 1px solid #eee;
}
#menu {
  width: 100%;
}
.default {
  width: 100%;
  display: none;
}
.fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
@media screen and (max-width: 1110px) {
  .top-about,
  .about,
  .supply,
  .fixed-menu {
    min-width: 960px;
  }
  .about__date {
    width: 26%;
  }
  .about__change {
    width: 72%;
  }
  .about__push {
    width: 60%;
  }
  .about__text {
    width: 38%;
  }
  .about__consult-picture {
    width: 30%;
  }
  .about__consult-desc {
    width: 65%;
  }
}
@media screen and (max-width: 960px) {
  .top-about,
  .about,
  .supply,
  .fixed-menu {
    min-width: 720px;
  }
  .top-about__name {
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .about__content {
    padding-top: 10px;
  }
  .about__left,
  .about__right {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .about__left {
    padding-bottom: 10px;
  }
  .about__name {
    text-align: center;
  }
  .about__table {
    margin-bottom: 12px;
  }
  .about__td1 {
    font-size: 18px;
  }
  .about__td2 {
    width: 25%;
  }
  .about__td3 {
    font-size: 14px;
  }
  .about__push,
  .about__change {
    width: 70%;
  }
  .about__text {
    width: 25%;
  }
  .about__part-list {
    width: 80%;
    margin: 10px auto 0;
  }
  .about__consult-picture {
    width: 19%;
  }
  .about__consult-desc {
    width: 78%;
  }
  .about__name-margin {
    margin-top: 0;
  }
  .fixed-menu__block {
    width: 35%;
    margin-right: 3%;
  }
  .fixed-menu__block:nth-child(3) {
    width: 18%;
  }
  .fixed-menu__block:nth-child(4) {
    width: 18%;
    margin-top: 10px;
  }
  .fixed-menu__block:last-child {
    width: 35%;
    margin-top: 10px;
  }
  .fixed-menu__description {
    margin-left: 35px;
  }
  .tour__name2 {
    text-align: left;
    margin-left: 33px;
  }
}
@media screen and (max-width: 720px) {
  .top-about,
  .about,
  .supply,
  .fixed-menu {
    min-width: 480px;
  }
  .top-about__name {
    padding-top: 20px;
    margin-bottom: 5px;
  }
  .nav-block {
    margin-bottom: 15px;
  }
  .about__td2 {
    display: none;
  }
  .about__name {
    text-align: left;
  }
  .about__text {
    width: 38%;
  }
  .about__push {
    width: 60%;
  }
  .about__part-list {
    width: 100%;
  }
  .about__consult-picture {
    width: 31%;
  }
  .about__consult-desc {
    width: 66%;
  }
  .about__td1 {
    font-size: 16px;
  }
  .nav-block__li {
    display: block;
    float: left;
    padding: 0 5px;
  }
  .fixed-menu__block {
    width: 46%;
  }
  .fixed-menu__block:nth-child(3) {
    width: 23%;
    margin-top: 10px;
  }
  .fixed-menu__block:nth-child(4) {
    width: 26%;
  }
  .fixed-menu__block:last-child {
    width: 45%;
  }
  .fixed-menu__link,
  .fixed-menu__label,
  .fixed-menu__label2 {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .top-about,
  .about,
  .supply,
  .fixed-menu {
    min-width: 320px;
  }
  .top-about__name {
    padding-top: 10px;
    font-size: 24px;
    margin-left: 5px;
  }
  .nav-block {
    margin-left: 0;
  }
  .nav-block__a {
    font-size: 13px;
  }
  .about__content {
    padding: 0;
  }
  .about__name {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .about__td1 {
    font-size: 14px;
  }
  .about__td3 {
    font-size: 12px;
  }
  .about__left,
  .about__right {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about__forma-top {
    margin-bottom: 10px;
  }
  .about__text-all p {
    margin-bottom: 5px;
  }
  .about__date,
  .about__text {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 5px;
  }
  .about__push,
  .about__change {
    width: 100%;
    float: none;
  }
  .about__part-block {
    float: none;
    width: 100%;
  }
  .about__desc {
    text-align: center;
  }
  .about__consult {
    position: relative;
    height: 300px;
  }
  .about__plus-ul {
    width: 60%;
    margin: 10px auto;
  }
  .about__consult-picture {
    width: 38%;
  }
  .about__consult-desc {
    width: 60%;
    text-align: center;
  }
  .about__tel {
    font-size: 18px;
    position: absolute;
    left: 70px;
    bottom: 50px;
  }
  .about__button-form {
    position: absolute;
    bottom: 15px;
    left: 17px;
  }
  .about__hint {
    width: 130%;
  }
  .about__consult-position {
    position: absolute;
    bottom: 40px;
    left: 130px;
  }
  .fixed-menu__block:nth-child(3) {
    width: 46%;
  }
  .fixed-menu__block:nth-child(4) {
    width: 46%;
  }
  .fixed-menu__block:last-child {
    width: 100%;
  }
  .fixed-menu__link,
  .fixed-menu__label,
  .fixed-menu__label2 {
    font-size: 10px;
  }
  .fixed-menu__label {
    margin-top: 3px;
  }
  .fixed-menu__label2 {
    margin-bottom: 3px;
  }
  .fixed-menu__submit {
    padding: 10px 0;
    font-size: 12px;
  }
}
