.search-tour {
  display: block;
  min-width: 1110px;
  background: url("../img/search-fon.png") no-repeat;
  background-position: top center;
}
.search-tour__content {
  width: 100%;
  padding: 30px;
  background: #fff;
  margin-top: 35px;
}
.search-tour__part {
  width: 100%;
}
.search-tour__block {
  width: 67%;
  float: left;
}
.search-tour__modul {
  width: 100%;
  height: auto;
}
.search-tour__banner {
  width: 29%;
  float: right;
  margin-bottom: 67px;
}
.search-tour__link {
  display: block;
  width: 100%;
  height: 450px;
  background: url("../img/search3.png") no-repeat;
  position: relative;
  text-decoration: none;
}
.search-tour__button {
  width: 128px;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  background: #ffc600;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 85px;
  bottom: 30px;
  color: #343434;
  border-radius: 35px;
}
.search-tour__link:hover .search-tour__button {
  background: #ffd200;
}
.avia {
  background: url("../img/avia2.png") no-repeat;
}
@media screen and (max-width: 1110px) {
  .search-tour {
    min-width: 960px;
  }
  .search-tour__banner {
    width: 33%;
  }
  .search-tour__block {
    width: 64%;
  }
}
@media screen and (max-width: 960px) {
  .search-tour {
    min-width: 720px;
  }
  .search-tour__banner {
    width: 45%;
  }
  .search-tour__block {
    width: 50%;
  }
  .search-tour__link {
    height: 440px;
  }
  .search-tour__name {
    color: #343434;
  }
}
@media screen and (max-width: 720px) {
  .search-tour {
    min-width: 480px;
  }
  .search-tour__banner,
  .search-tour__block {
    width: 100%;
    float: none;
  }
  .search-tour__banner {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .search-tour__link {
    width: 74%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .search-tour {
    min-width: 320px;
  }
  .search-tour__content {
    margin-top: 20px;
    padding: 10px;
  }
  .search-tour__link {
    width: 100%;
  }
}
